<div id="coOcurring" ng-show="showCoocurring">
  <h3>
    <strong>Co-occurrence statistics</strong>
  </h3>

  <p>These tables show the number of times the term listed in the
    table has been co-annotated with {{termModel.termId}}. The terms are listed in
    descending order of number of times the term has been co-annotated.
    The table on the left is calculated using both electronic and
    manual-evidenced annotations, while the table on the right is
    calculated using only manual-evidenced annotations.</p>
  <div id="allCoOccurringStats" class="grid_6" style="overflow-x: auto">
      <h5 ng-show="termModel.allCoOccurrenceStatsTerms.length == 0">
        <element class='icon icon-generic' data-icon='l'>
          No co-occurring statistics for {{termModel.termId}} based on the entire annotation set</element>
      </h5>
    <div ng-show="termModel.allCoOccurrenceStatsTerms.length > 0">
      <h5>Co-occurrence statistics for {{termModel.termId}} based on the entire annotation set</h5>
      <table id="allCoOccurringStatsTable" class="two-colours" style="font-size: 90%;">
        <tr>
          <th>Compared term</th>
          <th>Aspect</th>
          <th>Name</th>
          <th>PR</th>
          <th>S%</th>
          <th>#Together</th>
          <th>#Compared</th>
        </tr>
          <tr ng-repeat="allStat in termModel.allCoOccurrenceStatsTerms">
            <td><a ng-href="/term/{{allStat.comparedTerm}}">{{allStat.comparedTerm}}</a></td>
            <td>{{allStat.aspect}}</td><td>{{allStat.name}}</td><td>{{allStat.probabilityRatio}}</td>
            <td>{{allStat.probabilitySimilarityRatio}}</td><td>{{allStat.together}}</td>
            <td>{{allStat.compared}}</td>
          </tr>
        <tr><td colspan="5"><strong>Totals</strong></td><td>{{totalTogetherAllStats}}</td><td>{{totalComparedAllStats}}</td></tr>
      </table>
    </div>
    <div>
  </div>
  <div id="nonIEACoOccurringStats" class="grid_6" style="overflow-x: auto">
      <h5 ng-show="termModel.nonIEACOOccurrenceStatistics.length == 0">
        <element class='icon icon-generic' data-icon='l'>
          No co-occurring statistics for {{termModel.termId}} based on manual annotations
        </element>
      </h5>
    <div ng-show="termModel.nonIEACOOccurrenceStatistics.length > 0">
      <h5>Co-occurrence statistics for {{termModel.termId}} based on manual annotations only</h5>
      <table id="nonIEACoOccurringStatsTable" class="two-colours" style="font-size: 90%;">
        <tr>
          <th>Compared term</th>
          <th>Aspect</th>
          <th>Name</th>
          <th>PR</th>
          <th>S%</th>
          <th>#Together</th>
          <th>#Compared</th>
        </tr>
          <tr ng-repeat="nonIEAStat in termModel.nonIEACOOccurrenceStatistics">
            <td><a ng-href="/term/{{termModel.nonIEAStat.comparedTerm}}">{{termModel.nonIEAStat.comparedTerm}}</a></td>
            <td>{{termModel.nonIEAStat.aspect}}</td>
            <td>{{termModel.nonIEAStat.name}}</td>
            <td>{{termModel.nonIEAStat.probabilityRatio}}</td>
            <td>{{termModel.nonIEAStat.probabilitySimilarityRatio}}</td>
            <td>{{termModel.nonIEAStat.together}}</td>
            <td>{{termModel.nonIEAStat.compared}}</td>
          </tr>

        <tr><td colspan="5"><strong>Totals</strong></td><td>{{totalTogetherNonIEAStats}}</td><td>{{totalComparedNonIEAStats}}</td></tr>
      </table>
    </div>
  </div>
  </div>
</div>
