<div id="termHistory" ng-show="showHistory">
  <h3>
    <strong>Change Log</strong>
  </h3>

  <div id="termHistoryTabs">

    <accordion close-others="oneAtATime">
      <accordion-group heading="All changes" is-open="false" is-disabled="termModel.history.historyAll.length==0">
        <div id="allchanges">
          <table id="allChangesTable" class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history.historyAll">
              <td>{{history.timestamp}}</td>
              <td>{{history.actionString}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </div>
      </accordion-group>
      <accordion-group heading="Term" is-open="false" is-disabled="termModel.history.historyTerms.length==0">
        <div id="termchanges">
          <table id="termchangesTable" class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history.historyTerms">
              <td>{{history.timestamp}}</td>
              <td>{{history.actionString}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </div>
      </accordion-group>
      <accordion-group heading="Definition/Synonyms" is-open="false" is-disabled="termModel.history.historyDefinitions.length==0">
        <div id="definitionchanges">
          <table id="definitionchangesTable" class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
              <tr ng-repeat="history in termModel.history.historyDefinitions">
                <td>{{history.timestamp}}</td>
                <td>{{history.actionString}}</td>
                <td>{{history.category}}</td>
                <td>{{history.text}}</td>
              </tr>
          </table>
        </div>
      </accordion-group>
      <accordion-group heading="Relationships" is-open="false" is-disabled="termModel.history.historyRelations.length==0">
        <div id="relationshipschanges">
          <table id="relationshipschangesTable" class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
              <tr ng-repeat="history in termModel.history.historyRelations">
                <td>{{history.timestamp}}</td>
                <td>{{history.actionString}}</td>
                <td>{{history.category}}</td>
                <td>{{history.text}}</td>
              </tr>
          </table>
        </div>
      </accordion-group>
      <accordion-group heading="Other" is-open="false" is-disabled="termModel.history.historyOther.length==0">
        <div id="otherchanges">
          <table id="otherchangesTable" class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
              <tr ng-repeat="history in termModel.history.historyOther">
                <td>{{history.timestamp}}</td>
                <td>{{history.actionString}}</td>
                <td>{{history.category}}</td>
                <td>{{history.text}}</td>
              </tr>
          </table>
        </div>
      </accordion-group>
      <accordion-group heading="Cross-references" is-open="false" is-disabled="termModel.history.historyXRefs.length==0">
        <div id="xrefschanges">
          <table id="xrefschangesTable" class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
              <tr ng-repeat="history in termModel.history.historyXRefs">
                <td>{{history.timestamp}}</td>
                <td>{{history.actionString}}</td>
                <td>{{history.category}}</td>
                <td>{{history.text}}</td>
              </tr>
          </table>
        </div>
        </accordion-group>
      <accordion-group heading="Obsoletions" is-open="false" is-disabled="termModel.history.historyObsoletions.length==0">
        <div id="obsoletionschanges">
          <table id="obsoletionschangesTable" class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
              <tr ng-repeat="history in termModel.history.historyObsoletions">
                <td>{{history.timestamp}}</td>
                <td>{{history.actionString}}</td>
                <td>{{history.category}}</td>
                <td>{{history.text}}</td>
              </tr>
          </table>
        </div>
  </div>
        </accordion-group>
    </accordion>
</div>
