<div id="content" class="container_12" xmlns="http://www.w3.org/1999/html">
  <div class="sidebar grid_9">
    <h2 class="page-title">{{termModel.termId}}&nbsp;{{termModel.name}}</h2>
    <img ng-show="isLoading" src="images/ajax-loader.gif">
  </div>
  <div class="mainContent grid_1">
    <p></p>
  </div>
  <div class="grid_2">
    Basket:&nbsp;<span id="basket-count" style="display: inline;">{{countBasket}}</span>&nbsp;&nbsp;
    <button class="btn btn-default" ng-click="showBasket()">Show Basket</button>
  </div>
  <div class="clearfix"></div>

  <div class="sidebar grid_2">
    <div id="entrySidebar">
      <div class="sidebarsubsection" style="position: fixed">
        <h3 class="first">
          <strong>Display</strong>
        </h3>
        <ul id="entry_sections">
          <li>
            <div>
              <input type="checkbox"  ng-model="termInformation">
              <span ng-click="scrollTo('termInformation')">
              Term Information
              </span>
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox" ng-model="ancestorChart">
              <span ng-click="scrollTo('ancestorChart')">
              Ancestor Chart
              </span>
            </div>
          </li>
          <div ng-show="termModel.goTerm">
            <li>
              <div>
                <input type="checkbox" ng-model="childTerms">
                <span ng-click="scrollTo('childTerms')">
                Child Terms
                </span>
              </div>
            </li>
            <li>
              <div>
                <input type="checkbox" ng-model="coOcurring"> <span ng-click="scrollTo('coOcurring')">
                Co-occurring Terms
                </span>
              </div>
            </li>
            <li>
              <div>
                <input type="checkbox" ng-model="termHistory">
                <span ng-click="scrollTo('termHistory')">
                Change Log
                </span>
              </div>
            </li>
          </div>
        </ul>

                <span ng-show="termModel.goTerm">
          <element data-icon="i" id="show-term-annotations" class="closed icon icon-functional button"
                   value="{{termModel.termId}}"
                   style="cursor:pointer" ng-click="showTermAnnotations(termModel.termId)">Show annotations
          </element>
        </span>

      </div>

    </div>
  </div>

  <!--End of side bar information-->

  <!-- Main Content -->
  <div class="mainContent grid_10" style="float:right">
    <div ng-show="termModel.goTerm">
      <ul class="action-buttons-grouped decorated" id="resultActionButtons">
        <div id="add-to-basket-div">

          <button ng-show="preventAddToBasket" disabled>Add to Basket</button>
          <button ng-show="allowAddToBasket" ng-click="addItem(termModel.termId,termModel.name)">Add to Basket</button>
        </div>
      </ul>
    </div>
    <div style="display: block;" id="resultsArea">
      <!-- Check if it's obsolete -->
      <div class="alert" ng-show="isObsolete">
        <element id="warning" class="icon icon-generic" data-icon="l" href="#"></element>
        <strong>This term is obsolete.</strong><br/>
        {{termModel.comment}}
      </div>
      <br/>

      <!-- Term information -->
      <div ng-include src="'term/termInformation.html'"></div>
      <div class="clearfix"></div>

      <!-- Ancestors graph -->
      <div ng-include src="'term/ancestorsGraph.html'"></div>
      <div class="clearfix"></div>

      <!-- Child Terms -->
      <div ng-show="true" ng-include src="'term/childTerms.html'"></div>
      <div class="clearfix"></div>

      <!-- Co-occurring terms -->
      <div ng-show="true" ng-include src="'term/coOccuring.html'"></div>
      <div class="clearfix"></div>

      <!-- Change log -->
      <div ng-show="true" ng-include src="'term/history.html'"></div>

    </div>
  </div>
  <div class="clearfix"></div>
</div>

