<div id="termInformation" ng-show="termInformation">
  <h3>
    <strong>Term information</strong>
  </h3>
  <table>
    <tr>
      <td class="first">ID</td>
      <td>{{termModel.termId}}</td>
    </tr>
    <tr>
      <td class="first">Name</td>
      <td>{{termModel.name}}</td>
    </tr>
      <tr ng-show="termModel.goTerm">
        <td class="first">Ontology</td>
        <td>{{termModel.aspectDescription}}</td>
      </tr>
    <tr>
      <td class="first">Definition</td>
      <td>
        {{termModel.definition}}
        <div class="clearfix"/>
        <li ng-repeat="xrefDef in termModel.definitionXrefs">
          <a href="http://europepmc.org/abstract/MED/{{xrefDef.id}}" target="_blank">{{xrefDef.db}}:{{xrefDef.id}}</a>
        </li>
      </td>
    </tr>
      <tr ng-show="showRestrictions">
        <td class="first">Restrictions</td>
        <td>
					<span style="background-color:#FFFBCC;">{{termModel.usage.description}}
					<div ng-if="termModel.comment !=''">See comment below for further information.</div></span>
        </td>
      </tr>
      <tr ng-if="termModel.comment !='' && termModel.comment !== null">
        <td class="first">Comment</td>
        <td>{{termModel.comment}}</td>
      </tr>
      <tr ng-if="termModel.altIds.length>0">
        <td class="first">Secondary IDs</td>
        <td id="secondariesColumn">{{termModel.altIdsString}}</td>
      </tr>
      <tr ng-if="termModel.goTerm">
        <td class="first">GONUTS</td>
        <td><a href="http://gowiki.tamu.edu/wiki/index.php/Category:{{termModel.termId}}" target="_blank">{{termModel.termId}} Wiki Page</a></td>
      </tr>
      <tr ng-if="termModel.credits.length>0">
        <td class="first">Acknowledgements</td>
        <td>
          <li ng-repeat="credit in termModel.credits">
            This term was created by the GO Consortium with support from
            <a ng-if="termModel.credit.code == 'BHF'" href="termModel.credit.url" target="_blank"><img src="http://www.bhf.org.uk/images/logo.jpg" alt="BHF image" style="width:50px;height:45px;" /></a>
            <a ng-if="termModel.credit.code == 'KRUK'" href="termModel.credit.url" target="_blank"> <img src="http://www.kidneyresearchuk.org/img/logos/kidneyresearchuk-logo_201x85.png" alt="KRUK image" style="width:90px;height:45px;" /></a>
            </a>
          </li>
        </td>
      </tr>
  </table>

  <accordion close-others="oneAtATime">
    <accordion-group heading="Synonyms" is-open="false" is-disabled="termModel.synonyms.length==0" ng-show="isGoTerm">
    <p>Synonyms are alternative words or phrases closely related in meaning to the term name, with indication of the relationship between the name and synonym given by the synonym scope.</p>
    <table id="synonymsTableAccordian" class="two-colours">
      <tr>
        <th>Type</th>
        <th>Synonym</th>
      </tr>
      <tr ng-repeat="synonym in termModel.synonyms">
        <td>{{synonym.type}}</td>
        <td>{{synonym.name}}</td>
      </tr>
    </table>
    </accordion-group>
    <accordion-group heading="Taxon Constraints" is-disabled="termModel.taxonConstraints.length==0" ng-show="isGoTerm">
      <p>The use of this term should conform to the following taxon constraints:</p>
      <table id="taxonconstraintsTable" class="two-colours">
        <tr>
          <th>Taxon Rule</th>
          <th>Ancestor GO ID</th>
          <th>Ancestor GO Term Name</th>
          <th>Relationship</th>
          <th>Taxon ID</th>
          <th>Taxon</th>
          <th>Reference(s)</th>
        </tr>
        <tr ng-repeat="taxonconstraint in termModel.taxonConstraints">
          <td>{{taxonconstraint.ruleId}}</td>
          <td><a href="/term/{{taxonconstraint.goId}}">{{taxonconstraint.goId}}</a></td>
          <td>{{taxonconstraint.name}}</td>
          <td>{{taxonconstraint.relationship.text}</td>
          <td>{{taxonconstraint.taxId}}</td>
          <td>{{taxonconstraint.taxonName}}</td>
          <td>
            <li ng-repeat="source in taxonconstraint.sources">
              <a href="{{source.url}}" target="_blank">{{source.pmid}}</a>
            </li>
          </td>
        </tr>
      </table>
    </accordion-group>
    <accordion-group heading="Annotation Guidance" is-disabled="termModel.guidelines.length==0" ng-show="isGoTerm">
      <p>Usage of this term is subject to the following annotation guidelines:</p>
      <table id="guidelineTable" class="two-colours">
        <tr>
          <th colspan="2">Annotation Guidelines</th>
        </tr>
        <tr ng-repeat="guideline in termModel.guidelines">
          <td>{{guideline.title}}</td>
          <td><a href="{{guideline.url}}" target="_blanket">Link</a></td>
        </tr>
      </table>
    </accordion-group>
    <accordion-group heading="Cross-Ontology Relations" is-disabled="termModel.crossOntologyRelations.length==0" ng-show="isGoTerm">
      <table id="ontologyrelationsTable" class="two-colours">
        <tr>
          <th>Relation</th><th>Other Ontology</th><th>ID</th><th>Term</th>
        </tr>
        <tr ng-repeat="crossontology in termModel.crossOntologyRelations">
          <td>{{crossontology.relation}}</td>
          <td>{{crossontology.otherNamespace}}</td>
          <td><a href="{{crossontology.url}}" target="_blanket">{{crossontology.foreignID}}</a></td>
          <td>{{crossontology.foreignTerm}}</td>
        </tr>
      </table>
    </accordion-group>
    <accordion-group heading="GO Slims" is-open="false" is-disabled="termModel.subsets.length==0" ng-show="isGoTerm">
      <p>This term is present in the following GO Consortium-maintained GO slims:</p>
      <table id="subsetsTable" class="two-colours">
        <tr>
          <th>GO slim name</th>
        </tr>
        <tr ng-repeat="subset in termModel.subsets">
          <td>{{subset.name}}</td>
        </tr>
      </table>
    </accordion-group >
    <accordion-group heading="Cross-references" is-open="false" is-disabled="termModel.xrefs.length==0">
      <table id="xrefTable" class="two-colours">
        <tr>
          <th>Database</th>
          <th>ID</th>
          <th>Description</th>
        </tr>
        <tr ng-repeat="xref in termModel.xrefs">
          <td>{{xref.db}}</td>
          <td>{{xref.id}}</td>
          <td><a ng-href="http://www.ebi.ac.uk/interpro/entry/{{xref.id}}" target="_blank">{{xref.name}}</a></td>
        </tr>
      </table>
    </accordion-group>
    <accordion-group heading="Replaces" is-open="false" is-disabled="termModel.replaces.length==0" ng-show="isGoTerm">
      <p>This term can be used instead of these obsolete terms:</p>
      <table id="replacesTable" class="two-colours">
        <tr>
          <th>GO Identifier</th>
          <th>GO Term Name</th>
          <th>Reason</th>
        </tr>
        <tr ng-repeat="replacement in termModel.replaces">
          <td><a href="/term/{{replacement.child.id}}">{{replacement.child.id}}</a></td>
          <td>{{replacement.child.name}}</td>
          <td>{{replacement.typeof.description}} <a href="/term/{{replacement.parent.id}}">{{replacement.parent.id}}</a></td>
        </tr>
      </table>
    </accordion-group>
    <accordion-group heading="Replaced by" is-open="false" is-disabled="termModel.replacements.length==0" ng-show="isGoTerm">
      <p>This term is obsolete. Try one of these terms:</p>
      <table id="replacementsTable" class="two-colours">
        <tr>
          <th>Advice</th>
          <th>GO Identifier</th>
          <th>Ontology</th>
          <th>GO Term Name</th>
        </tr>
        <tr ng-repeat="replacedby in termModel.replacements">
          <td>{{replacedby.typeof.description}}</td>
          <td><a href="/term/{{replacedby.parent.id}}">{{replacedby.parent.id}}</a></td>
          <td>{{replacedby.parent.aspectDescription}}</td>
          <td>{{replacedby.parent.name}}</td>
        </tr>
      </table>
    </accordion-group>
  </accordion>

</div>
