<div id="content"  class="rowz" role="main" cg-busy="termPromise" ng-if="termModel.id">
  <section class="columns medium-9" id="container">
  <!-- Title section -->
  <section class="panel" id="overview">
    <section>
    <!-- Check if it is obsolete -->
    <div class="callout alert" ng-show="isObsolete">
      <element id="warning" class="icon icon-generic" data-icon="l" href="#"></element>
      <strong>This term is obsolete.</strong><br/>
      {{termModel.comment}}
    </div>
    <h2 class="page-title">
      {{termModel.id}}
      <aspect-icon aspect="termModel.aspect"></aspect-icon>
      <basket-button termid="{{termModel.id}}" icondisabled="{{termModel.isObsolete}}"></basket-button>
      <a ng-href="{{jsonLink}}" target="_blank"><span class="icon-generic annotations-link json-link" data-icon="L"> JSON</span></a>
    </h2>




    <!-- Term name -->
    <h3>{{termModel.name}}</h3>


    <!-- Ontology -->
    <p ng-show="isGoTerm"><strong>{{readableAspect}}</strong></p>



    <!-- Definition -->

      <h5>Definition <span ng-if="isGoTerm" style="display:inline-block">
        (<a class="quickgo-link gonuts-link" href="http://gowiki.tamu.edu/wiki/index.php/Category:{{termModel.id}}"
            target="_blank">{{termModel.id}}
        GONUTS page</a>)
      </span></h5>

      <p>
        {{termModel.definition.text}}
          <span ng-repeat="xrefDef in termModel.definition.xrefs">
            <span ng-if="xrefDef.dbCode === 'PMID'">
              <a class="quickgo-link" ng-click="followLinkToEntry(xrefDef.dbId, xrefDef.dbCode)" target="_blank">
                {{(xrefDef.dbCode + ':' + xrefDef.dbId)}}
              </a>
            </span>
          </span>
      </p>
    </section>


    <!-- Restrictions -->
    <section ng-if="showRestrictions" class="column row">
    <h5>Restrictions</h5>
    <p>
      <span ng-if="termModel.usage === 'Electronic'">This term should not be used for direct manual annotation; it may, however, be used for mapping to external vocabularies in order to create electronic annotations.</span>
      <span ng-if="termModel.usage === 'None'">This term should not be used for direct annotation.</span>
      <br />
      <span ng-if="termModel.comment">See comment below for further information.</span>
    </p>
    </section>

    <!-- Comments -->
    <section ng-if="termModel.comment">
      <h5>Comments</h5>
      <p>{{termModel.comment}}</p>
    </section>

    <section ng-if="termModel.secondaryIds.length > 0">
      <h5>Secondary IDs</h5>
      <p class="obsolete">{{termModel.secondaryIdsString}}</p>
    </section>

    <!-- Aknowledgements -->
    <section ng-if="termModel.credits.length > 0">
      <h5>Acknowledgement</h5>
      <p>
          This term was created by the GO Consortium with support from:
            <span ng-repeat="credit in termModel.credits">
              <a ng-if="credit.code === 'BHF'" href="{{credit.url}}" target="_blank"><img
                src="//www.bhf.org.uk/~/media/images/admin/logo/bhf-logo.png" alt="BHF image" class="credit-image"/></a>
              <a ng-if="credit.code === 'KRUK'" href="{{credit.url}}" target="_blank"> <img
                src="//www.kidneyresearchuk.org/img/logos/kidneyresearchuk-logo_201x85.png" alt="KRUK image"
                class="credit-image"/></a>
              <a ng-if="credit.code === 'PARKUK'" href="{{credit.url}}" target="_blank"> <img
                src="images/parkuk-logo.png" alt="PARK image"
                class="credit-image"/></a>
              <a ng-if="credit.code === 'ARUK'" href="{{credit.url}}" target="_blank"> <img
                src="images/ARUK_logo.png" alt="ARUK logo"
                class="credit-image"/></a>
            </span>
      </p>
    </section>

    <!-- Buttons -->
    <p>
      <annotations-link term-id="termModel.id" ng-if="!termModel.isObsolete"></annotations-link>
    </p>
  </section>
  <!-- End of title section -->

  <div class="clearfix"></div>

  <!-- Main Content -->
  <div>
    <section id="termSynonyms" ng-if="termModel.synonyms.length > 0" class="column row">
      <h3 class="term-section-header">Synonyms</h3>
      <p>Synonyms are alternative words or phrases closely related in meaning to the term name, with indication
        of the relationship between the name and synonym given by the synonym scope.</p>
      <table id="synonymsTableAccordian">
        <tr>
          <th>Synonym</th>
          <th>Type</th>
        </tr>
        <tr ng-repeat="synonym in termModel.synonyms | limitTo:synonymPageSize">
          <td>{{synonym.name}}</td>
          <td>{{synonym.type}}</td>
        </tr>
      </table>
      <button ng-show="synonymPageSize < termModel.synonyms.length" ng-click="synonymPageSize = termModel.synonyms.length" class="button hollow">show all</span>
      <button ng-show="(synonymPageSize === termModel.synonyms.length && termModel.synonyms.length > defaultPageSize)" ng-click="synonymPageSize = defaultPageSize" class="button hollow">show less</span>
    </section>

    <!-- Ancestors graph -->
    <section id="ancestorChart" ng-if="!isObsolete" class="column row">
      <h3 class="term-section-header">Ancestor Chart <small><chart-icon ids="{{termModel.id}}"></chart-icon></small></h3>
      <chart ids="termModel.id"></chart-icon>
    </section>

    <!-- Child Terms -->
    <section id="childTerms" ng-if="termModel.children.length > 0" ng-hide="isObsolete" class="column row">
      <h3 class="term-section-header">Child Terms</h3>
      <p>This table lists all terms that are direct descendants (child terms) of {{termModel.id}}</p>
      <div>
        <table>
          <tr>
            <th>Child Term</th>
            <th>Relationship to </br>{{termModel.id}}</th>
          </tr>
          <tr ng-repeat="childRelation in termModel.children | limitTo:childTermsPageSize">
            <td>
              <term-line id="childRelation.id" aspect="childRelation.aspect" obsolete="childRelation.isObsolete" name="childRelation.name"></term-line>
            </td>
            <td>{{childRelation.relation}}</td>
          </tr>
        </table>
        <button ng-show="childTermsPageSize < termModel.children.length" ng-click="childTermsPageSize = termModel.children.length" class="button hollow">show all</button>
        <button ng-show="(childTermsPageSize === termModel.children.length && termModel.children.length > defaultPageSize)" ng-click="childTermsPageSize = defaultPageSize" class="button hollow">show less</button>
      </div>
    </section>

    <!-- Annotation Guidance -->
    <section id="termAnnotationGuidance" ng-if="termModel.annotationGuidelines.length > 0" class="column row">
      <h3 class="term-section-header">Annotation Guidance</h3>
      <p>Usage of this term is subject to the following annotation guidelines:</p>
      <table id="guidelineTable">

        <tr ng-repeat="guideline in termModel.annotationGuidelines">
          <td>{{guideline.description}}</td>
          <td><a class="quickgo-link" href="{{guideline.url}}" target="_blanket">Link</a></td>
        </tr>
      </table>
    </section>

    <!-- GO Discussions AKA Planned Changes-->
    <section id="goDiscussions" ng-if="termModel.goDiscussions.length > 0" class="column row">
      <h3 class="term-section-header">GO Discussions</h3>
      <p>The GO editorial group is intending to improve the information provided in this area of the GO.
        If you would like to be involved in discussions regarding this development activity, please email the GO Consortium.
        Please note that it is still appropriate to use this term for curation or analysis purpose:</p>
      <table id="plannedChangesTable">
        <tr>
          <th colspan="2">Ontology Development Project</th>
        </tr>
        <tr ng-repeat="plannedChange in termModel.goDiscussions">
          <td>{{plannedChange.title}}</td>
          <td><a class="quickgo-link" href="{{plannedChange.url}}" target="_blank">Link</a></td>
        </tr>
      </table>
    </section>

    <!-- Taxon Constraints -->
    <section id="termTaxonConstraints" ng-if="termModel.taxonConstraints.length > 0" class="column row">
      <h3 class="term-section-header">Taxon Constraints</h3>
      <p>The use of this term should conform to the following taxon constraints:</p>
      <table id="taxonconstraintsTable">
        <tr>
          <th>Ancestor GO ID</th>
          <th>Ancestor GO Term Name</th>
          <th>Relationship</th>
          <th>Taxon ID</th>
          <th>Taxon</th>
          <th>Reference(s)</th>
        </tr>
        <tr ng-repeat="taxonconstraint in termModel.taxonConstraints | limitTo:taxonConstraintsPageSize">
          <td><a class="quickgo-link" href="term/{{taxonconstraint.ancestorId}}">{{taxonconstraint.ancestorId}}</a></td>
          <td>{{taxonconstraint.ancestorName}}</td>
          <td ng-if="taxonconstraint.relationship === 'only_in_taxon'">Only in Taxon</td>
          <td ng-if="taxonconstraint.relationship !== 'only_in_taxon'">Never in Taxon</td>
          <td>{{taxonconstraint.taxId}}</td>
          <td>{{taxonconstraint.taxName}}</td>
          <td>
            <li ng-repeat="citation in taxonconstraint.citations">
              <span ng-if="citation.id.indexOf('PMID:') === 0">
                <a class="quickgo-link" ng-click="followLinkToEntry(citation.id)" target="_blank">
                  {{citation.id}}
                </a>
              </span>
            </li>
          </td>
        </tr>
      </table>
      <button ng-show="taxonConstraintsPageSize < termModel.taxonConstraints.length" ng-click="taxonConstraintsPageSize = termModel.taxonConstraints.length" class="button hollow">show all</button>
      <button ng-show="(taxonConstraintsPageSize === termModel.taxonConstraints.length && termModel.taxonConstraints.length > defaultPageSize)" ng-click="taxonConstraintsPageSize = defaultPageSize" class="button hollow">show less</button>

      <p>More information on taxon constraints in GO is available <a target="_blank" href="http://www.geneontology.org/cgi-bin/references.cgi#GO_REF:0000056">here</a></p>
    </section>

    <!--Blacklist-->
    <section id="blacklist" ng-if="termModel.blacklist.length > 0" ng-hide="!isGoTerm" class="column row">
      <h3 class="term-section-header">Annotation Blacklist</h3>
      <p>This list aims to correct incorrect annotations to UniProtKB accessions inferred from electronic annotation (IEA) methods that are supplied by the UniProt-GOA project to the GO Consortium:</p>
      <table>
        <tr>
          <th>Category</th>
          <th>Entity Type</th>
          <th>Entity ID</th>
          <th>Taxon ID</th>
          <th>Entity Name</th>
          <th>Ancestor GO ID</th>
          <th>Reason</th>
          <th>Rule/Method ID</th>
        </tr>
        <tr ng-repeat="entry in termModel.blacklist | limitTo:blacklistPageSize">
          <td>{{entry.category}}</td>
          <td>{{entry.entityType}}</td>
          <td>{{entry.entityId}}</td>
          <td>{{entry.taxonId}}</td>
          <td>{{entry.entityName}}</td>
          <td>{{entry.ancestorGoId}}</td>
          <td>{{entry.reason}}</td>
          <td>{{entry.methodId}}</td>
        </tr>
      </table>
      <button ng-show="blacklistPageSize < termModel.blacklist.length" ng-click="blacklistPageSize = termModel.blacklist.length" class="button hollow">show all</button>
      <button ng-show="(blacklistPageSize === termModel.blacklist.length && termModel.blacklist.length > defaultPageSize)" ng-click="blacklistPageSize = defaultPageSize" class="button hollow">show less</button>
    </section>

    <!-- Cross References-->
    <section id="termCrossReferences" ng-if="termModel.xRefs.length > 0" class="column row">
      <h3 class="term-section-header">Cross-references</h3>
      <table id="termCrossReferencesTable">
      <tr>
        <th>Database</th>
        <th>ID</th>
        <th>Description</th>
      </tr>
      <tr ng-repeat="xref in termModel.xRefs | limitTo:crossrefsPageSize">
        <td><a ng-click="followLinkToGeneric(xref.dbCode)" target="_blank">{{xref.dbCode}}</a></td>
        <td><a ng-click="followLinkToEntry(xref.dbId, xref.dbCode)" target="_blank">{{xref.dbId}}</a></td>
        <td>{{xref.name}}</td>
      </tr>
      </table>
      <button ng-show="crossrefsPageSize < termModel.xRefs.length" ng-click="crossrefsPageSize = termModel.xRefs.length" class="button hollow">show all</button>
      <button ng-show="(crossrefsPageSize === termModel.xRefs.length && termModel.xRefs.length > defaultPageSize)" ng-click="crossrefsPageSize = defaultPageSize" class="button hollow">show less</button>
    </section>

    <!-- Cross Ontology Relations -->
    <section id="termCrossOntologyRelations" ng-if="termModel.xRelations.length > 0" class="column row">
      <h3 class="term-section-header">Cross-Ontology Relations</h3>
      <table id="ontologyrelationsTable">
        <tr>
          <th>Relation</th>
          <th>Other Ontology</th>
          <th>ID</th>
          <th>Term</th>
        </tr>
        <tr ng-repeat="crossontology in termModel.xRelations | limitTo:crossOntologyPageSize">
          <td>{{crossontology.relation}}</td>
          <td>{{crossontology.namespace}}</td>
          <td><a class="quickgo-link" href="{{crossontology.url}}" target="_blank">{{crossontology.id}}</a></td>
          <td>{{crossontology.term}}</td>
        </tr>
      </table>
      <button ng-show="crossOntologyPageSize < termModel.xRelations.length" ng-click="crossOntologyPageSize = termModel.xRelations.length" class="button hollow">show all</button>
      <button ng-show="(crossOntologyPageSize === termModel.xRelations.length && termModel.xRelations.length > defaultPageSize)" ng-click="crossOntologyPageSize = defaultPageSize" class="button hollow">show less</button>
    </section>

    <!-- Protein complex -->
    <section id="termProteinComplexes" ng-if="termModel.proteinComplexes.length > 0" class="column row">
      <h3 class="term-section-header">Protein Complexes</h3>
      <table id="proteinComplexesTable">
        <tr>
          <th>Database</th>
          <th>ID</th>
          <th>Name</th>
        </tr>
        <tr ng-repeat="complex in termModel.proteinComplexes | limitTo:proteinComplexesPageSize">
          <td>
            <a class="quickgo-link selectable" ng-click="followLinkToGeneric(complex.dbCode)" target="_blank">
              {{complex.dbCode}}
            </a>
          </td>
          <td>
            <a class="quickgo-link" ng-click="followLinkToEntry(complex.dbId, complex.dbCode)" target="_blank">
              {{complex.symbol}}
            </a>
          </td>
          <td>{{complex.name}}</td>
        </tr>
      </table>
      <button ng-show="proteinComplexesPageSize < termModel.proteinComplexes.length" ng-click="proteinComplexesPageSize = termModel.proteinComplexes.length" class="button hollow">show all</button>
      <button ng-show="(proteinComplexesPageSize === termModel.proteinComplexes.length && termModel.proteinComplexes.length > defaultPageSize)" ng-click="proteinComplexesPageSize = defaultPageSize" class="button hollow">show less</button>
    </section>

    <!-- show Replaces-->
    <section id="termReplaces" ng-if="termModel.replaces.length > 0" class="column row">
      <h3 class="term-section-header">Replaces</h3>
      <p>This term can be used instead of these obsolete terms:</p>
      <table id="replacesTable">
        <tr>
          <th>GO Identifier</th>
          <th>GO Term Name</th>
          <th>Reason</th>
        </tr>
        <tr ng-repeat="replacement in termModel.replaces | limitTo:replacesPageSize">
          <td><a class="quickgo-link" href="term/{{replacement.id}}">{{replacement.id}}</a></td>
          <td>{{replacement.name}}</td>
          <td>{{replacement.type}} <a href="term/{{termModel.id}}">{{termModel.id}}</a>
          </td>
        </tr>
      </table>
      <button ng-show="replacesPageSize < termModel.replaces.length" ng-click="replacesPageSize = termModel.replaces.length" class="button hollow">show all</button>
      <button ng-show="(replacesPageSize === termModel.replaces.length && termModel.replaces.length > defaultPageSize)" ng-click="replacesPageSize = defaultPageSize" class="button hollow">show less</button>
    </section>

    <!-- Replaced By-->
    <section id="termReplacedBy" ng-if="termModel.replacements.length > 0" class="column row">
      <h3 class="term-section-header">Replaced By</h3>
      <p>This term is obsolete. Try one of these terms:</p>
      <table id="replacementsTable">
        <tr>
          <th>Advice</th>
          <th>GO Identifier</th>
          <th>Ontology</th>
          <th>GO Term Name</th>
        </tr>
        <tr ng-repeat="replacedby in termModel.replacements">
          <td>{{replacedby.type}}</td>
          <td><a class="quickgo-link" href="term/{{replacedby.id}}">{{replacedby.id}}</a></td>
          <td>{{replacedby.aspect}}</td>
          <td>{{replacedby.name}}</td>
        </tr>
      </table>
    </section>

    <!-- Co-occurring statistics -->
    <section id="coOcurring" ng-if="isGoTerm && !isObsolete" class="column row">
      <h3 class="term-section-header">Co-occurring Terms</h3>
      <p>These tables show the number of times the term listed in the table has been co-annotated.</p>
      <tabset>
        <tab heading="Based on Entire Annotation set">
          <div id="allCoOccurringStats">
            <coterms id="termId" mode="'ALL'" limit="statsLimit" page-size="coOccurringEntirePageSize"
               table-id="'allCoOccurringStatsTable'" default-page-size="defaultPageSize"></coterms>
          </div>
        </tab>

        <tab heading="Based on Manual Annotations only">
          <div id="nonIEACoOccurringStats">
            <coterms id="termId" mode="'MANUAL'" limit="statsLimit" size="10" page-size="coOccurringManualPageSize"
              table-id="'manualCoOccurringStatsTable'" default-page-size="defaultPageSize"></coterms>
          </div>
          </tab>
      </tabset>
    </section>

    <!-- GO Slims -->
    <section id="termGOSlims" ng-if="termModel.subsets.length > 0" class="column row">
      <h3 class="term-section-header">GO Slims</h3>
      <p>This term is present in the following GO Consortium-maintained GO slims:</p>
      <table id="subsetsTable">
        <tr>
          <th>GO slim name</th>
          <th>Total Number of Terms in Slim</th>
        </tr>
        <tr ng-repeat="subset in termModel.subsets">
          <td>{{subset}}</td>
          <td>{{slimSetMapping[subset].associations.length}}</td>
        </tr>
      </table>
    </section>

    <!-- Change log -->
    <section id="termHistory" class="column row">
      <h3 class="term-section-header">Change Log</h3>
      <tabset>
        <li class="section-disabled tabs-title" ng-show="termModel.history.length <= 0">
          <a>All changes</a>
        </li>
        <tab ng-show="termModel.history.length > 0" heading="All changes">
          <table>
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history | limitTo:changeLogPageSize" >
              <td>{{history.timestamp}}</td>
              <td>{{history.action}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
          <button ng-show="changeLogPageSize < termModel.history.length" ng-click="changeLogPageSize = termModel.history.length" class="button hollow">show all</button>
          <button ng-show="(changeLogPageSize === termModel.history.length && termModel.history.length > defaultPageSize)" ng-click="changeLogPageSize = defaultPageSize" class="button hollow">show less</button>
        </tab>

        <li class="section-disabled tabs-title" ng-show="filter(termModel.history,'TERM').length <= 0">
          <a>Term</a>
        </li>
        <tab ng-show="filter(termModel.history,'TERM').length > 0" heading="Term">
          <table>
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history | filter:{category: 'TERM'}" >
              <td>{{history.timestamp}}</td>
              <td>{{history.action}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </tab>

        <li class="section-disabled tabs-title" ng-show="termModel.historyDefSyn.length <= 0">
          <a>Definition / Synonyms</a>
        </li>
        <tab  ng-show="termModel.historyDefSyn.length > 0" heading="Definition / Synonyms">
          <table>
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.historyDefSyn" >
              <td>{{history.timestamp}}</td>
              <td>{{history.action}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </tab>

        <li class="section-disabled tabs-title" ng-show="filter(termModel.history,'RELATION').length <= 0">
          <a>Relationships</a>
        </li>
        <tab  ng-show="filter(termModel.history,'RELATION').length > 0" heading="Relationships">
          <table>
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history  | filter:{category: 'RELATION'}" >
              <td>{{history.timestamp}}</td>
              <td>{{history.action}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </tab>

        <li class="section-disabled tabs-title" ng-show="filter(termModel.history,'XREF').length <= 0">
          <a>Cross-references</a>
        </li>
        <tab ng-show="filter(termModel.history,'XREF').length > 0"  heading="Cross-references">
          <table>
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history  | filter:{category: 'XREF'}" >
              <td>{{history.timestamp}}</td>
              <td>{{history.action}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </tab>

        <li class="section-disabled tabs-title" ng-show="termModel.historyOther.length <= 0">
          <a>Other</a>
        </li>
        <tab ng-show="termModel.historyOther.length > 0"  heading="Other">
          <table>
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.historyOther" >
              <td>{{history.timestamp}}</td>
              <td>{{history.action}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </tab>
      </tabset>
    </section>
  </div>
  </section>

    <!-- Sidebar: Controls what gets displayed on the main page.-->
  <div class="columns medium-3">
  <nav id="term-section-nav">
    <ul>
      <li du-scrollspy="overview">
        <a class="term-section-view" du-smooth-scroll="overview">Overview</a>
      </li>
      <li ng-class="{'section-disabled':(!termModel.synonyms || (termModel.synonyms.length===0))}"
          du-scrollspy="termSynonyms">
        <a class="term-section-view" du-smooth-scroll="termSynonyms">Synonyms</a>
      </li>
      <li du-scrollspy="ancestorChart" ng-hide="isObsolete">
        <a class="term-section-view" du-smooth-scroll="ancestorChart" >Ancestor Chart</a>
      </li>
      <li ng-class="{'section-disabled':(!termModel.children || (termModel.children.length===0))}" ng-hide="isObsolete"
          du-scrollspy="childTerms">
        <a span class="term-section-view" du-smooth-scroll="childTerms">Child Terms</a>
      </li>
      <li ng-hide="!isGoTerm"
          ng-class="{'section-disabled':(!termModel.annotationGuidelines || (termModel.annotationGuidelines.length===0))}"
          du-scrollspy="termAnnotationGuidance">
        <a class="term-section-view" du-smooth-scroll="termAnnotationGuidance">Annotation Guidance</a>
      </li>
      <li ng-hide="!isGoTerm"
          ng-class="{'section-disabled':(!termModel.goDiscussions || (termModel.plannedChanges.length===0))}"
          du-scrollspy="goDiscussions">
        <a class="term-section-view" du-smooth-scroll="goDiscussions" >GO Discussions</a>
      </li>
      <li ng-hide="!isGoTerm"
          ng-class="{'section-disabled':(!termModel.taxonConstraints || (termModel.taxonConstraints.length===0))}"
          du-scrollspy="termTaxonConstraints">
        <a class="term-section-view" du-smooth-scroll="termTaxonConstraints" >Taxon Constraints</a>
      </li>
      <li ng-hide="!isGoTerm" ng-class="{'section-disabled':(!termModel.blacklist || (termModel.blacklist.length===0))}"
          du-scrollspy="blacklist">
        <a class="term-section-view" du-smooth-scroll="blacklist">Blacklist</a>
      </li>
      <li ng-class="{'section-disabled':(!termModel.xRefs || (termModel.xRefs.length===0))}"
          du-scrollspy="termCrossReferences">
        <a class="term-section-view" du-smooth-scroll="termCrossReferences">Cross-References</a>
      </li>
      <li ng-hide="!isGoTerm"
          ng-class="{'section-disabled':(!termModel.xRelations || (termModel.xRelations.length===0))}"
          du-scrollspy="termCrossOntologyRelations">
        <a class="term-section-view" du-smooth-scroll="termCrossOntologyRelations">Cross-Ontology Relations</a>
      </li>
      <li ng-hide="!isGoTerm"
          ng-class="{'section-disabled':(!termModel.proteinComplexes || (termModel.proteinComplexes.length===0))}"
          du-scrollspy="termProteinComplexes">
        <a class="term-section-view" du-smooth-scroll="termProteinComplexes" >Protein Complexes</a>
      </li>
      <li ng-hide="!isGoTerm" ng-class="{'section-disabled':(!termModel.replaces || (termModel.replaces.length===0))}"
          du-scrollspy="termReplaces">
        <a class="term-section-view" du-smooth-scroll="termReplaces">Replaces</a>
      </li>
      <li ng-hide="!isGoTerm"
          ng-class="{'section-disabled':(!termModel.replacements || (termModel.replacements.length===0))}"
          du-scrollspy="termReplacedBy">
        <a class="term-section-view" du-smooth-scroll="termReplacedBy">Replaced By</a>
      </li>
      <li ng-hide="!isGoTerm || isObsolete" du-scrollspy="coOcurring">
        <a class="term-section-view" du-smooth-scroll="coOcurring">Co-occurring Terms</a>
      </li>
      <li ng-hide="!isGoTerm" ng-class="{'section-disabled':(!termModel.subsets || (termModel.subsets.length===0))}"
          du-scrollspy="termGOSlims">
        <a class="term-section-view" du-smooth-scroll="termGOSlims">GO Slims</a>
      </li>
      <li du-scrollspy="termHistory">
        <a class="term-section-view" du-smooth-scroll="termHistory">Change Log</a>
      </li>
    </ul>
  </nav>
</div>

  <!--End of side bar information-->

</div>
<div id="containerNotFound"class="not-found row" role="main">
  <div class="container medium-12">
    <h1>Not found <span>:(</span></h1>
    <p>Sorry, but the Term you were trying to view does not exist.</p>
    <p>Reported error: {{notFoundReason.statusText}}</p>
    <p>It looks like this may have been caused by:</p>
    <ul class="not-found-list">
      <li>a mistyped URL</li>
      <li>an out-of-date link</li>
    </ul>
  </div>
</div>
