<div id="content" class="container_24" role="main" cg-busy="termPromise">

  <section id="container" class="grid_20">
  <!-- Title section -->
  <section class="panel" id="overview">
    <section>
    <!-- Check if it's obsolete -->
    <div class="alert" ng-show="isObsolete">
      <element id="warning" class="icon icon-generic" data-icon="l" href="#"></element>
      <strong>This term is obsolete.</strong><br/>
      {{termModel.comment}}
    </div>
    <h2 class="page-title">
      {{termModel.termId}}
      <basket-button termid="{{termModel.termId}}"></basket-button>
    </h2>

    <!-- Term name -->
    <h3>{{termModel.name}}</h3>

    <!-- Ontology -->
    <p ng-show="termModel.goTerm"><strong>{{termModel.aspectDescription}}</strong></p>
    </section>

    <!-- Definition -->
    <section>
      <h5>Definition</h5>
      <p>
        {{termModel.definition}}
          <span ng-repeat="xrefDef in termModel.definitionXrefs">
            <a class="quickgo-link" href="http://europepmc.org/abstract/MED/{{xrefDef.id}}"
             target="_blank">{{xrefDef.db}}:{{xrefDef.id}}</a>
          </span>
      </p>
    </section>


    <!-- Restrictions -->
    <section ng-if="showRestrictions">
    <h5>Restrictions</h5>
    <p>
      <span style="background-color:#FFFBCC;">{{termModel.usage.description}}
      <element ng-if="termModel.comment !=''">See comment below for further information.</element></span>
    </p>
    </section>

    <!-- Comments -->
    <section ng-if="termModel.comment">
      <h5>Comments</h5>
      <p>{{termModel.comment}}</p>
    </section>

    <section ng-if="termModel.altIds.length>0">
    <h5>Secondary IDs</h5>
    <p class="obsolete">{{termModel.altIdsString}}</p>
    </section>

    <!-- GONUTS! -->
    <section ng-if="termModel.goTerm">
    <h5>GONUTS</h5>
    <p>
      <td><a class="quickgo-link" href="http://gowiki.tamu.edu/wiki/index.php/Category:{{termModel.termId}}" target="_blank">{{termModel.termId}}
        Wiki Page</a></td>
    </p>
    </section>

    <!-- Aknowledgements -->
    <section ng-if="termModel.credits.length > 0">
    <h5>Aknowledgements</h5>
    <p>
        This term was created by the GO Consortium with support from:
          <span ng-repeat="credit in termModel.credits">
            <a ng-if="credit.code == 'BHF'" href="{{credit.url}}" target="_blank"><img
              src="https://www.bhf.org.uk/~/media/images/admin/logo/bhf-logo.png" alt="BHF image" class="credit-image"/></a>
            <a ng-if="credit.code == 'KRUK'" href="{{credit.url}}" target="_blank"> <img
              src="http://www.kidneyresearchuk.org/img/logos/kidneyresearchuk-logo_201x85.png" alt="KRUK image"
              class="credit-image"/></a>
          </span>
    </p>
    </section>

    <!-- Buttons -->
    <p>
      <a id="term-show-annotations" class="btn quickgo-btn"
              href="annotations/filter?goID={{termModel.termId}}"><annotations-link termid="{{termModel.termId}}"></annotations-link>
      </a>
    </p>
  </section>
  <!-- End of title section -->

  <div class="clearfix"></div>

  <!-- Main Content -->
  <div>
    <!--<div> Other information presented here</div>-->

    <section id="termSynonyms" ng-if="termModel.synonyms.length > 0">
      <h3 class="term-section-header">Synonyms</h3>

      <p>Synonyms are alternative words or phrases closely related in meaning to the term name, with indication
        of the relationship between the name and synonym given by the synonym scope.</p>
      <table id="synonymsTableAccordian" class="two-colours">
        <tr>
          <th>Type</th>
          <th>Synonym</th>
        </tr>
        <tr ng-repeat="synonym in termModel.synonyms">
          <td>{{synonym.type}}</td>
          <td>{{synonym.name}}</td>
        </tr>
      </table>
    </section>

    <!-- Ancestors graph -->
    <section id="ancestorChart" ng-controller="AncestorsGraphCtrl" cg-busy="chartPromise">
      <h3 class="term-section-header">Ancestors Chart</h3>
      <h5 style="text-align:center"><strong>{{graphModel.id}}&nbsp{{graphModel.name}}</strong> {{termModel.name}}</h5>
      <img class="displayed"
           ng-src="{{targetDomainAndPort}}/ws/chart?ids={{graphModel.id}}&scope={{graphModel.scope}}"
           id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap">


      <map name="ontologygraphmap">
        <span ng-repeat="layoutNode in graphImage.layoutNodes">
            <area shape="rect"
                  coords="{{layoutNode.left}},{{layoutNode.top}},{{layoutNode.right}},{{layoutNode.bottom}}"
                  ng-href="term/{{layoutNode.id}}"
                  alt="Term {{layoutNode.id}}"
                  title="{{layoutNode.id}} - Click for more information"
                  target="_blank">
          </span>
        <span ng-repeat="legendNode in graphImage.legendNodes">
          <div ng-mouseover="formattedTooltip(legendNode.topic)">
            <area shape="rect"
                  id="{{legendNode.topic}}"
                  class="relationHelp"
                  coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                  tooltip-html-unsafe="{{tooltip}}" tooltip-placement="left">
          </div>
          </span>
      </map>
    </section>

    <!-- Child Terms -->
    <section id="childTerms" ng-if="termModel.childTermsRelations.length > 0">
      <h3 class="term-section-header">Child Terms</h3>
      <div>
        <p>This table lists all terms that are direct descendants (child terms) of {{termModel.termId}}:</p>
        <table class="two-colours">
          <tr>
            <th>Relationship to </br>{{termModel.termId}}</th>
            <th>Child Term</th>
            <th>Child Term Name</th>
          </tr>
          <tr ng-repeat="childRelation in termModel.childTermsRelations">
            <td>{{childRelation.typeOf}}</td>
            <td><a class="quickgo-link" ng-href="term/{{childRelation.id}}">{{childRelation.id}}</a></td>
            <td>{{childRelation.name}}</td>
          </tr>
        </table>
      </div>
    </section>


    <!-- Co-occurring terms -->
    <section id="coOcurring">
      <h3 class="term-section-header">Co-occurrence statistics</h3>

      <p>These tables show the number of times the term listed in the
        table has been co-annotated with {{termModel.termId}}. The terms are listed in
        descending order of number of times the term has been co-annotated.
        The table on the left is calculated using both electronic and
        manual-evidenced annotations, while the table on the right is
        calculated using only manual-evidenced annotations.</p>

      <div id="allCoOccurringStats">
        <h5 ng-show="stats.allCoOccurrenceStatsTerms.length == 0">
          <element class='icon icon-generic' data-icon='l'>
            No co-occurring statistics for {{termModel.termId}} based on the entire annotation set
          </element>
        </h5>
        <div ng-show="stats.allCoOccurrenceStatsTerms.length > 0">
          <h5>Co-occurrence statistics for {{termModel.termId}} based on the entire annotation set</h5>
          <table id="allCoOccurringStatsTable" class="two-colours">
            <tr>
              <th>Compared term</th>
              <th>Aspect</th>
              <th>Name</th>
              <th>PR</th>
              <th>S%</th>
              <th>#Together</th>
              <th>#Compared</th>
            </tr>
            <tr ng-repeat="allStat in stats.allCoOccurrenceStatsTerms">
              <td><a class="quickgo-link" ng-href="term/{{allStat.compare}}">{{allStat.compare}}</a></td>
              <td>{{allStat.aspect}}</td>
              <td>{{allStat.name}}</td>
              <td>{{allStat.probabilityRatio}}</td>
              <td>{{allStat.significance}}</td>
              <td>{{allStat.together}}</td>
              <td>{{allStat.compared}}</td>
            </tr>
            <tr>
              <td colspan="5"><strong>Totals</strong></td>
              <td>{{totalTogetherAllStats}}</td>
              <td>{{totalComparedAllStats}}</td>
            </tr>
          </table>
        </div>
        <div>
        </div>
      </div>
        <div id="nonIEACoOccurringStats">
          <h5 ng-show="stats.nonIEACOOccurrenceStatistics.length == 0">
            <element class='icon icon-generic' data-icon='l'>
              No co-occurring statistics for {{termModel.termId}} based on manual annotations
            </element>
          </h5>
          <div ng-show="stats.nonIEACOOccurrenceStatistics.length > 0">
            <h5>Co-occurrence statistics for {{termModel.termId}} based on manual annotations only</h5>
            <table id="nonIEACoOccurringStatsTable" class="two-colours">
              <tr>
                <th>Compared term</th>
                <th>Aspect</th>
                <th>Name</th>
                <th>PR</th>
                <th>S%</th>
                <th>#Together</th>
                <th>#Compared</th>
              </tr>
              <tr ng-repeat="nonIEAStat in stats.nonIEACOOccurrenceStatistics">
                <td><a class="quickgo-link"
                  ng-href="term/{{nonIEAStat.compare}}">{{nonIEAStat.compare}}</a>
                </td>
                <td>{{nonIEAStat.aspect}}</td>
                <td>{{nonIEAStat.name}}</td>
                <td>{{nonIEAStat.probabilityRatio}}</td>
                <td>{{nonIEAStat.significance}}</td>
                <td>{{nonIEAStat.together}}</td>
                <td>{{nonIEAStat.compared}}</td>
              </tr>

              <tr>
                <td colspan="5"><strong>Totals</strong></td>
                <td>{{totalTogetherNonIEAStats}}</td>
                <td>{{totalComparedNonIEAStats}}</td>
              </tr>
            </table>
          </div>
        </div>
    </section>




    <!-- Taxon Constraints -->
    <section id="termTaxonConstraints" ng-if="termModel.taxonConstraints.length > 0">
      <h3 class="term-section-header">Taxon Constraints</h3>

      <p>The use of this term should conform to the following taxon constraints:</p>
      <table id="taxonconstraintsTable" class="two-colours">
        <tr>
          <th>Ancestor GO ID</th>
          <th>Ancestor GO Term Name</th>
          <th>Relationship</th>
          <th>Taxon ID</th>
          <th>Taxon</th>
          <th>Reference(s)</th>
        </tr>
        <tr ng-repeat="taxonconstraint in termModel.taxonConstraints">
          <td><a class="quickgo-link" href="term/{{taxonconstraint.goId}}">{{taxonconstraint.goId}}</a></td>
          <td>{{taxonconstraint.name}}</td>
          <td ng-if="taxonconstraint.relationship == 'ONLY_IN_TAXON'">Only in Taxon</td>
          <td ng-if="taxonconstraint.relationship != 'ONLY_IN_TAXON'">Never in Taxon</td>
          <td>{{taxonconstraint.taxId}}</td>
          <td>{{taxonconstraint.taxonName}}</td>
          <td>
            <li ng-repeat="source in taxonconstraint.sources">
              <a class="quickgo-link" href="{{source.url}}" target="_blank">{{source.pmid}}</a>
            </li>
          </td>
        </tr>
      </table>
      <p>More information on taxon constraints in GO is available <a target="_blank" href="http://www.geneontology.org/cgi-bin/references.cgi#GO_REF:0000056">here</a></p>
    </section>

    <!-- show Replaces-->
    <section id="termReplaces" ng-if="termModel.replaces.length > 0">
      <h3 class="term-section-header">Replaces</h3>

      <p>This term can be used instead of these obsolete terms:</p>
      <table id="replacesTable" class="two-colours">
        <tr>
          <th>GO Identifier</th>
          <th>GO Term Name</th>
          <th>Reason</th>
        </tr>
        <tr ng-repeat="replacement in termModel.replaces">
          <td><a class="quickgo-link" href="term/{{replacement.child.id}}">{{replacement.child.id}}</a></td>
          <td>{{replacement.child.name}}</td>
          <td>{{replacement.typeof.description}} <a
            href="term/{{replacement.parent.id}}">{{replacement.parent.id}}</a>
          </td>
        </tr>
      </table>
    </section>

    <!-- Replaced By-->
    <section id="termReplacedBy" ng-if="termModel.replacements.length > 0">
      <h3 class="term-section-header">Replaced</h3>

      <p>This term is obsolete. Try one of these terms:</p>
      <table id="replacementsTable" class="two-colours">
        <tr>
          <th>Advice</th>
          <th>GO Identifier</th>
          <th>Ontology</th>
          <th>GO Term Name</th>
        </tr>
        <tr ng-repeat="replacedby in termModel.replacements">
          <td>{{replacedby.typeof.description}}</td>
          <td><a class="quickgo-link" href="term/{{replacedby.parent.id}}">{{replacedby.parent.id}}</a></td>
          <td>{{replacedby.parent.aspectDescription}}</td>
          <td>{{replacedby.parent.name}}</td>
        </tr>
      </table>
    </section>

    <!-- GO Discussions AKA Planned Changes-->
    <section id="goDiscussions" ng-if="termModel.plannedChanges.length > 0">
      <h3 class="term-section-header">GO Discussions</h3>

      <p>The GO editorial group is intending to improve the information provided in this area of the GO.
        If you would like to be involved in discussions regarding this development activity, please email the GO Consortium.
        Please note that it is still appropriate to use this term for curation or analysis purpose:</p>
      <table id="plannedChangesTable" class="two-colours">
        <tr>
          <th colspan="2">Ontology Development Project</th>
        </tr>
        <tr ng-repeat="plannedChange in termModel.plannedChanges">
          <td>{{plannedChange.title}}</td>
          <td><a class="quickgo-link" href="{{plannedChange.url}}" target="_blank">Link</a></td>
        </tr>
      </table>
    </section>

    <!-- Cross Ontology Relations -->
    <section id="termCrossOntologyRelations" ng-if="termModel.crossOntologyRelations.length > 0">
      <h3 class="term-section-header">Cross-Ontology Relations</h3>
      <table id="ontologyrelationsTable" class="two-colours">
        <tr>
          <th>Relation</th>
          <th>Other Ontology</th>
          <th>ID</th>
          <th>Term</th>
        </tr>
        <tr ng-repeat="crossontology in termModel.crossOntologyRelations">
          <td>{{crossontology.relation}}</td>
          <td>{{crossontology.otherNamespace}}</td>
          <td><a class="quickgo-link" href="{{crossontology.url}}" target="_blank">{{crossontology.foreignID}}</a></td>
          <td>{{crossontology.foreignTerm}}</td>
        </tr>
      </table>
      </accordion-group>
    </section>

    <!-- Annotation Guidance -->
    <section id="termAnnotationGuidance" ng-if="termModel.guidelines.length > 0">
      <h3 class="term-section-header">Annotation Guidance</h3>

      <p>Usage of this term is subject to the following annotation guidelines:</p>
      <table id="guidelineTable" class="two-colours">

        <tr ng-repeat="guideline in termModel.guidelines">
          <td>{{guideline.title}}</td>
          <td><a class="quickgo-link" href="{{guideline.url}}" target="_blanket">Link</a></td>
        </tr>
      </table>
    </section>

    <!-- GO Slims -->
    <section id="termGOSlims" ng-if="termModel.subsets.length > 0">
      <h3 class="term-section-header">GO Slims</h3>

      <p>This term is present in the following GO Consortium-maintained GO slims:</p>
      <table id="subsetsTable" class="two-colours">
        <tr>
          <th>GO slim name</th>
          <th>Count of all terms</th>
        </tr>
        <tr ng-repeat="subset in termModel.subsets">
          <td>{{subset.name}}</td>
          <td>{{subset.termCount}}</td>
        </tr>
      </table>
    </section>

    <!-- Cross References-->
    <section id="termCrossReferences" ng-if="termModel.xrefs.length > 0">
      <h3 class="term-section-header">Cross-references</h3>
      <table id="termCrossReferencesTable" class="two-colours">
      <tr>
        <th>Database</th>
        <th>ID</th>
        <th>Description</th>
      </tr>
      <tr ng-repeat="xref in termModel.xrefs">
        <td>{{xref.db}}</td>
        <td><a class="quickgo-link" ng-href="http://www.ebi.ac.uk/interpro/entry/{{xref.id}}" target="_blank">{{xref.id}}</a></td>
        <td>{{xref.name}}</td>
      </tr>
      </table>
    </section>

    <!-- Change log -->
    <section id="termHistory">
      <h3 class="term-section-header">Change Log</h3>
      <uib-tabset>
        <uib-tab heading="All changes">
          <table class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history.historyAll" >
              <td>{{history.timestamp}}</td>
              <td>{{history.actionString}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </uib-tab>

        <uib-tab heading="Term">
          <table class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history.historyTerms" >
              <td>{{history.timestamp}}</td>
              <td>{{history.actionString}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </uib-tab>

        <uib-tab heading="Definition / Synonyms">
          <table class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history.historyDefinitions" >
              <td>{{history.timestamp}}</td>
              <td>{{history.actionString}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </uib-tab>

        <uib-tab heading="Relationships">
          <table class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history.historyRelations" >
              <td>{{history.timestamp}}</td>
              <td>{{history.actionString}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </uib-tab>

        <uib-tab heading="Cross-references">
          <table class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history.historyXRefs" >
              <td>{{history.timestamp}}</td>
              <td>{{history.actionString}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </uib-tab>

        <uib-tab heading="Other">
          <table class="two-colours">
            <tr>
              <th>Timestamp</th>
              <th>Action</th>
              <th>Category</th>
              <th>Detail</th>
            </tr>
            <tr ng-repeat="history in termModel.history.historyOther" >
              <td>{{history.timestamp}}</td>
              <td>{{history.actionString}}</td>
              <td>{{history.category}}</td>
              <td>{{history.text}}</td>
            </tr>
          </table>
        </uib-tab>
      </uib-tabset>
    </section>

  </div>
  </section>

    <!-- Sidebar: Controls what gets displayed on the main page.-->
  <nav class="grid_4" id="term-section-nav">
    <ul>
      <li du-scrollspy="overview">
        <a class="term-section-view" du-smooth-scroll="overview">Overview</a>
      </li>
      <li ng-class="{'section-disabled':termModel.synonyms.length==0}" du-scrollspy="termSynonyms">
        <a class="term-section-view" du-smooth-scroll="termSynonyms">Synonyms</a>
      </li>
      <li du-scrollspy="ancestorChart">
        <a class="term-section-view" du-smooth-scroll="ancestorChart" >Ancestor Chart</a>
      </li>
      <li ng-class="{'section-disabled':termModel.childTermsRelations.length==0}" ng-show="termModel.goTerm" du-scrollspy="childTerms">
        <a span class="term-section-view" du-smooth-scroll="childTerms">Child Terms</a>
      </li>
      <li du-scrollspy="coOcurring">
        <a class="term-section-view" du-smooth-scroll="coOcurring">Co-occurrence statistics</a>
      </li>
      <li ng-class="{'section-disabled':termModel.taxonConstraints.length==0}" du-scrollspy="termTaxonConstraints">
        <a class="term-section-view" du-smooth-scroll="termTaxonConstraints" >Taxon Constraints</a>
      </li>
      <li ng-class="{'section-disabled':termModel.replaces.length==0}" du-scrollspy="termReplaces">
        <a class="term-section-view" du-smooth-scroll="termReplaces">Replaces</a>
      </li>
      <li ng-class="{'section-disabled':termModel.replacements.length==0}" du-scrollspy="termReplacedBy">
        <a class="term-section-view" du-smooth-scroll="termReplacedBy">Replaced By</a>
      </li>
      <li ng-class="{'section-disabled':termModel.crossOntologyRelations.length==0}" du-scrollspy="termCrossOntologyRelations">
        <a class="term-section-view" du-smooth-scroll="termCrossOntologyRelations">Cross-Ontology...</a>
      </li>
      <li ng-class="{'section-disabled':termModel.guidelines.length==0}" du-scrollspy="termAnnotationGuidance">
        <a class="term-section-view" du-smooth-scroll="termAnnotationGuidance">Annotation Guidance</a>
      </li>
      <li ng-class="{'section-disabled':termModel.subsets.length==0}" du-scrollspy="termGOSlims">
        <a class="term-section-view" du-smooth-scroll="termGOSlims">GO Slims</a>
      </li>
      <li ng-class="{'section-disabled':termModel.xrefs.length==0}" du-scrollspy="termCrossReferences">
        <a class="term-section-view" du-smooth-scroll="termCrossReferences">Cross-References</a>
      </li>
      <li du-scrollspy="termHistory">
        <a class="term-section-view" du-smooth-scroll="termHistory">Change Log</a>
      </li>
    </ul>
  </nav>
  <!--End of side bar information-->

</div>
