<div id="content" class="container_12">

  <div class="clearfix"></div>

  <div class="grid_3">
    <h3 class="page-title">Search Results <img ng-show="isLoading" src="images/ajax-loader.gif"></h3>
    <ul>
      <li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='entity'}" ng-model="x.viewBy"
          ng-click="showResults('entity')">Entities ({{x.gpNumberResults}})
      </li>
      <li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='goID'}" ng-click="showResults('goID')">GO
        Terms({{x.goNumberResults}})
      </li>
      <ul>
        <li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='bp'}" ng-click="showResults('bp')">
          Biological Process ({{x.biologicalProcessNumberResults}})
        </li>
        <li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='mf'}" ng-click="showResults('mf')">Molecular
          Function ({{x.molecularFunctionNumberResults}})
        </li>
        <li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='cc'}" ng-click="showResults('cc')">Cellular
          Component ({{x.cellularComponentNumberResults}})
        </li>
      <!--</ul>-->
      <!--<li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='ecoID'}" ng-click="showResults('ecoID')">ECO-->
        <!--Terms ({{x.ecoID}})-->
      <!--</li>-->
      <!--<ul>-->
        <!--<li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='ecoManual'}"-->
            <!--ng-click="showResults('ecoManual')">Experimental ({{x.expEcoTotalResults}})-->
        <!--</li>-->
        <!--<li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='ecoAutomatic'}"-->
            <!--ng-click="showResults('ecoAutomatic')">Automatic ({{x.automaticEcoTotalResults}})-->
        <!--</li>-->
        <!--<li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='evidenceEco'}"-->
            <!--ng-click="showResults('evidenceEco')">Evidence ({{x.evidenceEcoTotalResults}})-->
        <!--</li>-->
      </ul>
    </ul>
  </div>

  <!-- Main Content -->
  <div id="searchResultsMainContent" class="grid_9">

    <!-- Table heading content-->
    <div class="grid_6">

      <div class="paginationControls">
        <div style="display: inline-block;"><dir-pagination-controls
        on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls></div>
        <div style="display: inline-block;vertical-align: top; padding-top:25px;">Page <strong>{{currentPage}}</strong> of <strong>{{srcTotalNumberResults}}</strong> results</strong></div>
      </div>
    </div>

    <!-- Basket -->
    <div class="grid_6">
      <br/>
        <button class="btn quickgo-btn" ng-click="showBasket()"></button>
          <element class="icon icon-static" data-icon="b"> Basket &nbsp;<span  id="basket"><strong>{{countBasket}}</strong></span></element>
      </span>
    </div>

    <div>
      <table id="searchResults" class="two-colours">
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        <tr dir-paginate="searchResult in x.searchResults | itemsPerPage: 25" total-items="srcTotalNumberResults">

          <td ng-show="x.viewBy=='entity'">{{searchResult.dbObjectId}}</td>
          <td ng-show="x.viewBy=='entity'" ng-bind-html="highlight(searchResult.dbObjectName)"></td>
          <td ng-show="x.viewBy!='entity'" style="white-space: nowrap;">
            <element class="icon icon-static" data-icon="b"  ng-click="addToBasket(searchResult.id, searchResult.name)"></element>
            <span class="pseudo-link" ng-click="showOntologyGraph(searchResult.id,searchResult.name)">{{searchResult.id}}</span>
          </td>
          <td ng-show="x.viewBy!='entity'" ng-bind-html="highlight(searchResult.name)"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
