
@import 'quickgo-colours';

/* TITLE   -----------------------------------------------------------------------------------------------------------*/
/* This section holds the our app title*/

div#local-masthead {
  background-color: $white;
  background-position: top right;
  background-image: url(../images/bg4.png);
  background-repeat: no-repeat;
}

#local-title.logo-title {
  h1 {
    color: $primary6;
    text-shadow: 2px 1px #fff;
  }
  .typeahead-box span {
    margin: 0;
    float: none;
    display: inline-block;
  }
}

#beta-message {
  background-color: $lightgrey;
}

#quickgo-local-logo {
  min-width: 110px;
  min-height: 66px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Homepage   ----------------------------------------------------------------------------------------------------------*/

.quickgo-panel {
  border-radius: 6px;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $verylightgrey;
  h3 {
    border-bottom: none;
  }
}


.startpoint-panel {
  text-align: center;
  border: 10px solid $white;
  border-radius: 20px;
  h2 {
    color: $white;
    text-align: center;
    a {
      color: $white;
      padding-top: 0px;
    }
  }
  color: $white;
  padding-top: 0px;
  a {
    color: $white;
    padding-top: 0px;
    &:hover {
      border-bottom: 1px dotted $white;
    }
  }
}

#search-terms {
  background-color: $primary7;
  margin-bottom: 20px;
  min-height: 150px;
  margin-top: 20px;
}

#investigate-go-slims {
  background-color: $primary6;
  min-height: 250px;
}

#go-annotations {
  background-color: $primary6;
  min-height: 250px;
  img {
    margin-top: 10px;
  }
}

#investigate-go-slims img {
  margin-top: 10px;
}

#go-annotations:hover, #investigate-go-slims:hover {
  cursor: pointer;
  background-color: $primary5;
}

.intro_text {
  margin-top: 1em;
  margin-bottom: 0;
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

.help-icon {
  font-size: 1.5em;
  margin-top: 4px;
}

html.fontface .help-icon::before {
  color: $white;
  background-color: none;
  border-radius: 30px;
}

.homepage-info {
  padding: 10px;
  margin-bottom: 10px;
  background-color: $white;
  /* F5F5F5*/
  color: $darkishgrey;
  p{
    margin-top: 20px;
    text-align: center;
  }
}

/*   RESULTS page  -------------------------------------------------------*/

#customiseColumns{
  border: 1px solid #999;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 10px 10px 10px;
  float: left;
  width: 98%;
  height: 270px;
  #default, #extras ,.customCols {
    width: 45%;
    height: 50px;
    float: left;
    margin: 10px;
  }
  .customColsClose{
    float: right;
    cursor: pointer;
  }
}

li.section-disabled a, li.section-disabled a:hover, li.section-disabled {
  color: rgba(18, 80, 84, 0.24) !important;
  cursor: default;
  text-decoration: none;
  border-bottom: none;
}
.not-found{
  display: none;
}
.show-not-found{
  display: block;
}

/* BASKET    ---------------------------------------------------------------------------------------------------------*/

#basket {
  color: black;
  padding: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.empty-basket {
  background-color: red;
}

.pop-basket {
  background-color: $white;
}

.basket-btn {
  border-radius: 10px;
  font-size: 10px;
  color: $white;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}
.basket-btn:before {
  color: $white!important;
  font-weight: lighter;
  text-align: center;
  padding-left: 4px;
}

.basket-btn:before {
  color: $white!important;
  font-weight: lighter;
  text-align: center;
  padding-left: 4px;
}


.basket-btn {
  &:hover {
    background-color: green !important;
  }
  &.basket-added {
    background-color: green;
    &:hover {
      background-color: red !important;
    }
  }
}

.chart-btn {
  border-radius: 10px;
  font-size: 10px;
  color: $white;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  border-radius: 2px;
  font-size: 13px;
}

.chart-btn:before {
  color: $white!important;
  font-weight: lighter;
  text-align: center;
  padding-left: 4px;
  padding-left: 3px;
}
/* TYPE-AHEAD  -------------------------------------------------------------------------------------------------------*/

#searchbox {
  background-color: $white;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid $lightgrey;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%;
}

div {
  &.masthead ul.dropdown-menu li {
    float: none;
  }
  &#search-area ul.dropdown-menu li {
    &.active a, a.ng-scope:hover {
      color: $white;
    }
  }
}

#search-area {
  margin: 7px;
  padding: 3px;
  border-color: $primary4;
  min-width: 60%;
}


/* Alert boxes*/

.alert {
  &.ng-hide-add, &.ng-hide-remove {
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    display: block !important;
    opacity: 1;
  }
  &.ng-hide {
    opacity: 0;
  }
}

.alert-info-half{
  width: 49%;
}
