/* These style rules will over-ride the core EBI styles */

/* Links */
a,
a:link,
a:visited{
  color: #2980B9;
  border-bottom: none;
}

a:hover,
a:focus,
a:active{
  color: #2980B9;
  text-decoration: none;
}

a:link{
  color: #2980B9;
}

a:hover,
a:focus,
a:active{
  color: #00742B;
  border-bottom: 1px dotted #00742B;
}

.icon-conceptual:before,
.icon-functional:before,
a.button.icon-functional:before,
.icon-static:before,
.icon-generic:before{
  font-size: 108%;
  color: #2980B9;
}


/* Headings */
h1, h2, h3, h4, h5, h6{
  color: #2C3E50;
}

h3 {
  border-bottom: 1px dotted #2980B9;
}

h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  border-bottom:none;
}

/* Table heading cells */
th {
  background-color: #ECF0F1;
 }

/* Colour the faux-underline for local menu items */
div#local-masthead ul li a:hover,
div#local-masthead ul li a:focus,
div#local-masthead ul li a:active {
border-bottom: 3px solid #2980B9;
}

/* Buttons */
ul.action-buttons-grouped {
	padding:0;
	margin:0 0 1px 0;
	padding-bottom: 2px;
}
.action-buttons-grouped li {
	list-style: none;
	display: inline-block;
	margin: 0;
}

.two-colours tr:nth-child(even) {
	background-color: #DEEFF5;
}

#warning.icon-generic:before {
    color: black;
}
