
@import 'quickgo-colours';
@import 'icons';

/* TITLE   -----------------------------------------------------------------------------------------------------------*/
/* This section holds the our app title*/

div#local-masthead {
  background-color: $white;
  background-position: top right;
  background-image: url(../images/bg4.png);
  background-repeat: no-repeat;
}

#local-title.logo-title {
  h1 {
    color: $primary6;
    text-shadow: 2px 1px #fff;
  }
  .typeahead-box span {
    margin: 0;
    float: none;
    display: inline-block;
  }
}

#beta-message {
  background-color: $lightgrey;
}

#quickgo-local-logo {
  min-width: 110px;
  min-height: 66px;
  padding: 10px;
  margin-bottom: 10px;
}

#local-masthead nav ul.menu li { border-right-color: #EEE; }
#local-masthead .masthead .menu > li > a { color: #666; }
#local-masthead .masthead .menu > li > a:hover { color: #00a9de; }


/* Homepage   ----------------------------------------------------------------------------------------------------------*/

.quickgo-panel {
  border-radius: 6px;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $verylightgrey;
  h3 {
    border-bottom: none;
  }
}


.startpoint-panel {
  text-align: center;
  border: 10px solid $white;
  border-radius: 20px;
  h2 {
    color: $white;
    text-align: center;
    a {
      color: $white;
      padding-top: 0px;
    }
  }
  color: $white;
  padding-top: 0px;
  a {
    color: $white;
    padding-top: 0px;
    &:hover {
      border-bottom: 1px dotted $white;
    }
  }
}

#search-terms {
  background-color: $primary7;
  margin-bottom: 20px;
  min-height: 150px;
  margin-top: 20px;
}

#investigate-go-slims {
  background-color: $primary6;
  min-height: 250px;
}

#go-annotations {
  background-color: $primary6;
  min-height: 250px;
  img {
    margin-top: 10px;
  }
}

#investigate-go-slims img {
  margin-top: 10px;
}

#go-annotations:hover, #investigate-go-slims:hover {
  cursor: pointer;
  background-color: $primary5;
}

.intro_text {
  margin-top: 1em;
  margin-bottom: 0;
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

.help-icon {
  font-size: 1.5em;
  margin-top: 4px;
}

html.fontface .help-icon::before {
  color: $white;
  background-color: none;
  border-radius: 30px;
}

.homepage-info {
  padding: 10px;
  margin-bottom: 10px;
  background-color: $white;
  /* F5F5F5*/
  color: $darkishgrey;
  p{
    margin-top: 20px;
    text-align: center;
  }
}

.help-icon.has-tip{
  border-bottom: 0px;
}



/*   RESULTS page  -------------------------------------------------------*/

.column-selector{
  .column-selector__columns {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
  }
  .column-selector__close{
    float: right;
    cursor: pointer;
  }
}

li.section-disabled a, li.section-disabled a:hover, li.section-disabled {
  color: rgba(18, 80, 84, 0.24) !important;
  cursor: default;
  text-decoration: none;
  border-bottom: none;
}
.not-found{
  display: none;
}
.show-not-found{
  display: block;
}

.object-table-module .object-table thead>tr th, table thead>tr th{
  padding: 0.5rem 0.625rem 0.625rem 0.5rem;
  color: #000;
  line-height: 1.1;
  vertical-align: top;
}

.text-nowrap{
  white-space: nowrap;
  vertical-align: top;
}

.has-tip{
  border-bottom: none;
}

table tbody tr:nth-child(odd){
  background-color: #defcfc;
}
table tbody tr:nth-child(even){
  background-color: #fff;
}

.main-content{
  margin-top: 10px;
}

ul.menu button.button{
  margin-left: 5px;
}
aspect-icon span.aspect-icon{

   font-weight: bold;
 }

.results-table th span{
  font-weight: bold;
}

.results-table tbody tr{
  vertical-align: top;
}

#customiseColumns {
    border: 1px solid #999;
    border-radius: 10px;
    padding: 5px;
    margin: 0 10px 10px;
    float: left;
    width: 98%;
    height: 240px;
    line-height: 1;
}

/* BASKET    ---------------------------------------------------------------------------------------------------------*/

#basket {
  color: black;
  padding: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.empty-basket {
  background-color: red;
}

.pop-basket {
  background-color: $white;
}

/* PAGINATION   ------------------------------------------------------------------------------------------------------*/

/* ANNOTATION LIST  --------------------------------------------------------------------------------------------------*/

.advanced-filter-content {
  border-top: 1px solid #ccc;
  font-size: 13px;
  padding-top:.5em;
  margin-bottom:2em;
  min-width: 480px;
}

.advanced-filter-content.ng-hide-add, .advanced-filter-content.ng-hide-remove {
  transition: all linear 0.5s;
}

.advanced-filter-content.ng-hide {
  opacity: 0;
}

.buttons-under-tabs {
  margin-top: 1.5em;
}

.filter-list {
  line-height: 2em;
  li {
    padding:0 5px;
    &.active {
      border-left:2px green solid;
      a, a:link, a:hover, a:visited {
        font-weight:bold;
        color: black;
        border-bottom:none;
        cursor:default;
        text-decoration: none;
      }
    }
  }
}

.icon-inline-table{
  margin: 3px 0 0 0;
}

.column-selector{
  .column-selector__columns {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
  }
  .column-selector__close{
    float: right;
    cursor: pointer;
  }
}


/* FACET FILTER -----------------------------------------------------------------------------------------------*/
.facet-filter {
    li {
      margin: .7em 0;
      a {
        border-radius: .2em;
        padding: .2em;
        display: block;
        text-decoration: none;
        border-bottom: none;
        &:hover {
          color:$white;
          background-color: $primary1;
          opacity: .7;
        }
        &.facet-filter-active {
          background-color: $primary1;
          color: $white;
          &:hover:after {
            float: right;
            font-family: 'EBI-Functional';
            padding-top: .1em;
            content: 'x'
          }
        }
      }
    }
}


/* ANNOTATION SIDEBAR  -----------------------------------------------------------------------------------------------*/

#searchbox {
  background-color: $white;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid $lightgrey;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%;
}

div {
  &.masthead ul.dropdown-menu li {
    float: none;
  }
  &#search-area ul.dropdown-menu li {
    &.active a, a.ng-scope:hover {
      color: $white;
    }
  }
}

#search-area {
  margin: 7px;
  padding: 3px;
  border-color: $primary4;
  min-width: 60%;
}


/* Alert boxes*/

.alert {
  &.ng-hide-add, &.ng-hide-remove {
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    display: block !important;
    opacity: 1;
  }
  &.ng-hide {
    opacity: 0;
  }
}

.alert-info-half{
  width: 49%;
}


/*  BUTTONS */

.button{
  border: 1px solid #2980B9;
  background-color: #329DE3;
  color: #FFF;
  font-weight: bold;
  border-radius: 4px;
  &:before{
    color: #fff;
    margin: 0 0.3em 0 0;
  }
  &:hover{
    background-color: #2980B9;
    color: #FFF
  }
  &.hover{
    background-color: #2980B9;
  }
}

.button:focus, .button:hover, .button.hover {
    background-color: #2980B9;
}
