/*
	*** TEMPLATE - please apply your custom values ***


	Colour palette: [project name] [main colour]
	Details: Accented Analogic from ColourSchemeDesigner
	         http://colorschemedesigner.com/[custom URL]

*/

/*

#####  Color Palette by Color Scheme Designer
#####  Palette URL: http://colorschemedesigner.com/[custom URL]
#####  Color Space: RGB; 



*** Primary Color:

   var. 1 = #2980B9 = rgb(0,112,155)
   var. 2 = #1D5C74 = rgb(29,92,116)
   var. 3 = #004965 = rgb(0,73,101)
   var. 4 = #33A3CD = rgb(51,163,205)
   var. 5 = #5CAECD = rgb(92,174,205)

*** Secondary Color A:

   var. 1 = #001BA9 = rgb(0,27,169)
   var. 2 = #202F7F = rgb(32,47,127)
   var. 3 = #00116E = rgb(0,17,110)
   var. 4 = #354ED4 = rgb(53,78,212)
   var. 5 = #5F72D4 = rgb(95,114,212)

*** Secondary Color B:

   var. 1 = #00B343 = rgb(0,179,67)
   var. 2 = #228647 = rgb(34,134,71)
   var. 3 = #00742B = rgb(0,116,43)
   var. 4 = #36D973 = rgb(54,217,115)
   var. 5 = #62D98E = rgb(98,217,142)

*** Complementary Color:

   var. 1 = #F78100 = rgb(247,129,0)
   var. 2 = #2C3E50 = rgb(185,119,46)
   var. 3 = #A15400 = rgb(161,84,0)
   var. 4 = #FBA13F = rgb(251,161,63)
   var. 5 = #FBB971 = rgb(251,185,113)


#####  Generated by Color Scheme Designer (c) Petr Stanicek 2002-2010

*/


/* Color
===================================================*/

/* These style rules will over-ride the core EBI styles and apply 
    your custom colour palette in a consistent manner */

/* Links */
a,
a:link,
a:visited,
#clearSelection {
  color: #2980B9;
  border-bottom: none;
}

a:hover,
a:focus,
a:active,
#clearSelection:hover {
  color: #2980B9;
}

a.special:hover,
a.special:focus,
a.special:active, {
	color:#2980B9;
	border-bottom: 3px double #2980B9;
	}


a:link,
#clearSelection { color: #2980B9; }

a:hover,
a:focus,
a:active,
#clearSelection:hover { 
  color: #00742B; 
  border-bottom: 1px dotted #00742B;
}

a.special { background-color: #62D98E; }

.icon-conceptual:before {
  font-size: 108%;
  color: #2980B9;
}

.icon-functional:before {
  font-size: 108%;
  color: #2980B9; 
}

a.button.icon-functional:before{
  font-size: 108%;
  color: #2980B9;
}

.icon-static:before {
  font-size: 108%;
  color: #2980B9;
}

.icon-generic:before {
  font-size: 108%;
  color: #2980B9; 
}

/* Headings */
h1, h2, h3, h4, h5, h6 { color: #2C3E50; }

h3 {    
  border-bottom: 1px dotted #2980B9;;
}

h4.title{
	color:#00A7E1;
	font-weight: bold;
}

h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
	/*border-bottom-color: #2980B9;*/
  border-bottom:none;
}

/* Table heading cells */
th { 
  background-color: #ECF0F1;
 }

#results {
	border: 2px solid #f1f1f1;
}


/* Form submission button */
input.submit {
	/* colours */	
	color: #fff;
    text-shadow: #004965 1px 1px;
    border-top: 1px solid #5CAECD;    
    border-left: 1px solid #5CAECD;
    border-right: 1px solid #004965;
    border-bottom: 1px solid #004965;
	
	background-image: -moz-linear-gradient(top, #2980B9, #1D5C74); 
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ccc),color-stop(1, #1D5C74)); 
    background-image: -webkit-linear-gradient(#2980B9, #1D5C74); 
    background-image: linear-gradient(top, #2980B9, #1D5C74);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2980B9', EndColorStr='#1D5C74');
}

/* Define the basic colour your local masthead */
div#local-masthead { background: #CAE7F3 top right no-repeat; }

/* Colour the faux-underline for local menu items */
div#local-masthead ul li a:hover,
div#local-masthead ul li a:focus,
div#local-masthead ul li a:active {
border-bottom: 3px solid #2980B9;
}


/* Buttons */
ul.action-buttons-grouped {
	padding:0;
	margin:0 0 1px 0;
	padding-bottom: 2px;
}
.action-buttons-grouped li {
	list-style: none;
	display: inline-block;
	margin: 0;
}

a.button {
	display: inline-block;
	padding: 2px 5px;
	margin:0 4px;
	outline:0;
	background-color:#CFE8EF;
	background-image:-webkit-linear-gradient(top,#CFE8EF,#9acedd);
	background-image:-moz-linear-gradient(top,#CFE8EF,#9acedd);
	background-image:linear-gradient(top,#CFE8EF,#9acedd);
	border:1px solid #057097;
	border:1px solid rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	cursor: pointer;
}

.button:hover {
	color:#444;
	border:1px solid #c6c6c6;
	border:1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	position:relative;
	z-index:1;
}
.button:active {
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
}

.button.disabled {
	filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    cursor: default;
}

.button.disabled:active {
	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
}


ul.action-buttons-grouped.decorated {
  border-bottom: 1px dotted #2980B9;
}

#basket a.button {
  color: #FFFFFF;
  background-color: #2980B9;
  background-image:none;
}

#basket a.button:before {
  color:#FFFFFF;
}

/* #basket a.button:hover, div#local-masthead a.button:hover {
  color: #FFFFFF;
  background-color:rgba(92, 174, 205, 0.6);
}
 */
a.button.disabled:hover {
  /* background-color: transparent; */
}

/* Sidebar buttons */
div.sidebar ul li.active a, div.sidebar ul#entry_sections li.active div.heading { 
  background-color:#5CAECD;
  color:#FFFFFF;
}

div.sidebar ul#entry_sections li div.heading {
  background-color:#CFE8EF;
}
div.sidebar ul#entry_sections li a.toggle {
  background-color:#CFE8EF;
}

div.sidebar ul#entry_sections li.active a.toggle {
  background-position: 6px 8px;
  background-color:#5CAECD;
}

div.sidebar ul li a:hover, div.sidebar ul li.active a:hover, div.sidebar ul#entry_sections li a.toggle:hover, div.sidebar ul#entry_sections li div.heading:hover {
  border-bottom: none;
  background-color: rgba(92, 174, 205, 0.5);
}

div.sidebar ul#entry_sections li.empty div.toggle, 
div.sidebar ul#entry_sections li.empty div.heading,
div.sidebar ul#entry_sections li.empty div.toggle:hover, 
div.sidebar ul#entry_sections li.empty div.heading:hover,
div.sidebar ul#entry_sections li.empty.active div.heading:hover {
  background-color:rgba(6,110,158,0.1);
  color:rgba(51,51,51,0.3);
  cursor: default;
  background-image:none;
}

#results tr:nth-child(even) {
	background-color: #DEEFF5;
}

.two-colours tr:nth-child(even) {
	background-color: #DEEFF5;
}

.welcomeGrid{
	background: none no-repeat scroll right top #CAE7F3;
}

/* Entry View secondary structure
======================================*/
div.HELIX {
	background-color: #7EB6FF;
}

div.STRAND {
	background-color: #9AFF9A;
}
div.TURN {
	background-color: #F0A;
}
div.METAL, div.BINDING, div.ACT_SITE, div.SITE, div.MOD_RES, div.LIPID, div.CARBOHYD, div.DISULFID, div.CROSSLNK, div.INIT_MET,
div.SIGNAL, div.PROPEP, div.TRANSIT, div.CHAIN, div.PEPTIDE, div.TRANSMEM, div.TOPO_DOM, div.INTRAMEM, div.NP_BIND, div.DNA_BIND,
div.DOMAIN, div.REPEAT, div.COILED, div.REGION, div.NON_TER, div.NON_CONS, div.CONFLICT, div.UNSURE, div.MUTAGEN, div.VARIANT,
div.VAR_SEQ, div.MOD_RES, div.NON_STD, div.COMPBIAS, .MOTIF, div.SIGNAL, div.ZN_FING, div.CA_BIND, div.TRANSIT{
	background-color: #0CFF00;
}

.buffer {
	background-color: #F5F5F5;
}

#HELIX_legend {
	border-left: 0.5em solid #7EB6FF;
}

#BETA_STRAND_legend {
	border-left: 0.5em solid #9AFF9A;
}

#TURN_legend {
	border-left: 0.5em solid #F0A;
}

.legends span {
	padding-left: 5px;
	padding-right: 3px; 
}

.legends span#AR_LEGEND {
	border-left: 0.5em solid red;
} 
.legends span#Bacteria_LEGEND {
	border-left: 0.5em solid Green;
} 
.legends span#EU_LEGEND {
	border-left: 0.5em solid blue;
}
.legends span#UNCL_LEGEND{
	border-left: 0.5em solid #FF1493;
}
.legends span#VIRU_LEGEND{
	border-left: 0.5em solid #FFFF00;
}
.legends span#OTHER_LEGEND {
	border-left: 0.5em solid #FFA500;
}
.legends span#VIRO_LEGEND{
	border-left: 0.5em solid #000000;
}
.legends span#UNKNOWN_LEGEND {
	border-left: 0.5em solid #000000;
}

/* Tooltips */
.bubbletooltip_tip {
    background-color: #222222;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #000000 inset;
    color: #FFFFFF;
    padding: 10px;
    position: relative;
    text-shadow: 0 0 3px #000000;
}

.helpgraphstooltip_tip {
    padding: 10px;    
    /*max-width: 400px;*/
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #deca7e;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-shadow: none;
}

/*.bubbletooltip_tip:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #000000;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    content: "";
    position: absolute;
    left: 160px;
    top: -10px;
    z-index: -1;
}*/

#warning.icon-generic:before {
    color: black;
}

.highlight {
    background-color: #CAE7F3;
}


/*.filter-title {
    color: #2980B9;
}*/