
/**
Common
*/

body {
  max-width: 100%;
  width: 100%;
}


#wrap {
  width:1000px;
  margin:0 auto;
  background:#99c;
}


p.pos_indented {
  left: 50px;
}

.two-colours tr:nth-child(even) {
  background-color: #DEEFF5;
}

.choiceA {
  background-color: #D2E0E6;
}

.choiceB {
  background-color: #d8d8d8;
}

.indent1 {
  padding-left: 3em;
}

ul
{
  list-style-type: none;
}

/* Annotation Side Bar*/


/* Slimming pages*/
#slimming {
  float:left;
  width:1000px;
  background:#9c9;
}

#slimming-next{
  float:right;
}

#slimming-proteinbox{
  height:200px;
  width:800px;
  font-size:14pt;
}


/* Advanced Filters Modal*/
.content-margin-10 {
  margin: 10px;
}

.app-modal-window .modal-dialog {
  width: 90%;
}



