/* Universal         -------------------------------------------------------------------------------------------------*/
a:hover {
 cursor:pointer;
 text-decoration: none;
}

.text-nowrap {
  white-space: nowrap;
}

.quickgo-content {
  background-color: white;
}

/* Stop bullets points appearing, say for the filter by taxon list.*/
ul {
  list-style-type: none;
  padding-left: 9px;
}

.selectable {
  cursor: pointer;
}

.panel {
  border-radius: 6px;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #f4f5f7;
}

.panel h3 {
  border-bottom: none;
}

.credit-image {
  max-height: 45px;
  border-radius: 6px;
  vertical-align: top;
}

.obsolete {
  color: #999;
}

a.icon,
a.icon:link,
a.icon:active,
a.icon:visited {
  border-bottom: none !important;
}
a.icon:before {
  color: #2980B9 !important;
}

a.icon:hover::before  {
  color: #00742B !important;
}

.alert.ng-hide-add,
.alert.ng-hide-remove {
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    display: block !important;
    opacity: 1;
}


.alert.ng-hide {
    opacity: 0;
}

.ellipsis {
  display: inline-block;
  max-width:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* TITLE   -----------------------------------------------------------------------------------------------------------*/
/* This section holds the our app title*/

div#local-masthead {
  background-color: white;
  background-position:top right;
  background-image: url(../images/bg4.png);
  background-repeat: no-repeat;
}

#beta-message {
  background-color:lightgrey;
}

#quickgo-local-logo{
  min-width: 110px;
  min-height: 66px;
  padding:10px;
  margin-bottom:10px;
}

.subtitle{
	padding-top: 10px;
	margin-left: 20px;
}

/* STRUCTURE  --------------------------------------------------------------------------------------------------------*/
body {
  max-width: 100%;
  width: 100%;
  background-color: white;
  line-height: normal;
  font-size: small;
}

/* DEFAULT FORM ELEMENTS ---------------------------------------------------------------------------------------------*/
textarea.default {
  width: 100%;
  height: 8em;
}
textarea.small {
  width: 20em;
  height: 4em;
  margin-left: 10px;
}

/* DIRECTIVES ---------------------------------------------------------------------------------------------*/
.basket-btn, .chart-btn {
  background-color: #329DE3;
  border-radius: 30px;
  color:#FFF;
  width:20px;
  font-size: 10px;
  height:20px;
  line-height: 20px;
  display: inline-block;
}
.chart-btn {
  border-radius: 2px;
  font-size: 13px;
}

.basket-btn:before, .chart-btn:before {
  color: #FFF !important;
  font-weight: lighter;
  padding-left: 5px;
}
.chart-btn:before{
  padding-left: 3px;
}

.basket-btn:hover {
  background-color: green !important;
}

.basket-btn.basket-added {
  background-color: green;
}

.basket-btn.basket-added:hover {
  background-color:red !important;
}

mega-search {
  display: block;
}

.annotations-link, .annotations-link:link,  .annotations-link:visited,
.typeahead-box a.annotations-link, .typeahead-box a.annotations-link:link, .typeahead-box a.annotations-link:visited {
  cursor: pointer;
  white-space: nowrap;
  background-color: #329DE3 !important;
  color:#FFF !important;
  padding:.2em .8em !important;
  border-bottom: none;
  border-radius: 1em;
  border-style: none !important;
}

.annotations-link:hover, .typeahead-box a.annotations-link:hover {
  opacity: .7;
  color:#FFF;
}


.quickgo-btn,
a.quickgo-btn,
.quickgo-btn:active,
.quickgo-btn:visited,
.quickgo-btn:focus {
  border: 1px solid #2980B9;
  background-color: #329DE3;
  color: #FFF;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

.quickgo-btn:hover {
  background-color: #2980B9;
  color:#FFF;
}

.quickgo-btn:before {
  color: #FFF !important;
}

.quickgo-btn.disabledButton{
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: auto;
}

/* GENERAL MODAL -----------------------------------------------------------------------------------------------------*/
.quickgo-modal {
  margin: 20px;
}

/* Homepage   ----------------------------------------------------------------------------------------------------------*/

.homePageBox{
  text-align: center;
}
.homePageBox h2{
  color: white;
  text-align: center;
}

.homePageBox,
.homePageBox h2 a,
.homePageBox a{
  color: white;
    padding-top: 0px;
}

.homePageBox a:hover{
  border-bottom: 1px dotted white;

}

#searchTerms{
  background-color: #006f91;
  margin-bottom: 20px;
  min-height: 150px;
  margin-top: 20px;
}
#investigateGoSlims{
  background-color: #00a9de;
  min-height: 250px;
}
#goAnnotations{
  background-color: #00a9de;
  min-height: 250px;
}
#goAnnotations img{
  margin-top: 10px;
}
#investigateGoSlims img{
  margin-top: 10px;
}

#goAnnotations:hover{
  cursor: pointer;
  background-color: #E89A4C;
}
#investigateGoSlims:hover{
  cursor: pointer;
  background-color: #E89A4C;
}

.intro_text{
  margin-top: 1em;
  margin-bottom: 0;
}
.intro_text p{
  margin-top: 0;
  margin-bottom: 1em;
}

.helpIcon{
  font-size: 1.5em;
  margin-top: 4px;
}
html.fontface .helpIcon::before{
    color: white;
    background-color: none;
    border-radius: 30px;
}

.homepageInfo{
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff; /* F5F5F5*/
  color: #666;
}

a.toolBoxLink{
  border-bottom: none;
}

/* TABLES   ----------------------------------------------------------------------------------------------------------*/

table {
  border-style: none none none none;
}

td.aFilter {
  font-weight: bold;
}

.two-colours tr:nth-child(odd) {
  background-color: #defcfc;
}


/* TYPE-AHEAD  -------------------------------------------------------------------------------------------------------*/

#searchbox {
  background-color: white;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #CCC;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%;
}

div.masthead ul.dropdown-menu li {
  float: none;
}

div#search-area ul.dropdown-menu li.active a{
  color: white;
}

div#search-area ul.dropdown-menu li a.ng-scope:hover {
  color: white;
}

#search-area {
  margin: 7px;
  padding: 3px;
  border-color: #bce7e7;
  min-width: 60%;
}

/* Explore Biology    ---------------------------------------------------------------------------------------------------------*/

.slimsSelector{
  margin-left: 10px;
}

.selectContainer{
  padding: 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.selectContainer ul{
  margin-top: 10px;
  min-height: 100px;
}

.slimsOptions{

}

.slimsActionButtons{
  margin-top: 30px;
}

.yourSelectionContainer{
  border-top: 1px solid #ccc;
  padding: 10px;
}
.yourSelectionContainer ul{
  margin-left: 30px;
}

.yourSelectionContainer ul li{
  margin-top: 3px;
}


.yourSelectionHeader{
  border-bottom: none;
  margin-top: 30px;
}

.sectionEmpty{
  color: #ccc;
}
.additionalOptionsDeactivated, .additionalOptionsDeactivated h3, .additionalOptionsDeactivated h5{
  color: #ccc;
}

#selectionHeader.affix {
  top: 0;
  width: 100%;
  background-color: #ffffff;
    z-index: 100;
    border-bottom: 1px solid #cccccc;
}

.successMessage{
  background-color: red;
  color: white;
}

#nothingYetSelected h4{
  color: #ccc;
}



/* RESULTS    ---------------------------------------------------------------------------------------------------------*/
.typeahead-box {
  width:100%;
  background: #FFF;
  position: absolute;
  z-index: 1000;
  float:left;
  border: 1px solid #ccc;
  border: 1px solid rgb(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
}

.typeahead-box p {
  font-style: italic;
  color:#333 !important;
  text-shadow:none !important;
  text-align: center;
}

.typeahead-box hr {
  width: 90%;
}

.typeahead-box h3 {
  border:none;
}

ul.results-list {
  margin-top: 0;
  background-color: transparent !important;
}

ul.results-list li {
  display: block;
  line-height: 2em;
  margin: .5em 1em;
  border:none;
  float: none !important;
  white-space: nowrap;
}

.typeahead-box a, .typeahead-box a:link, .typeahead-box a:visited {
  padding: 0 !important;
  display: inline;
  color:#2980B9 !important;
  text-shadow: none !important;
  border-bottom: 1px dotted #222 !important;
}

.typeahead-box a:hover {
  background-color: transparent !important;
  color: #00742B !important;
}


/* BASKET    ---------------------------------------------------------------------------------------------------------*/
#basket {
  color: black;
  padding: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.emptyBasket {
  background-color: red;
}

.popBasket {
  background-color: white;
}

/* PAGINATION   ------------------------------------------------------------------------------------------------------*/


.pagination {
  margin: 0px !important;
}

.highlight-viewBy {
  background-color: #defcfc;  /* this colour needs to change as its the row highlight colour - Mark*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ANNOTATION LIST  --------------------------------------------------------------------------------------------------*/

.filter-list {
  line-height: 2em;
}

/* ANNOTATION SIDEBAR  -----------------------------------------------------------------------------------------------*/

td.sidebar-appliedFilter {
  background-color: white;
}

textarea.sidebar {
  height: 6em;
  width: 100%;
}

/* Highlight search term in search results*/
.highlighted {
  background-color: #FFFBCC;
}

.sidebar-padding {
  margin: 2px;
}

.filterCount {
  float: right;
  font-weight: bold;
  background-color: white;
}
/* TERM PAGE ----------------------------------------------------------------------------------------------------*/

.quickgo-hoz-header th{
  min-width: 265px;
  text-align: right;
}

li.section-disabled a, l
i.section-disabled a:hover {
  color: rgba(18, 80, 84, 0.24)!important;
  cursor: default;
  text-decoration: none;
  border-bottom: none;
}

#term-changelog-selection li{
  display: inline;
  padding: 6px;
  margin: 5px;
  background-color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#term-section {
  width: 300px;
  background: greenyellow;
}

#term-section-nav {
  line-height: 2em;
}

#term-section-nav.fixed {
  position: fixed;
  top:10px;
}

#term-section-nav li {
  display: block;
  padding-left: 1em;
  border-left:2px solid #FFF;
}

#term-section-nav li.active {
  border-left:2px solid #2980B9;
}

.term-section-header {
  border-bottom: 1px solid #2C3E50;
  margin-bottom: .8em;
}

/* SLIMMING PAGES ----------------------------------------------------------------------------------------------------*/

li.slim {
  padding: 1%;
}

#slimming {
  float: left;
  width: 1000px;
}

/* ADVANCED FILTERS MODAL DIALOGUE ----------------------------------------------------------------------------------*/
.app-modal-window .modal-dialog {
  width: 90%;
}

li.main {
  padding: 4px;
}

li.sub-1 {
  padding: 2px;
}

/* ANCESTOR GRAPH  ---------------------------------------------------------------------------------------------------*/
IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.action-buttons-grouped {
  display: inline;
}
