/* These style rules will over-ride the core EBI styles */

/* Color
===================================================*/


/* Test comment to test the new process - mark*/

// Common
$white : #FFFFFF;
$black : #000;

$darkgrey: #333;
$darkishgrey: #666;
$midgrey : #999;
$lightgrey: #ccc;
$verylightgrey: #f4f5f7;

//  Colour chart
$primary1 : #2980B9; /* Button Blue */
$primary2 : #2C3E50; /* Dark Blue */
$primary3 : #ECF0F1; /* Grey used for table headers */
$primary4 : #defcfc; /* Used for table row alternate background*/
$primary5 : #E89A4C; /* Used for the homepage box highlight */
$primary6 : #00a9de; /* Used for hompage box base colour bg */
$primary7 : #006f91; /* Used for homepage search terms box bg */
$primary8 : #B5E9B3; /* Used for panels on help page */

$quickgo-button : #329DE3;
$yellow-highlight : #FFFBCC;
$ebi-green : #00742B;



/* Links */
a,
a:link,
a:visited{
  color: $primary1;
}

a:hover,
a:focus,
a:active{
  color: $primary1;
  border-bottom: 1px dotted $primary1;
}

.icon-conceptual:before,
.icon-functional:before,
a.button.icon-functional:before,
.icon-static:before,
.icon-generic:before{
  font-size: 108%;
  color: $white;
}
.your-selection-container .icon-functional:before{
  color: $primary1;
}

#global-nav .icon-generic:before{
  font-size: 108%;
  color: $white;
}

/* Headings */
h1, h2, h3, h4, h5, h6{
  color: $primary2;
}

h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  border-bottom:none;
}

/* Table heading cells */
th {
  background-color: $primary3;
 }

/* Colour the faux-underline for local menu items */
// div#local-masthead ul li a:hover,
// div#local-masthead ul li a:focus,
// div#local-masthead ul li a:active {
// border-bottom: 3px solid $primary1;
// }

/* Buttons */
// ul.action-buttons-grouped {
// 	padding:0;
// 	margin:0 0 1px 0;
// 	padding-bottom: 2px;
// }
// .action-buttons-grouped li {
// 	list-style: none;
// 	display: inline-block;
// 	margin: 0;
// }
//
// #warning.icon-generic:before {
//     color: $black;
// }
