<div id="content" class="container_24" cg-busy="queryPromise">
  <h2>Results for term "{{searchTerm}}"</h2>

  <div class="grid_4">
      <facets endpoint="searchterms" fields="results.facet.facetFields" filters="filters" search-term="searchTerm"></facets>
  </div>

  <!-- Main Content -->
  <div id="searchResultsMainContent" class="grid_20">
    <div>
      <p>
        <strong>{{results.numberOfHits}}</strong> results</strong>
      </p>
      <table id="searchResults" class="two-colours">
        <tr>
          <th>Term</th>
          <th>Annotations</th>
        </tr>
        <tr ng-repeat="searchResult in results.results">

          <td class="text-nowrap" ng-class="{'inactive':searchResult.isObsolete==true}">

            <span ng-if="searchResult.aspect" uib-tooltip-template="'colAspect.html'"
                  class="aspect-icon aspect-{{ontoOneLetterName(searchResult.aspect)}}">
              {{ontoOneLetterName(searchResult.aspect)}}
            </span>
            <span><a href="term/{{searchResult.id}}">{{searchResult.id}}</a></span>
            <basket-button ng-if="isGoTerm(searchResult.id)" termid="{{searchResult.id}}"
                           icondisabled="{{searchResult.isObsolete}}"></basket-button>
            <chart-icon ng-show="{{!searchResult.isObsolete}}" term-id="searchResult.id" term-name="searchResult.name"></chart-icon>
            <span ng-bind-html="highlight(searchResult.name)">{{searchResult.name}}</span>
          </td>
          <td><a ng-href="annotations?id={{searchResult.id}}" class="annotations-link"><annotations-link termid="{{searchResult.id}}"></annotations-link></a></td>
        </tr>
      </table>
      <uib-pagination total-items="results.numberOfHits" max-size="5" items-per-page="maxSize" rotate="false" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<script type="text/ng-template" id="colAspect.html">
  <span>The ontology to which <br />the GO term belongs:<br />F (Molecular Function)<br />P (Biological Process)<br />C (Cellular Component)</span>
</script>
