<div id="content" class="container_24" cg-busy="queryPromise">
  <h2>Results for term "{{searchTerm}}"</h2>

  <div class="grid_4">
    <ul class="filter-list">
      <li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='goID'}" ng-click="showResults('goID')"><a>GO
        Terms({{x.goNumberResults}})</a>
      </li>
      <ul>
        <li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='bp'}" ng-click="showResults('bp')">
          <a>Biological Process ({{x.biologicalProcessNumberResults}})</a>
        </li>
        <li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='mf'}" ng-click="showResults('mf')"><a>Molecular
          Function ({{x.molecularFunctionNumberResults}})</a>
        </li>
        <li class="select-viewBy" ng-class="{'highlight-viewBy': x.viewBy=='cc'}" ng-click="showResults('cc')"><a>Cellular
          Component ({{x.cellularComponentNumberResults}})</a>
        </li>
      </ul>
    </ul>
  </div>

  <!-- Main Content -->
  <div id="searchResultsMainContent" class="grid_20">
    <div>
      <p>
        <strong>{{srcTotalNumberResults}}</strong> results</strong>
      </p>
      <table id="searchResults" class="two-colours">
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        <tr ng-repeat="searchResult in x.searchResults">

          <td class="text-nowrap">
            <span><a href="/#/term/{{searchResult.id}}">{{searchResult.id}}</a></span>
            <basket-button termid="{{searchResult.id}}"></basket-button> <chart-icon searchResultId="{{searchResult.id}}" searchResultName="{{searchResult.name}}"></chart-icon> <span ng-click="showOntologyGraph(searchResult.id,searchResult.name)" class="icon icon-functional chart-btn selectable" data-icon="h"></span>
          </td>
          <td ng-bind-html="highlight(searchResult.name)"></td>
        </tr>
      </table>
      <uib-pagination total-items="srcTotalNumberResults" max-size="5" items-per-page="maxSize" rotate="false" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
