<div style="margin: 20px">
  <a style="float: right;" class="closeBox" id="closeDownloadMenu"  ng-click="close()">X</a>
  <h5>QuickGO Download</h5>
  <img ng-show="isLoading" src="images/ajax-loader.gif">


  <form>
    <label class="bold-label">Format:</label>
    <select ng-model="selectedFormat"  ng-options="downloadFormat.format for downloadFormat in downloadFileFormats"></select>
    <br/>
    <br/>
    <label class="bold-label">Limit:</label>
    <input ng-model="selectedLimit" ng-bind="selectedLimit">
    <br/>
    <br/>
    <button class="btn btn-default" ng-click="submit(selectedFormat,selectedLimit)">Submit</button>
    <button class="btn btn-default" ng-click="close()">Close</button>
  </form>

  </div>

</div>
