<div class="Modal-box">
  <div id="basket-contents-show" style="top: 34px;" cg-busy="graphPromise">
    <h5 style="text-align:center"><strong>{{graphModel.id}}&nbsp{{graphModel.name}}</strong></h5>
    <img class="displayed" ng-src="{{targetDomainAndPort}}/ws/chart?ids={{graphModel.id}}&scope={{graphModel.scope}}" id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap"  >


      <map name="ontologygraphmap">
        <span  ng-repeat="layoutNode in graphImage.layoutNodes">
            <area shape="rect"
                  coords="{{layoutNode.left}},{{layoutNode.top}},{{layoutNode.right}},{{layoutNode.bottom}}"
                  href="{{feDomainAndPort}}/#/term/{{layoutNode.id}}"
                  alt="Term {{layoutNode.id}}"
                  title="{{layoutNode.id}} - Click for more information"
                  target="_blank">
          </span>
        <span ng-repeat="legendNode in graphImage.legendNodes">
          <div ng-mouseover="formattedTooltip(legendNode.topic)">
          <area shape="rect"
                id="{{legendNode.topic}}"
                class="relationHelp"
                coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                tooltip-html-unsafe="{{tooltip}}" tooltip-placement="left">
          </div>
          </span>
      </map>

  </div><!--End of modal for ontology hierarchy-->
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</div>
