<div class="Modal-box">
  <div id="basket-contents-show" cg-busy="graphPromise">
    <div>
        <div class="ancestor-list"><strong>Ancestors of:</strong>
            {{graphModel.id}}&nbsp{{graphModel.name}}
        </div>
          <button class="btn btn-primary btn-ancestor" ng-click="ok()">Close</button>
    </div>
    <div class="ancestor-chart-container">
    <img class="displayed" ng-src="{{targetDomainAndPort}}/chart?ids={{graphModel.id}}&scope={{graphModel.scope}}" id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap"  >

      <map name="ontologygraphmap">
        <span  ng-repeat="layoutNode in graphImage.layoutNodes">
            <area shape="rect"
                  coords="{{layoutNode.left}},{{layoutNode.top}},{{layoutNode.right}},{{layoutNode.bottom}}"
                  href="term/{{layoutNode.id}}"
                  alt="Term {{layoutNode.id}}"
                  title="{{layoutNode.id}} - Click for more information"
                  target="_blank">
          </span>
        <span ng-repeat="legendNode in graphImage.legendNodes">
          <div ng-mouseover="formattedTooltip(legendNode.topic)">
          <area shape="rect"
                id="{{legendNode.topic}}"
                class="relationHelp"
                coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                tooltip-html-unsafe="{{tooltip}}" tooltip-placement="left">
          </div>
          </span>
      </map>
    </div>

  </div><!--End of modal for ontology hierarchy-->

</div>
