<div id="wrap">
    <!--<h2>GO SLIMS  <img id="loading-image" src="<%= request.getContextPath() %>/images/ajax-loader.gif" alt="Loading..." height="42" width="42" /></h2>-->
    <h2>GO SLIMS</h2>

    <div id="slimming-left">
      <h3>Step 1: Add terms to your list</h3>
      <h4>Add predefined slim sets</h4>
      <div id="slimming_set_terms">
        <div class="slimming_section">
          <form>
          <ul ng-repeat="predefinedSet in predefinedSlimSets">
            <input type="radio" value="predefinedSet.subset" name="predefinedSlimSetRadio" ng-click="showSlimSet(predefinedSet)"/>{{predefinedSet.subset}}
          </ul>
          </form>
        </div>
      </div>
      <div class="clearfix"><p/></div>

      <h4>Add your own terms</h4>
      <div class="slimming_section">
        <form>
        <textarea ng-model="slimOwnTerms"></textarea>
          <p></p>
          <button ng-click="addOwnTerms(slimOwnTerms)">Add to List</button>
        </form>
      </div>
      <div class="slimming_buttons_panel">
        <a href="#" data-icon="+" class="closed icon icon-functional button" id="addOwnTermsButton" onclick="addOwnTerms($('#slimming_own_terms').val())">Add to list >>></a>
      </div>
      <div class="clearfix">
        <p/>
      </div>

      <h5>Add terms from your basket</h5>
      <div id="slimming_basket_terms">
        <div  class="slimming_section">
          <!--<c:forEach var="basketItem" items="${sessionScope.basketTerms}">-->
          <!--<c:set var="termchecked" value=""/>-->
          <!--<c:if test="${fn:contains(sessionScope.slimmingTerms, basketItem)}">-->
          <!--<c:set var="termchecked" value="checked"/>-->
          <!--</c:if>-->

          <input ${termchecked} type="checkbox" name="basket_values_slimming" value="${basketItem.key}"> ${basketItem.key} ${basketItem.value}</input><br/>
          <!--</c:forEach>-->
        </div>
      </div>
      <div class="slimming_buttons_panel">
        <a href="#" data-icon="+" class="closed icon icon-functional button" id="addBasketTermsButton" onclick="addBasketTerms()">Add to list >>></a>
      </div>
    </div>


  <!-- RHS-->

  <div id="slimming-right">
    <h3>Selected terms</h3>
    <!--<a href="#" onclick="clearSlimming()">Clear All</a>-->
    <div>
      <h4>Biological Process Terms</h4>
        <!--<a onclick="inactivateTerm('P')" href="#">Deselect All</a>-->
        <!--<a href="#" onclick="activateTerm('P')">Select All</a>-->
      <div>
        <ul>
          <!--<c:forEach var="slimmingTerm" items="${sessionScope.bp_slimmingTerms}">-->
          <!--<c:set var="termchecked" value="checked"/>-->
          <!--<c:set var="color" value=""/>-->
          <!--<c:if test="${fn:contains(sessionScope.inactiveSlimmingTerms, slimmingTerm)}">-->
          <!--<c:set var="termchecked" value=""/>-->
          <!--<c:set var="color" value="#B5B5B5"/>-->
          <!--</c:if>-->
          <!--<li><input ${termchecked} id="${slimmingTerm.key}" type="checkbox" name="final_terms_slimming" value="${slimmingTerm.key}"/><label for="${slimmingTerm.key}" style="color:${color}"> ${slimmingTerm.key} ${slimmingTerm.value}</label></li>-->

          <ul ng-repeat="bioTerm in bioProcessTerms">
            {{bioTerm.goId}}&nbsp;{{bioTerm.goName}}
          </ul>
          <!--</c:forEach>-->
        </ul>
        <!--<script>-->
        <!--activeInactiveEvent();-->
        <!--</script>-->
      </div>

      <h4>Molecular Function Terms
        <!--<span style="float:right;font-size:12px"><a onclick="inactivateTerm('F')" href="#">Deselect All</a></span>-->
        <!--<span style="float:right;font-size:12px"><a href="#" onclick="activateTerm('F')">Select All /</a></span>-->
      </h4>
      <div id="mf_section">
        <ul class="no-li-symbol">
          <!--<c:forEach var="slimmingTerm" items="${sessionScope.mf_slimmingTerms}">-->
          <!--<c:set var="termchecked" value="checked"/>-->
          <!--<c:set var="color" value=""/>-->
          <!--<c:if test="${fn:contains(sessionScope.inactiveSlimmingTerms, slimmingTerm)}">-->
          <!--<c:set var="termchecked" value=""/>-->
          <!--<c:set var="color" value="#B5B5B5"/>-->
          <!--</c:if>-->
          <!--<li><input ${termchecked} id="${slimmingTerm.key}" type="checkbox" name="final_terms_slimming" value="${slimmingTerm.key}"/><label for="${slimmingTerm.key}" style="color:${color}"> ${slimmingTerm.key} ${slimmingTerm.value}</label></li>-->
          <ul ng-repeat="molTerm in molFunctionTerms">
            {{molTerm.goId}}&nbsp;{{molTerm.goName}}
          </ul>
          <!--</c:forEach>-->
        </ul>
        <!--<script>-->
        <!--activeInactiveEvent();-->
        <!--</script>-->
      </div>

      <h5>Cellular component Terms<span style="float:right;font-size:12px"><a onclick="inactivateTerm('C')" href="#">Deselect All</a></span><span style="float:right;font-size:12px"><a href="#" onclick="activateTerm('C')">Select All /</a></span></h5>
      <div id="cc_section">
        <ul class="no-li-symbol">
          <!--<c:forEach var="slimmingTerm" items="${sessionScope.cc_slimmingTerms}">-->
          <!--<c:set var="termchecked" value="checked"/>-->
          <!--<c:set var="color" value=""/>-->
          <!--<c:if test="${fn:contains(sessionScope.inactiveSlimmingTerms, slimmingTerm)}">-->
          <!--<c:set var="termchecked" value=""/>-->
          <!--<c:set var="color" value="#B5B5B5"/>-->
          <!--</c:if>-->
          <li><input ${termchecked} id="${slimmingTerm.key}" type="checkbox" name="final_terms_slimming" value="${slimmingTerm.key}"/><label for="${slimmingTerm.key}" style="color:${color}"> ${slimmingTerm.key} ${slimmingTerm.value}</label></li>
          <!--</c:forEach>-->
        </ul>
        <!--<script>-->
<!--//          activeInactiveEvent();-->
        <!--</script>-->
      </div>
    </div>
  </div>

  <!--Buttons-->
  <!--<div class="grid_12" style="float:right;padding-bottom:1%" id="slimming_popup_buttons_menu">-->
    <!--<a  style="float:right" onclick="nextstep()" id="slimmingNextButton" class="closed icon icon-functional button" data-icon=">" href="#">Next</a>-->
    <!--<a  style="float:right;display:none" onclick="backstep()" id="slimmingBackButton" class="closed icon icon-functional button" data-icon="<" href="#">Back</a>-->
    <!--<a  style="float:right" onclick="slim()" id="slimmingProcess" class="closed icon icon-functional button" data-icon="i" href="#">View Annotations</a>-->
    <!--<a  style="float:right" onclick="showSlimmingGraph()" id="showSlimmingTermsGraph" class="closed icon icon-conceptual button" data-icon="o" href="#">Show Graph</a>-->
  <!--</div>-->

</div>
