<div id="wrap">
    <h2>GO SLIMS</h2>

    <div id="slimming">
      <h3>Step 1: Add terms to your list</h3>
      <h4>Add predefined slim sets</h4>

      <select ng-model="selectedPreDefinedSlimSet"  ng-options="predefinedSet.subset for predefinedSet in predefinedSlimSets" ng-change="showSlimSet()"></select>

      <p></p>
      <accordion>

          <accordion-group heading="Biological Process Terms">
            <input type="checkbox" ng-model="selectedAllBio" ng-click="checkAllBio('Biological Process')" />Select All
            <ul ng-repeat="aTerm in availablePredefinedTerms">
            <span ng-if="aTerm.aspectDescription=='Biological Process'">
             <label>
                <input type="checkbox" ng-model="aTerm.Selected"/>
                {{aTerm.termId}}&nbsp;{{aTerm.name}}
              </label>
              </span>
            </ul>
          </accordion-group>

          <accordion-group heading="Molecular Function Terms">
            <input type="checkbox" ng-model="selectedAllMol" ng-click="checkAllMol('Molecular Function')" />Select All
            <ul ng-repeat="aTerm in availablePredefinedTerms">
              <span ng-if="aTerm.aspectDescription=='Molecular Function'">
                <input type="checkbox" ng-model="aTerm.Selected" />
                {{aTerm.termId}}&nbsp;{{aTerm.name}}
              </span>
            </ul>
          </accordion-group>

          <accordion-group heading="Cellular component Terms">
            <input type="checkbox" ng-model="selectedAllCell" ng-click="checkAllCell('Cellular Component')" />Select All
            <ul ng-repeat="aTerm in availablePredefinedTerms">
              <span ng-if="aTerm.aspectDescription=='Cellular Component'">
                <input type="checkbox" ng-model="aTerm.Selected" />
                {{aTerm.termId}}&nbsp;{{aTerm.name}}
              </span>
            </ul>
          </accordion-group>

      </accordion>


      <h4>Add your own terms</h4>
      <ul ng-repeat="aTerm in ownTerms">
        <input type="checkbox" ng-model="aTerm.Selected" />
        {{aTerm.termId}}&nbsp;{{aTerm.name}}
      </ul>
      <form>
      <textarea ng-model="slimOwnTerms"></textarea>
        <p></p>
        <button ng-click="addOwnTerms(slimOwnTerms)">Add</button>
      </form>

      <p/><p/>
      <h4>Add terms from your basket&nbsp;({{basketList.length}}&nbsp;Available)</h4>
      <ul ng-repeat="basketItem in basketList">
        <input type="checkbox" ng-model="basketItem.Selected"/>
        {{basketItem.termId}}&nbsp;{{basketItem.name}}
      </ul>


    </div> <!-- slimming div -->

    <div id="slimming-next">
      <form>
        <button ng-click="nextSlimming()">Next</button>
      </form>
    </div>


    </div> <!-- wrap div -->
