<div id="content" cg-busy="queryPromise">
  <h2>Contents of the {{gpSetName}} gene product set</h2>

  <!-- Main Content -->
  <div id="searchResultsMainContent" class="row">
    <div>
      <h3>
        Description
      </h3>
      <p>{{targetSet.description}}</p>
      <p><a ng-click="targetSet.url" target="_blank">{{targetSet.url}}</a></p>
      <br/>
      <p>
        <strong id="top_anchor">{{data.numberOfHits}}</strong> results</strong>
      </p>
      <table id="searchResults" class="two-colours">
        <tr>
          <th>Symbol</th>
          <th>ID</th>
          <th>Name</th>
          <th>Taxon</th>
          <th>Taxon Name</th>
        </tr>
        <tr>
          <th colspan="5" style="text-align: center;">
            <span ng-repeat="(key, elements) in data.hits">
              <a ng-click="scrollTo(key + '_anchor')">{{key}}</a> |
            </span>
          </th>
        </tr>
        <tr ng-repeat="(key, elements) in data.hits">
          <td colspan="5">
            <table class="two-colours">
             <th colspan="5" style="text-align: center;">
               <strong id="{{key}}_anchor">{{key}}</strong> <a ng-click="scrollTo('top_anchor')">(Top)</a>
             </th>
             <tr ng-repeat="item in elements">
               <td>{{item.symbol}}</td>
               <td>{{item.id}}</td>
               <td>{{item.name}}</td>
               <td>{{item.taxonId}}</td>
               <td>{{taxaMapping[item.taxonId].scientificName}}</td>
             </tr>
           </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
