<div ng-repeat="facet in fields">
<h4 class="capitalize">{{facet.field}}</h4>
<ul class="facet-filter">
  <li ng-repeat="category in facet.categories" ng-switch="isSelected(facet.field, category.name)">
    <a ng-switch-when="true" class="facet-filter-active ellipsis"
       ng-href="{{endpoint}}/{{searchTerm}}?filters={{removeFilterUrl(facet.field, category.name)}}">
        {{category.display || category.name}}
    </a>
    <a ng-switch-when="false" class="ellipsis"
       ng-href="{{endpoint}}/{{searchTerm}}?filters={{getFilterUrl(facet.field, category.name)}}">
        ({{category.count}}) {{category.display || category.name}}
    </a>
  </li>
</ul>
</div>
