<div class="input-group" >
  <div class="search-align search-box" ng-hide="noInput">
    <input id="searchbox" type="text" autocomplete="off" ng-model="searchTerm" placeholder="{{prompt}}" ng-keydown="provideSuggestions($event.keyCode)" />
  </div>
  <div class="search-align" ng-hide="noInput"><button class="button search-button" type="submit" ng-click="submitSearch()">Search</button></div>
  <div id="megasearchbox" class="items" ng-hide="!searchTerm.length || searchTerm.length < 3" ng-class="{'typeahead-box' : !noInput}">
    <div cg-busy="goTermsPromise" class="callout">
      <h2>Terms</h2>
      <ul class="results-list no-bullet" ng-show="terms.results.length > 0">
        <li ng-repeat="term in terms.results" ng-class="{'inactive':term.isObsolete==true}">
          <term-line id="term.id" aspect="term.aspect" obsolete="term.isObsolete" name="term.name"></term-line>
          <annotations-link term-id="term.id" ng-if="!term.isObsolete"></annotations-link>
        </li>
        <li>
          <a ng-href="searchterms/{{searchTerm}}">Show all {{terms.numberOfHits | number}} results</a>
        </li>
      </ul>
      <p ng-show="!terms || terms.length <= 0">
        No results
      </p>
    </div>


    <div cg-busy="gpPromise" class="callout">
      <h2>Gene products</h2>
      <ul class="results-list no-bullet" ng-show="products.results.length > 0">
        <li ng-repeat="prod in products.results">
          <strong>{{prod.id}}</strong> {{prod.name}}
          <annotations-link product-id="prod.id"></annotations-link>
        </li>
        <li>
          <a ng-href="searchproducts/{{searchTerm}}">Show all {{products.numberOfHits | number}} results</a>
        </li>
      </ul>
      <p ng-show="!products || products.length <= 0">
        No results
      </p>
    </div>
  </div>
</div>
