<div class="input-group" ng-hide="noInput">
  <input id="searchbox" type="text" autocomplete="off" ng-model="searchTerm" placeholder="{{prompt}}" ng-keydown="provideSuggestions($event.keyCode)" />
  <div class="input-group-btn">
    <button class="btn quickgo-btn" type="submit" ng-click="submitSearch()">Search</button>
  </div>
</div>

<div class="items" ng-hide="!searchTerm.length || searchTerm.length < 3" ng-class="{'typeahead-box' : !noInput}">
  <div cg-busy="goTermsPromise" style="display: inline-block">
    <h3>Terms</h3>
    <ul class="results-list" ng-show="terms.results.length > 0">
      <li ng-repeat="term in terms.results" ng-class="{'inactive':term.isObsolete==true}">
        <aspect-icon aspect="term.aspect"></aspect-icon>
        <a ng-href="term/{{term.id}}">{{term.id}}</a>
        <basket-button ng-if="isGoTerm(term.id)" termid="{{term.id}}" icondisabled="{{term.isObsolete}}"></basket-button>
        <chart-icon ng-show="{{!term.isObsolete}}" term-id="term.id" term-name="term.name"></chart-icon>
         - {{term.name}}
        <a ng-href="annotations/filter?id={{term.id}}" class="annotations-link">
          <annotations-link termid="{{term.id}}"></annotations-link>
        </a>
      </li>
      <li>
        <a ng-href="searchterms/{{searchTerm}}">Show all {{terms.numberOfHits}} results</a>
      </li>
    </ul>
    <p ng-show="!terms || terms.length <= 0">
      No results
    </p>
  </div>
  <hr>
  <div cg-busy="gpPromise">
    <h3>Gene products</h3>
    <ul class="results-list" ng-show="products.results.length > 0">
      <li ng-repeat="prod in products.results">
        <strong>{{prod.id}}</strong> {{prod.name}}
        <a ng-href="annotations/filter?gpID={{prod.id}}" class="annotations-link" >
          <annotations-link productid="{{prod.id}}"></annotations-link>
        </a>
      </li>
      <li>
        <a ng-href="searchproducts/{{searchTerm}}">Show all {{products.numberOfHits.toLocaleString()}} results</a>
      </li>
    </ul>
    <p ng-show="!products || products.length <= 0">
      No results
    </p>
  </div>
</div>
