<div class="column medium-6 expanded">
    <h5>{{title}}</h5>
    <table class="two-colours">
      <tr>
        <th></th>
        <th>%</th>
        <th>Count</th>
      </tr>
      <tr ng-repeat="item in items">
        <td>
          <term-line ng-if="isTerm" id="item.key" aspect="mapping[item.key].aspect"
            obsolete="mapping[item.key].obsolete" name="mapping[item.key].name"></term-line>
          <strong ng-if="!isTerm">{{item.key}}</strong>
        </td>
        <td>{{item.percentage * 100 | number:2}}</td>
        <td>{{item.hits | number:0}}</td>
      </tr>
    </table>
  </div>
</div>
