<div class="grid_4" ng-controller="SidebarCtrl">

  <h4>Display</h4>
  <ul class="filter-list">
    <li ng-class="{'active' : !displayStats}"><a href="#/annotations">Annotations</a></li>
    <li ng-class="{'active' : displayStats}"><a href="#/statistics">Statistics</a></li>
  </ul>

  <!-- APPLIED FILTERS LIST-->
  <h4>Applied Filters</h4>
  <element class="filter-count" ng-if="appliedFilters.length==0">[None]</element>
  <element class="filter-count" ng-if="appliedFilters.length>0">[{{appliedFilters.length}}]</element>

  <div id="results-sidebar">
  <table class="quickFilter" ng-show="appliedFilters.length>0">
    <tr>
        <tr ng-repeat="filter in appliedFilters">
          <td class="sidebar-applied-filter" ng-if="filter">
            {{filter.type}} : {{filter.value}}
            <a class="icon icon-functional pull-right" data-icon="x" ng-if="filter.type!='goTermUse' && filter.type!='goRelations'" ng-click="removeFilter(filter)"></a>
          </td>
      </tr>
      <tfoot>
        <tr><td>
          <button class="btn quickgo-btn pull-right" ng-click="clearFilters()">Clear</button>
        </td></tr>
      </tfoot>
  </table>
</div>
  <hr>

  <!-- FILTER BY TAXON-->
  <div ng-show="showInitialTaxons">
      <h4>Taxon</h4>
      <ul class="filter-list">
        <li ng-repeat="taxon in initialTaxonomies" class="quickFilter selectable"><a ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</a></li>
      </ul>
      <a class="pull-right" ng-click="showMore()">More</a>
  </div>
  <div ng-show="!showInitialTaxons">
      <h5>Taxon</h5>
      <ul class="filter-list">
        <li ng-repeat="taxon in mostCommonTaxonomies" class="quickFilter selectable"><a ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</a></li>
      </ul>
      <a class="pull-right" ng-click="showLess()">Less</a>
  </div>

  <div>&nbsp;</div>

  <hr>

  <!-- FILTER BY ID -->
  <div>
    <h4>Filter By ID</h4>
    <p>
      <label>GO Id:</label><textarea class="sidebar"        ng-model="quickFilters.text.goID"></textarea>
      <label>Gene Product:</label><textarea class="sidebar" ng-model="quickFilters.text.gpID"></textarea>
      <button class="btn quickgo-btn sidebar-padding pull-right" class="icon icon-functional button" data-icon="1"
        ng-click="quickFilterById()">Submit</button>
    </p>
  </div>

</div>
