<div class="grid_23" ng-controller="SidebarCtrl">
  
  <!-- APPLIED FILTERS LIST-->
  <div ng-if="appliedFilters.length > 0">
    <h4>Applied Filters</h4>
    <div id="results-sidebar" class="panel panel-default">
      <ul ng-show="appliedFilters.length>0">
            <li ng-repeat="filter in appliedFilters">
              <span class="sidebar-applied-filter" ng-if="filter">
                {{filter.type}} : {{filter.value}}
                <a class="icon icon-functional" data-icon="x" ng-if="filter.type!='goTermUse' && filter.type!='goRelations'" ng-click="removeFilter(filter)"></a>
              </span>
            </li>
      </ul>
      <a ng-show="appliedFilters.length>0" ng-click="clearFilters()">Clear all</a>
    </div>
  </div>
  <button class="btn quickgo-btn icon-functional" data-icon="f" ng-click="showAdvancedFilters()">Advanced filters</button>
  
  <br><br>
</div>
