<div id="ancestor-chart-section"  ng-show="showAncestorChart" ng-controller="AncestorsGraphCtrl">
  <h3><strong>Ancestors Chart</strong></h3>
<h5 style="text-align:center"><strong>{{goModel.id}}&nbsp{{goModel.name}}</strong></h5>
<img ng-show="isLoading" src="images/ajax-loader.gif">
<!--<img src="data:image/png;base64, {{graphImageRaw}}" id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap"  >-->
<img class="displayed" ng-src="{{targetDomainAndPort}}/ws/chart?ids={{goModel.id}}" id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap"  >


<map name="ontologygraphmap">
  <!--<c:if test="${not fn:containsIgnoreCase(termGraphTitle, 'ECO:')}">-->
  <!-- ng-hide="graphImage.termGraphTitle.contains('ECO')"-->
        <span  ng-repeat="layoutNode in graphImage.layoutNodes">
            <area shape="rect"
                  coords="{{layoutNode.left}},{{layoutNode.top}},{{layoutNode.right}},{{layoutNode.bottom}}"
                  href="/#/term/{{layoutNode.id}}"
                  alt="Term {{layoutNode.id}}"
                  title="{{layoutNode.id}} - Click for more information"
                  target="_blank">
          </span>
        <span ng-repeat="legendNode in graphImage.legendNodes">
          <div ng-mouseover="formattedTooltip(legendNode.topic)">
            <area shape="rect"
                  id="{{legendNode.topic}}"
                  class="relationHelp"
                  coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                  tooltip-html-unsafe="{{tooltip}}" tooltip-placement="left">
          </div>
          </span>

</map>
</div>
