<div id="content" class="container_12" xmlns="http://www.w3.org/1999/html">
  <div class="sidebar grid_9">
    <h2 class="page-title">{{termModel.termId}}&nbsp;{{termModel.name}}</h2>
  </div>
  <div class="mainContent grid_1">
    <p></p>
  </div>
  <div class="grid_2">
    Basket:&nbsp;<span id="basket-count" style="display: inline;">{{countBasket}}</span>&nbsp;&nbsp;<button class="btn btn-default" ng-click="showBasket()">Show Basket</button>
  </div>
  <div class="clearfix"></div>

  <!--<div ng-include src="'views/term/term-sidebar.html'"></div>-->
  <div class="sidebar grid_2">
    <div id="entrySidebar">
      <div class="sidebarsubsection">
        <h3 class="first">
          <strong>Display</strong>
          <!-- <div class="sidebar-h-links">
                      <a href="#" id="all">All</a>
                  </div>-->
        </h3>
        <ul id="entry_sections">
          <li>
            <div>
              <input type="checkbox" ng-init="showTermInformation='true'" ng-model="showTermInformation" ng-checked="showTermInformation" ng-click="scrollTo('term-information-section')">
              <!--<span title="" id="term-information" class="entryview-name-nav" ng-click="scrollTo('term-information-section')">Term Information</span>-->
              Term Information
              <!--<button type="button" ng-click="scrollTo('term-information-section')" ng-disable="showTermInformation==false">&gt;</button>-->
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox" ng-model="showAncestorChart" ng-checked="showAncestorChart">
              <!--<span title="" id="ancestor-chart" class="entryview-name-nav" ng-click="scrollTo('ancestor-chart-section')">Ancestor Chart</span>-->
              Ancestor Chart
              <!--<button type="button"  ng-click="scrollTo('ancestor-chart-section')" ng-show="showAncestorChart">&gt;</button>-->
            </div>
          </li>
          <div ng-show="termModel.goTerm">
            <li>
              <div>
                <input type="checkbox"ng-model="showChildTerms" ng-checked="showChildTerms">
                <!--<span title="" id="child-terms" class="entryview-name-nav" ng-click="scrollTo('child-terms-section')">Child Terms</span>-->
                Child Terms
                <!--<button type="button"  ng-click="scrollTo('child-terms-section')" ng-disable="showChildTerms==false">&gt;</button>-->
              </div>
            </li>
            <li>
              <div>
                <input type="checkbox" ng-model="showCoocurring" ng-checked="showCoocurring">
                <!--<span title="" id="co-occurring-terms" class="entryview-name-nav" ng-click="scrollTo('co-occurring-terms-section')">Co-occurring Terms</span>-->
                Co-occurring Terms
                <!--<button type="button"  ng-click="scrollTo('co-occurring-terms-section')" ng-show="showCoocurring">&gt;</button>-->
              </div>
            </li>
            <li>
              <div>
                <input type="checkbox" ng-model="showHistory" ng-checked="showHistory">
                <!--<span title="" id="term-history" class="entryview-name-nav" ng-click="scrollTo('term-history-section')">Change Log</span>-->
                Change Log
                <!--<button type="button"  ng-click="scrollTo('term-history-section')" ng-show="showHistory">&gt;</button>-->
              </div>
            </li>
          </div>
        </ul>
      </div>
      <div>
        <div ng-show="termModel.goTerm">
          <element data-icon="i" id="show-term-annotations" class="closed icon icon-functional button" value="${term.id}"
                   style="cursor:pointer">Show annotations
          </element>
        </div>
      </div>
    </div>
  </div>

  <!--End of side bar information-->

  <!-- Main Content -->
  <div class="mainContent grid_10">
    <div ng-show="termModel.goTerm">
      <ul class="action-buttons-grouped decorated" id="resultActionButtons">
        <div id="add-to-basket-div">

            <button ng-show="preventAddToBasket" disabled>Add to Basket</button>
            <button ng-show="allowAddToBasket" ng-click="addItem(termModel.termId,termModel.name)">Add to Basket</button>
          <!--<script>-->
            <!--showTermAnnotationsButton();-->
          <!--</script>-->
        </div>
      </ul>
    </div>
    <div style="display: block;" id="resultsArea">
      <!-- Check if it's obsolete -->
        <div class="alert" ng-show="isObsolete">
          <element id="warning" class="icon icon-generic" data-icon="l" href="#"></element>
          <strong>This term is obsolete.</strong><br/>
          {{termModel.comment}}</div><br/>

      <!-- Term information -->
      <div ng-include src="'views/term/termInformation.html'"></div>
      <div class="clearfix"></div>

      <!-- Ancestors graph -->
      <div ng-include src="'views/term/ancestorsGraph.html'"></div>
      <div class="clearfix"></div>

      <!-- Child Terms -->
      <div ng-show="true" ng-include src="'views/term/childTerms.html'"></div>
      <div class="clearfix"></div>

      <!-- Co-occurring terms -->
      <div ng-show="true" ng-include src="'views/term/coOccuring.html'"></div>
      <div class="clearfix"></div>

      <!-- Change log -->
      <div ng-show="true" ng-include src="'views/term/history.html'"></div>

      <!-- Ontology graphs -->
      <!--<%@include file="/templates/ontologygraph.jsp"%>-->

      <!-- Check if there is any section specified after # . In that case, focus the page on that section-->
      <!--<script>-->
        <!--var section = window.location.hash;-->
        <!--if(section != ''){-->
          <!--section = section.replace("#","");-->
          <!--var checkbox = section + "-checkbox";-->
          <!--$("#" + checkbox).prop("checked", true);-->
          <!--section = section + "-section";-->
          <!--$("#" + section).show();-->
        <!--}-->
        <!--$('html, body').animate({-->
          <!--scrollTop : $("#" + section).offset().top-->
        <!--}, 1000);-->
      <!--</script>-->
    </div>
  </div>
  <div class="clearfix"></div>
</div>

