<div class="grid_23" ng-controller="AdvancedFiltersCtrl">  
  <ul class="list-inline">
    <li>Filter by:</li>

    <!-- TAXON -->
    <li uib-dropdown auto-close="outsideClick">
      <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
        Taxon <span class="caret"></span><br>
        <small>{{countElements(filters.taxon)}} selected</small>
      </button>
      <!-- TAXON -->
      <div class="advanced-filter-content" uib-dropdown-menu>
        <form>
        <div class="form-group">
          <ul>
            <li ng-repeat="taxon in mostCommonTaxonomies" class="checkbox">
              <label>
                <input type="checkbox" ng-change="updateFilters()" ng-model="filters.taxon[taxon.taxId]">
                <strong>{{taxon.title}}</strong> ({{taxon.taxId}})
              </label>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <p>...or enter taxon identifiers:</p>
          <a ng-repeat="taxonId in preferredTaxons(filters.taxon)" href="remove">{{taxonId}}</a>
          <textarea ng-model="taxonTextArea" placeholder="9606,100090,10116,..." class="form-control"></textarea>
          <p class="pull-right"><small>Visit <a href="http://www.uniprot.org/taxonomy/" target="_blank">UniProt Taxonomy</a> to find identifiers for
        other taxonomic groups</small></p>
        </div>
        <div class="form-group">
          <button class="btn quickgo-btn" type="button" ng-click="addTaxons()">Add</button>
        </div>
        </form>
      </div>
    </li>

    <!-- GENE PRODUCTS -->
    <li uib-dropdown auto-close="outsideClick">
      <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
        Gene products <span class="caret"></span><br>
        <small>{{countElements(filters.gpID)}} selected</small>
      </button>
      <!-- PRODUCT ID -->
      <div class="advanced-filter-content" uib-dropdown-menu>
        <form>
          <div class="form-group">
            <span ng-repeat="(gpID, value) in filters.gpID">{{gpID}}</span>
          </div>
          <div class="form-group">
            <textarea ng-model="gpTextArea" placeholder="A0A000, etc" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
            <button class="btn quickgo-btn" type="button" ng-click="addGPs()">Add</button>
          </div>
          <div class="form-group"> <!-- 4 choices -->
            <p>...or select a list of gene products:</p>

            <ul>
              <li ng-repeat="gpSet in geneProductSets" class="checkbox">
                <label>
                  <input id="{{gpSet.value}}_chk" type="checkbox" ng-model="filters.gpSet[gpSet.value]" ng-change="updateFilters()">
                  <a href="{{gpSet.link}}" targe="_blank">{{gpSet.name}}</a>
                  {{gpSet.description}}</label>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </li>

      <!-- GO TERMS -->
      <li uib-dropdown auto-close="outsideClick">
        <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
          GO terms <span class="caret"></span><br>
          <small>{{countElements(filters.goID)}} selected</small>
        </button>
        <!-- GO ID -->
        <div class="advanced-filter-content"  uib-dropdown-menu>
          <form>
          <ol>
            <li >
              <strong ng-show="basketItems.length>0">Select/</strong><strong>Enter the terms that you wish to use:</strong>
              <!-- 3 choices -->

              <!-- Select from basket -->
              <ol style="list-style: disc">
                <li  ng-show="basketItems.length>0" class="form-group">Select from your basket:
                  <ul>
                    <li ng-repeat="basketItem in basketItems" class="checkbox">
                      <label><input type="checkbox" ng-model="filters.goID[basketItem.termId]"
                      ng-change="updateFilters()">
                      {{basketItem.termId}} {{basketItem.name}}</label>
                    </li>
                  </ul>
                </li>
                <li class="sub-1" ng-show="basketItems.length==0" class="form-group">(No terms avaliable in your basket)</li>

                <li class="form-group">Use a predefined GO term set: <select ng-model="$parent.$parent.selectedPreDefinedSlimSet" ng-options="predefinedSet.subset for predefinedSet in predefinedSlimSets"
                  ng-change="updatePredefinedSets()"></select>
                </li>

                  <!-- Enter list of GO identifiers-->
                  <li class="form-group">Enter a list of GO identifiers (GO:nnnnnnn), separated by space, comma or newline characters:
                    <textarea class="form-group form-control" placeholder="GO:0016021, GO:0016022, ..." ng-model="goTermsTextArea" class="default"></textarea>
                    <div class="form-group">
                      <button class="btn quickgo-btn" type="button" ng-click="addGoTerms()">Add</button>
                    </div>
                  </li>
                </ol>

                <!-- How use-->

                <li><strong>Select how you want to use the terms that you have chosen:</strong>
                    <ul>
                      <li class="checkbox"><input type="radio" ng-model="filters.goTermUse" value="ancestor" ng-change="updateFilters()"> Find annotations to <strong>descendants</strong> of these
                        terms (annotations will display the original GO terms applied).
                      </li>
                      <li class="checkbox"><input type="radio" ng-model="filters.goTermUse" value="slim" ng-change="updateFilters()"> Use these terms as a <strong>GO slim</strong>.</li>
                      <li class="checkbox"><input type="radio" ng-model="filters.goTermUse" value="exact" ng-change="updateFilters()"> Use these terms as an <strong>exact</strong> match.</li>
                    </ul>
                </li>

                <!-- Select Relationship-->
                <li ng-show="advancedFilters.text.goTermUse=='slim' || advancedFilters.text.goTermUse=='ancestor'"><strong>Select which relationship an annotated term should have to the terms above:</strong>
                  <ul>
                     <li class="checkbox"><input type="radio" name="closure" value="I"
                      ng-model="filters.goRelations" ng-change="updateFilters()"> "is a"
                    </li>
                    <li class="checkbox"><input type="radio" name="closure" value="IPO"
                      ng-model="filters.goRelations" ng-change="updateFilters()"> "is a", "part of"
                    </li>
                    <li class="checkbox"><input type="radio" name="closure" value="IPOR"
                      ng-model="filters.goRelations" ng-change="updateFilters()"> "is a", "part of", "regulates"
                    </li>
                    </ul>
                </li>
            </ol>
           </form>
        </div>
      </li>

      <!-- ASPECT -->
      <li uib-dropdown auto-close="outsideClick">
        <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
        Aspect <span class="caret"></span><br>
          <small>{{countElements(filters.aspect)}} selected</small>
        </button>
        <!-- GO ID -->
        <div class="advanced-filter-content"  uib-dropdown-menu>
          <form>

            <li class="form-group">
              <label class="checkbox"><input type="checkbox" ng-model="filters.aspect['Function']" ng-change="updateFilters()"> Molecular Function
              </label>
              <label class="checkbox"><input type="checkbox" ng-model="filters.aspect['Process']" ng-change="updateFilters()"> Biological Process
              </label>
              <label class="checkbox"><input type="checkbox" ng-model="filters.aspect['Component']" ng-change="updateFilters()"> Cellular Component
              </label>
            </li>
          </form>
        </div>
      </li>

    <!-- QUALIFIER -->
    <li uib-dropdown auto-close="outsideClick">
      <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
        Qualifier <span class="caret"></span><br>
          <small>{{countElements(filters.qualifier)}} selected</small>
      </button>
      <!-- GO ID -->
      <div class="advanced-filter-content"  uib-dropdown-menu>
        <form>
          <p>The Qualifier column in a GO annotation is used for flags that modify the interpretation of an annotation.</p>

                <div ng-repeat="aQualifier in qualifiers" class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="filters.qualifier[aQualifier.qualifier]" ng-change="updateFilters()">
                    {{aQualifier.name}}
                  </label>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary quickgo-btn" ng-click="selectAllNotQualifiers()" ng-hide="showAllNotQualifiers">Select all NOT qualifier</button>
                </div>
          <p>Further details on the usage of the qualifier column can be found <a
            href="http://www.geneontology.org/page/go-annotation-conventions#qual" target="_blank">here</a>.</p>
          </form>
        </div>
      </li>

      <!-- EVIDENCE -->
      <li uib-dropdown auto-close="outsideClick">
        <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
          Evidence <span class="caret"></span><br>
          <small>{{countElements(filters.ecoID)}} selected</small>
        </button>
        <!-- GO ID -->
        <div class="advanced-filter-content"  uib-dropdown-menu>
        <div>
          <form>
            <p>A full description of evidence codes and their usage can be found <a
              href="http://www.geneontology.org/page/guide-go-evidence-codes" target="_blank">here</a>.</p>
              
              <div class="form-group y-scroll-200">
                <ul>
                  <li ng-repeat="evidenceModel in evidencesArray" class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="filters.ecoID[evidenceModel.ecoID]" ng-change="updateFilters()">
                        <a ng-click="showEvidenceCodeOntologyGraph('{{evidenceModel.ecoID}}')">{{evidenceModel.ecoID}}</a>
                      <strong>({{evidenceModel.evidenceGOID}})</strong> {{evidenceModel.evidenceName}}
                      </label>
                  </li>
                </ul>
              </div>
              <hr>
              <div class="form-group">
                <textarea class="form-control" ng-model="ecoTextArea" placeholder="ECO:0000352,..." ></textarea>
              </div>
              <div class="form-group">
                <button class="btn quickgo-btn" type="button" ng-click="addECOs()">Add</button>
              </div>

              <hr>

              <div class="radio">
                <input type="radio" ng-model="filters.ecoTermUse" value="ancestor" ng-change="updateFilters()"> Include Child Terms
              </div>
              <div class="radio">
                <input type="radio" ng-model="filters.ecoTermUse" value="exact" ng-change="updateFilters()"/> Exact match
              </div>
            </form>
          </div>
        </li>

        <!-- REFERENCE -->
        <li uib-dropdown auto-close="outsideClick">
          <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
            Reference <span class="caret"></span><br>
            <small>{{countElements(filters.reference)}} selected</small>
          </button>
          <!-- GO ID -->
          <div class="advanced-filter-content"  uib-dropdown-menu>
            <form>
              <div class="form-group">
                <textarea class="form-control" ng-model="referenceTextArea" placeholder="PMID:25101996, 25101996, ..."></textarea>
              </div>
              <div class="form-group">
                <button class="btn quickgo-btn" type="button" ng-click="addReferences()">Add</button>
              </div>
              <hr>
              <ul>
                <li ng-repeat="aRef in referenceList" class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="filters.reference[aRef.refId]" ng-change="updateFilters()"> <strong>{{aRef.display}}</strong>
                    {{aRef.name}}
                  </label>
                </td>
              </li>
            </ul>
            <p>*: Any matches will be displayed</p>
          </form>
        </div>
      </li>


      <!-- WITH -->
      <li uib-dropdown auto-close="outsideClick">
      <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
        With <span class="caret"></span><br>
            <small>{{countElements(filters.with)}} selected</small>
      </button>
      <div class="advanced-filter-content"  uib-dropdown-menu>
        <form>
            <div class="form-group">
              <textarea class="form-control" ng-model="withTextArea" placeholder="CGD:CAL0002805, ..."></textarea>
            </div>
            <div class="form-group">
              <button class="btn quickgo-btn" type="button" ng-click="addWith()">Add</button>
            </div>
            <hr>
            <ul>
              <li ng-repeat="withDB in withDBs" class="checkbox">
                  <label for="{{withDB.dbId}}">
                    <input type="checkbox" ng-model="filters.with[withDB.dbId]" ng-change="updateFilters()"> 
                    <strong>{{withDB.dbId}}</strong>
                  {{withDB.xrefDatabase}}</label>
                </td>
              </li>
            </ul>
            <p>* Any matches will be displayed</p>
        </form>
      </div>            

      <!-- ASSIGNED BY -->
      <li uib-dropdown auto-close="outsideClick">
        <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
          Assigned by <span class="caret"></span><br>
          <small>{{countElements(filters.assignedby)}} selected</small>
        </button>
        <!-- GO ID -->
        <div class="advanced-filter-content"  uib-dropdown-menu>
          <form>
          <ul>
            <li ng-repeat="assignDB in assignDBs" class="checkbox">
                <label>
                  <input type="checkbox"
                ng-model="filters.assignedby[assignDB.dbId]" ng-change="updateFilters()"> <strong>{{assignDB.dbId}}</strong>
                {{assignDB.xrefDatabase}}</label>
              </td>
            <li>
          </ul>
          </form>
        </div>
      </li>

      <!-- ANNOTATION EXTENSION -->
      <li uib-dropdown auto-close="outsideClick">
        <button type="button" class="btn btn-default quickgo-btn" uib-dropdown-toggle>
          Annotation extension <span class="caret"></span><br>
          <small>{{countElements(filters.annotationExtension)}} selected</small>
        </button>
        <!-- GO ID -->
        <div class="advanced-filter-content"  uib-dropdown-menu>
          <form>TBC</form>
        </div>
      </li>

      <li><a ng-click="clearFilters()">Clear all</a></li>
  </ul>
    
</div>
