<div class="grid_23" ng-controller="AdvancedFiltersCtrl">
  
  <ul class="list-inline">
    <li>Filter by:</li>

    <!-- TAXON -->
    <li>
      <filter-dropdown name="Taxonomy">
        <div ng-include src="'advancedfilters/taxonFilter.html'"></div>
      </filter-dropdown>
    </li>

    <!-- GENE PRODUCT IDs -->
    <li>
      <filter-dropdown name="Gene product IDs">
        <div ng-include src="'advancedfilters/geneProductFilter.html'"></div>
      </filter-dropdown>
    </li>

    <!-- GENE PRODUCT TYPE -->
    <li>
      <filter-dropdown name="Gene Product Type">
        <div ng-include src="'advancedfilters/productTypeFilter.html'"></div>
      </filter-dropdown>
    </li>

    <!-- GO TERMS -->
    <li>
      <filter-dropdown name="GO terms">
        <div ng-include src="'advancedfilters/goTermsFilter.html'"></div>
      </filter-dropdown>
    </li>

    <!-- ASPECT -->
    <li>
      <filter-dropdown name="Aspect">
        <div ng-include src="'advancedfilters/aspectFilter.html'"></div>
      </filter-dropdown>
    </li>

    <!-- EVIDENCE -->
    <li>
      <filter-dropdown name="Evidence">
        <div ng-include src="'advancedfilters/evidenceFilter.html'"></div>
      </filter-dropdown>
    </li>

    <!-- <li>
      <button type="button" class="btn btn-default quickgo-btn icon" ng-class="{'icon-functional active-filter' : isActiveFilter('qualifier')
        || isActiveFilter('referenceSearch') || isActiveFilter('with') || isActiveFilter('assignedby')}" data-icon="/" ng-click="showMore = (showMore? false : true)">
        More <span class="caret"></span>
      </button>
    </li> -->

    <li><a ng-click="clearFilters()">Clear all</a></li>
  </ul>

  <div ng-show="showMore" class="inset-panel animate-show">
    <hr>
    <!-- QUALIFIER -->
    <div class="grid_6">
      <div ng-include src="'advancedfilters/qualifierFilter.html'"></div>
    </div>

    <!-- REFERENCE -->
    <div class="grid_6">
      <div ng-include src="'advancedfilters/referencesFilter.html'"></div>
    </div>


    <!-- WITH -->
    <div class="grid_6">
      <div ng-include src="'advancedfilters/withFromFilter.html'"></div>
    </div>

    <!-- ASSIGNED BY -->
    <div class="grid_6">
      <div ng-include src="'advancedfilters/assignedByFilter.html'"></div>
    </div>

    <div class="clearfix"></div>
    <div class="pull-right">
      <button class="btn quickgo-btn" type="button" ng-click="resetAssigned()">Reset</button>
      <button class="btn quickgo-btn" type="button" ng-click="applyFilters()">Apply</button>
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>

</div>
