<div ng-controller="annotationExtensionFilterController">
  <div class="callout primary lead text-center">
    {{extension.length > 0 ? extension : 'Annotation extension query'}}
  </div>
  <div class="row">
    <div class="medium-2 columns" ng-show="andOrEnabled">
      <label>
        And/Or
        <select ng-model="selectedAndOrJoin" ng-options="andOrOption for andOrOption in andOrOptions"></select>
      </label>
    </div>
    <div class="medium-4 columns">
      <label>
        Relationship
        <autocomplete placeholder="occurs_in, has_input, directly_regulates, ..." model="relationship" data="relationshipData"></autocomplete>
      </label>
    </div>
    <div class="medium-3 columns">
      <label>
        Database
        <autocomplete placeholder="UniProtKB, UBERON, ..." model="db" data="databaseData"></autocomplete>
      </label>
    </div>
    <div class="medium-3 columns">
      <label>
        Identifier
        <input type="text" placeholder="0000922, ..." ng-model="id">
      </label>
    </div>
    <div class="medium-2 columns">
      <button type="button" class="hollow button in-form-button" ng-click="addComponent()" ng-disabled="addButtonEnabled()">Add</button>
    </div>
  </div>
  <hr>
  <div class="float-left">
  <div><a ng-click="addThemAll();" href="#">View all annotations with extensions</a></div>
  <div><a href="//www.ebi.ac.uk/QuickGO/annotationExtensionRelations" target="_blank">Annotation Extension Relations Hierarchy</a></div>
  </div>
  <div class="float-right">
    <filter-buttons></filter-buttons>
  </div>
</div>
