<div ng-controller="aspectFilter">
  <form>
    <li class="form-group">
      <label class="checkbox">
        <input type="checkbox" ng-model="aspect['Function']"> Molecular Function
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="aspect['Process']"> Biological Process
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="aspect['Component']"> Cellular Component
      </label>
    </li>
  </form>
  <hr>
  <div class="pull-right">
    <filter-buttons></filter-buttons>
  </div>
</div>
