<div ng-controller="evidenceFilter">
  <form>
    <filter-select items="ecos" is-term="true"></filter-select>
    <div>
      <div class="form-group">
        <textarea class="form-control" ng-model="ecoTextArea" placeholder="ECO:0000352,..."></textarea>
      </div>
      <div class="form-group">
        <button class="hollow button" ng-click="addECOs()">Add</button>
      </div>

      <hr>

      <div class="radio">
        <input type="radio" ng-model="evidenceCodeUsage" value="descendants"> Include Child Terms
      </div>
      <div class="radio">
        <input type="radio" ng-model="evidenceCodeUsage" value="exact" /> Exact match
      </div>
    </div>
  </form>
  <hr>
  <div class="small">A full description of evidence codes and their usage can be found <a href="http://www.geneontology.org/page/guide-go-evidence-codes" target="_blank">here</a>.</div>
  <div class="float-right">
    <filter-buttons></filter-buttons>
  </div>
</div>
