<div ng-controller="evidenceFilter">
  <form>
    <p>A full description of evidence codes and their usage can be found <a href="http://www.geneontology.org/page/guide-go-evidence-codes" target="_blank">here</a>.</p>

    <div class="form-group y-scroll-200 inset-panel">
      <ul>
        <li ng-repeat="eco in ecos" class="checkbox">
          <label>
            <input type="checkbox" ng-model="eco.checked">
            <chart-icon term-id="eco.id"></chart-icon>
            <strong>{{eco.name}}</strong> {{eco.description}}
          </label>
        </li>
      </ul>
    </div>
    <a ng-click="more = !more" ng-hide="more">Add more...</a>
    <div ng-show="more">

      <hr>
      <div class="form-group">
        <textarea class="form-control" ng-model="ecoTextArea" placeholder="ECO:0000352,..."></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="button" ng-click="addECOs()">Add</button>
      </div>

      <hr>

      <div class="radio">
        <input type="radio" ng-model="filters.ecoTermUse" value="ancestor"> Include Child Terms
      </div>
      <div class="radio">
        <input type="radio" ng-model="filters.ecoTermUse" value="exact" /> Exact match
      </div>
    </div>
  </form>
  <hr>
  <div class="pull-right">
    <filter-buttons></filter-buttons>
  </div>
</div>
