<div class="form-group" ng-show="(items | filter:{checked:true}).length > 0">
    <h6>Your selection</h6>
    <ul class="no-bullet">
        <li ng-repeat="item in items | filter:{checked:true}" class="checkbox">
            <label>
            <input type="checkbox" ng-model="item.checked">
            <span ng-if="!isTerm"><strong>{{item.id}}</strong> {{itemText({item: item})}}</span>
            <span ng-if="isTerm"><term-line id="item.id" aspect="term.item.aspect" obsolete="term.item.isObsolete" name="item.item.name"></term-line> {{item.item.description}}</span>
        </label>
        </li>
    </ul>
    <hr/>
</div>
<div class="form-group overflow-pane" ng-show="items.length > 0">
    <ul class="no-bullet">
        <li ng-repeat="item in items | filter:{checked:false}" class="checkbox">
            <label>
            <input type="checkbox" ng-model="item.checked">
            <span ng-if="!isTerm"><strong>{{item.id}}</strong> {{itemText({item: item})}}</span>
            <span ng-if="isTerm"><term-line id="item.id" name="item.item.name"></term-line> {{item.item.description}}</span>
          </label>
        </li>
    </ul>
</div>
