<div ng-controller="geneProductFilter">
  <form>
    <div>
      Your selection: {{getCheckedIds()}} gene product IDs
    </div>
    <div class="form-group overflow-pane">
      <ul class="no-bullet">
        <li ng-repeat="gp in gpIds" class="checkbox">
          <label>
            <input type="checkbox" ng-model="gp.checked" ng-change="selectItem(gp)"> {{gp.id}}
          </label>
        </li>
      </ul>
    </div>
    <div class="form-group">
      <textarea ng-model="gpTextArea" placeholder="A0A000, etc" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button class="hollow button" ng-click="addGPs()">Add</button>
    </div>
    <a ng-click="more = !more" ng-hide="more">Add more...</a>
    <div ng-show="more || getCheckedSets() > 0">
      <hr>
      <div class="form-group">
        <!-- 4 choices -->
        Your selection: {{getCheckedSets()}} gene product sets
        <p>List of gene product sets:</p>
        <ul class="no-bullet">
          <li ng-repeat="gpSet in geneProductSets" class="checkbox">
            <label>
              <input id="{{gpSet.id}}_chk" type="checkbox" ng-model="gpSet.checked">
              <a href="targetset/{{gpSet.id}}" target="_blank">{{gpSet.id}}</a> {{gpSet.item.description}}
              (<a href="{{gpSet.item.url}}" target="_blank">{{gpSet.item.url}}</a>)
            </label>
          </li>
        </ul>
      </div>
  </form>
  </div>
  <hr>
  <div class="float-right">
    <filter-buttons></filter-buttons>
  </div>
</div>
