<div ng-controller="geneProductFilter">
  <form>
    <h5>Gene product type</h5>
    <ul class="no-bullet">

        <li class="checkbox" ng-repeat="gpType in gpTypes">
          <label>
            <input type="checkbox" ng-model="gpType.checked">
            {{gpType.item.name}}</label>
        </li>

        <li class="checkbox" >
          <label>
            <input type="checkbox" ng-model="gpTypesSubSetsList">
            Proteins</label>
        </li>

        <ul ng-show="gpTypesSubSetsList">
          <h5>UniProtKB</h5>
          <span ng-repeat="gpType in gpTypesSubSets">
            <li class="checkbox">
              <label>
                <input type="checkbox" ng-model="gpType.checked">
                {{gpType.item.name}}</label>
            </li>
          </span>
          <br />
          <h5>Proteomes</h5>
          <span ng-repeat="gpType in gpTypesProteomes">
            <li class="checkbox">
              <label>
                <input type="checkbox" ng-model="gpType.checked">
                {{gpType.item.name}}</label>
            </li>
          </span>
        </ul>

    </ul>
    <hr/>
    <h5>And/Or Gene product ids</h5>
    <filter-select items="gpIds"></filter-select>
    <div class="form-group">
      <textarea ng-model="gpTextArea" placeholder="A0A000, etc" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button class="hollow button" ng-click="addGPs()">Add</button>
    </div>
    <hr/>
    <a ng-click="more = !more" ng-hide="more">And/Or select gene product sets...</a>
    <div ng-show="more || getCheckedSets() > 0">
        <h5>Gene product sets</h5>
        <div class="form-group">
        <!-- 4 choices -->
        Your selection: {{getCheckedSets()}} gene product sets
        <ul class="no-bullet">
          <li ng-repeat="gpSet in geneProductSets" class="checkbox">
            <label>
              <input id="{{gpSet.id}}_chk" type="checkbox" ng-model="gpSet.checked">
              <a href="targetset/{{gpSet.id}}" target="_blank">{{gpSet.id}}</a> {{gpSet.item.description}}
              (<a href="{{gpSet.item.url}}" target="_blank">{{gpSet.item.url}}</a>)
            </label>
          </li>
        </ul>
      </div>
  </form>
  </div>
  <hr>
  <div class="float-right">
    <filter-buttons></filter-buttons>
  </div>
</div>
