<div ng-controller="referencesFilter">
  <!-- GO ID -->
  <div>
    <form>
      <div class="inset-panel">
          <filter-select items="references" item-text="getReferenceDescription(item)"></filter-select>
      </div>
      <p>*: Any matches will be displayed</p>
      <a ng-click="more = !more" ng-hide="more">Add more...</a>
      <div ng-show="more">
        <hr>
        <div class="form-group">
          <textarea class="form-control" ng-model="referenceTextArea" placeholder="PMID:25101996, 25101996, ..."></textarea>
        </div>
        <div class="form-group">
          <button class="hollow button" ng-click="addReferences()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="float-right">
    <filter-buttons></filter-buttons>
  </div>
</div>
