<div ng-controller="referencesFilter">
  <h5>Reference</h5>
  <!-- GO ID -->
  <div>
    <form>
      <div class="y-scroll-200 inset-panel">
        <div class="overflow-pane">
          <ul class="no-bullet">
            <li ng-repeat="(name, ref) in references" class="checkbox">
              <label>
                <input type="checkbox" ng-model="ref.checked"> <strong>{{ref.name}}</strong> {{ref.description}}
              </label>
              </td>
            </li>
          </ul>
        </div>
      </div>
      <p>*: Any matches will be displayed</p>
      <a ng-click="more = !more" ng-hide="more">Add more...</a>
      <div ng-show="more">
        <hr>
        <div class="form-group">
          <textarea class="form-control" ng-model="referenceTextArea" placeholder="PMID:25101996, 25101996, ..."></textarea>
        </div>
        <div class="form-group">
          <button class="hollow button" ng-click="addReferences()">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
