<div cg-busy="resultsPromise" ng-controller="AnnotationListCtrl">
  <!-- Buttons -->
  <span class="buttons-under-tabs">

    <button class="button icon-functional" ng-click="customiseColumnsContainer = !customiseColumnsContainer" data-icon="s">Customise</button>
    <div id="customiseColumns" class="column-selector" class="animate-show" ng-show="customiseColumnsContainer">
      <span class="icon-functional column-selector__close" ng-click="customiseColumnsContainer = !customiseColumnsContainer" data-icon="x"></span>
      <h3>Choose columns</h3>
      <div class="column-selector__columns">
        <span ng-repeat="column in columns">
          <label>
            <input type="checkbox" ng-model="column.visible"> {{column.label}}
          </label>
        </span>
      </div>
    </div>

    <dropdown-toggle close-on-click="true">
      <toggle>
        <button class="button icon-functional" data-icon="=">Download</button>
      </toggle>
      <pane>
        <div ng-include src="'download/download.html'"></div>
      </pane>
    </dropdown-toggle>

    <span class="pagination-text"><strong>{{totalItems}}</strong> annotations</strong></span>

  </span>

  <div>
    <table id="assignedByCount" class="two-colours results-table">
      <thead>
        <tr>
          <th ng-repeat="column in columns" ng-show="column.visible">{{column.label}}</th>
          <!--      <th  ng-show="columns['goIdentifier'].visible && showSlimColumns">Slimmed GO Term</th>-->
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="item in annotations">
          <td ng-show="columns['geneProduct'].visible"><a ng-click="followLinkToEntry(item.geneProductId, item.geneProductId)" target="_blank">
        {{item.geneProductId}}</a></td>
          <td ng-show="columns['symbol'].visible">{{item.symbol}}</td>
          <td ng-show="columns['qualifier'].visible">{{item.qualifier}}</td>

          <td class="text-nowrap" ng-show="columns['goIdentifier'].visible">
            <term-line id="item.goId" aspect="goTermMapping[item.goId].aspect" obsolete="goTermMapping[item.goId].obsolete" name="goTermMapping[item.goId].name"></term-line>
          </td>

          <td class="text-nowrap" ng-show="item.slimmedIds">
            <p ng-repeat="slimId in item.slimmedIds">
              <term-line id="slimId" aspect="goTermMapping[slimId].aspect" obsolete="goTermMapping[slimId].obsolete" name="goTermMapping[slimId].name"></term-line>
            </p>
          </td>

          <td class="text-nowrap" ng-show="columns['evidence'].visible">
            <term-line id="item.evidenceCode" name="item.goEvidence"></term-line>
          </td>

          <td ng-show="columns['reference'].visible">
            <a class="quickgo-link" ng-click="followLinkToEntry(item.reference)" target="_blank">{{item.reference}}</a>
          </td>

          <td ng-show="columns['withFrom'].visible">
            <div ng-repeat="item in item.withFrom">
              <div ng-repeat="resource in item.connectedXrefs" class="text-center"><a class="quickgo-link ellipsis" ng-click="followLinkToEntry(resource.db, resource.id)" target="_blank">{{resource.db}}:{{resource.id}}</a></div>
              <div class="text-center">
                <strong ng-show="!$last">OR</strong>
              </div>
            </div>
          </td>

          <td ng-show="columns['taxon'].visible">
            <a class="quickgo-link selectable" ng-click="followLinkToEntry(item.taxonId, 'TAXON')" target="_blank">{{item.taxonId}}</a>
          </td>
          <td ng-show="columns['assignedBy'].visible"><a class="quickgo-link selectable" ng-click="followLinkToGeneric(item.assignedBy)">{{item.assignedBy}}</a></td>
          <td ng-show="columns['annotationExtension'].visible">
            <div ng-repeat="item in item.extensions">
              <div ng-repeat="resource in item.connectedXrefs" class="text-center">
                <a href="https://github.com/geneontology/annotation_extensions/blob/master/doc/{{resource.qualifier}}.md" target="_blank">{{resource.qualifier}}(<a ng-click="followLinkToEntry(resource.db, resource.id)" target="_blank">{{resource.db}}:{{resource.id}} {{olsxrefs[resource.db + ':' + resource.id]}}</a>)
              </div>
              <div class="text-center">
                <strong ng-show="!$last">OR</strong>
              </div>
            </div>
          </td>

          <td ng-show="columns['database'].visible">{{gpMapping[item.geneProductSimpleId].database}}</td>
          <td ng-show="columns['date'].visible" class="text-nowrap">{{item.date}}</td>

          <td ng-show="columns['name'].visible">{{gpMapping[item.geneProductSimpleId].name}}</td>
          <td ng-show="columns['synonym'].visible">{{gpMapping[item.geneProductSimpleId].synonyms.join()}}</td>
          <td ng-show="columns['type'].visible">{{gpMapping[item.geneProductSimpleId].type}}</td>
          <td ng-show="columns['taxonName'].visible">{{taxaMapping[item.taxonId].scientificName}}</td>
          <td ng-show="columns['sequence'].visible">{{item.sequence}}</td>

          <td ng-if="colAnnotationExtension">
            <span ng-if="annotation.extensions">
            <a ng-click="showAnnotationExtension(annotation.extensions)">{{annotation.extensions | shortenStringFilter}}</a>
          </span>
          </td>

        </tr>

      </tbody>
    </table>

    <uib-pagination total-items="goList.numberOfHits" max-size="5" rotate="false" ng-model="currentPage" items-per-page="maxSize" ng-change="pageChanged()"></uib-pagination>

  </div>
  <!-- if there are no results tell the user explicitly -->
  <div ng-show="goList.numberOfHits == 0" class="jumbotron">
    <h4>No matching annotations have been found</h4>
  </div>
</div>
