<div class="quickgo-modal">

  <div ng-repeat="extension in extensions" class="panel panel-default">
    <div ng-repeat="ext in extension" class="panel-body text-center">
          <a href="https://github.com/geneontology/annotation_extensions/blob/master/doc/{{ext.relationship}}.md" target="_blank">{{ext.relationship}}</a>
          (<a ng-click="followLinkToEntry(ext.database, ext.id)" target="_blank">{{ext.database}}:{{ext.id}}</a>)
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn quickgo-btn" type="button" ng-click="ok()">OK</button>
  </div>

</div>
