<div class="sidebar grid_2" ng-controller="AnnotationSidebarCtrl">
  <!-- Applied filters list-->
  <h3>Applied filters</h3>

  <!-- Bookmarkable link-->
  <element class='icon icon-generic' data-icon='L'><a id="bookmarkable-link" style="font-size:10px;text-align:right"
                                                      ng-href="{{bookmarkableLink}}">Bookmarkable link</a></element>
  <div>
    <em ng-if="appliedFilters.length==0">
      No filters applied
    </em>
    <ul style="float: left">

      <li ng-repeat="filter in appliedFilters">
        <div class="appliedValue" ng-if="filter">
          {{filter.type}} : {{filter.value}}
          <span style="float:right"> <img src="images/cross.png" ng-click="removeFilter(filter)"/></span>
        </div>
      </li>

    </ul>
  </div>
  <br/>
  <br/>

  <div style="float: left">
    <button class="btn btn-default" ng-click="clearFilters()">Clear All Filters</button>
  </div>

  <!-- Selectable Filter list-->
  <br/>
  <br/>
  <br/>

  <h3>Quick Filters</h3>

  <h4>Taxon</h4>

    <div ng-show="showInitialTaxons">
      <ul>
        <li ng-repeat="taxon in initialTaxonomies" title='{{taxon.name}}' class="quickTaxon">
          <!--<input type="checkbox" ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</input>-->
          <span ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</span>
        </li>
      </ul>
      <span class="quickButton" ng-click="showMore()">+Show more</span>
    </div>
    <div ng-show="showCommonTaxons">
      <ul>
        <li ng-repeat="taxon in mostCommonTaxonomies" title='{{taxon.name}}' class="quickTaxon">
          <!--<input type="checkbox" ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</input>-->
          <span ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</span>
        </li>
    </ul>
      <span class="quickButton" ng-click="showLess()">-Show less</span>
</div>



  <!-- Enter filter area-->
  <!-- Form for quick submission of the filter parameters-->
  <!--< ng-submit="submit(advancedFilters)">-->
  <br/>
  <label>GO ID</label>
  <fieldset><textarea ng-model="advancedFilters.text.goID"></textarea></fieldset>

  <label>Gene Product ID</label>
  <fieldset><textarea ng-model="advancedFilters.text.dbObjectID"></textarea></fieldset>
  <br />
  <input class="btn btn-default" type="submit" id="submit" value="Submit Quick Filter"/>
  </form>
  <hr />

  <h3>Advanced Filters</h3>
  <ul><li><a class="quickButton" href="" ng-click="showAdvancedFilters()">Choose</a></li></ul>

  <hr />

  <!-- Select view by-->
  <h3>View by</h3>
    <ul>
      <li id="resultsTableView"><a class="quickButton" href="#/annotations" rel="nofollow">Results table</a></li>
      <li id="statisticsView"><a class="quickButton" href="#/statistics" rel="nofollow">Statistics</a></li>
    </ul>
</div>
