<div class="grid_4" ng-controller="AnnotationSidebarCtrl">

  <!-- APPLIED FILTERS LIST-->
  <div class="sidebar-section">
  <h4>Applied filters</h4>
    </div>
      <table class="sidebar-section-applied" ng-show="appliedFilters.length>0">
        <tr ng-repeat="filter in appliedFilters">
          <td class="sidebar-appliedFilter" ng-if="filter">
            {{filter.type}} : {{filter.value}}
            <element class="removeFilter"> &nbsp;<img src="images/cross.png" ng-click="removeFilter(filter)"/></element>
          </td>
        </tr>
  </table>

  <em id="noFiltersMessage" class="sidebar-padding"  ng-if="appliedFilters.length==0">No filters applied</em>
  <button class="btn quickgo-btn" ng-click="clearFilters()">Clear</button>
  <element class='icon icon-generic' data-icon='L'>
    <a id="bookmarkable-link" class="quickgo-link" ng-href="{{bookmarkableLink}}">Bookmark</a>
  </element>

  <div>&nbsp;</div>

  <!-- FILTER BY TAXON-->
  <!--<div class="sidebar-section">-->
  <!--Filter By Taxon-->
    <!--<div class="sidebar-content">-->

      <!--<div ng-show="showInitialTaxons">-->
        <!--<ul>-->
          <!--<li ng-repeat="taxon in initialTaxonomies" title='{{taxon.name}}' class="quickTaxon">-->
            <!--<element class="selectable" ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</element>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<span class="quickButton" ng-click="showMore()">+Show more</span>-->
      <!--</div>-->
      <!--<div ng-show="showCommonTaxons">-->
        <!--<ul>-->
          <!--<li ng-repeat="taxon in mostCommonTaxonomies" title='{{taxon.name}}' class="quickTaxon">-->
            <!--<span ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</span>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<span class="quickButton" ng-click="showLess()">-Show less</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div ng-show="showInitialTaxons">
    <table class="quickTaxon">
      <tr><th>Filter By Taxon <span class="quickButton showAllTaxons" ng-click="showMore()">+ More</span></th></tr>
      <tr ng-repeat="taxon in initialTaxonomies">
        <td class="quickTaxon selectable" ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</td>
      </tr>
    </table>
  </div>
  <div ng-show="!showInitialTaxons">
    <table class="quickTaxon">
      <tr><th>Filter By Taxon <span class="quickButton showAllTaxons" ng-click="showLess()">- Less</span></th></tr>
      <tr ng-repeat="taxon in mostCommonTaxonomies">
        <td class="quickTaxon selectable" ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</td>
      </tr>
    </table>
  </div>

  <div>&nbsp;</div>


  <!-- FILTER BY ID -->
  <div class="sidebar-section">
    <strong>Filter By ID</strong>
      <div class="sidebar-content">
        <div class="sidebar-padding"><label>Go Id:</label><textarea class="sidebar" ng-model="advancedFilters.text.goID"></textarea></div>
        <div class="sidebar-padding"><label>Gene Product:</label><textarea class="sidebar" ng-model="advancedFilters.text.gpID"></textarea></div>
        <button class="btn quickgo-btn sidebar-padding" class="icon icon-functional button tooltipped" data-icon="1"
            ng-click="quickFilterById(advancedFilters)">Submit</button>
    </div>
  </div>

  <div>&nbsp;</div>
  <div><button class="btn quickgo-btn"
               class="icon icon-functional button tooltipped" data-icon="f" ng-click="showAdvancedFilters()">Advanced filters</button>
  </div>
  <div>&nbsp;</div>

  <!-- SELECT VIEW BY-->
  <div class="sidebar-section">
    <h4 class="sidebar">View by</h4>
    <div class="sidebar-content">
      <ul>
        <li id="resultsTableView"><a class="quickButton quickgo-link" href="#/annotations" rel="nofollow">Results table</a></li>
        <li id="statisticsView"><a class="quickButton quickgo-link" href="#/statistics" rel="nofollow">Statistics</a></li>
      </ul>
    </div>
  </div>

</div>
