<div class="quickgo-modal">

  <div ng-repeat="extension in extensions" class="panel panel-default">
    <div ng-repeat="ext in extension.connectedXrefs" class="panel-body text-center">
          <a href="https://github.com/geneontology/annotation_extensions/blob/master/doc/{{ext.qualifier}}.md" target="_blank">{{ext.qualifier}}</a>
          (<a ng-click="followLinkToEntry(ext.db, ext.id)" target="_blank">{{ext.db}}:{{ext.id}}</a> {{ext.label}})
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn quickgo-btn" type="button" ng-click="ok()">OK</button>
  </div>

</div>
