<div class="sidebar grid_2" ng-controller="AnnotationSidebarCtrl">
  <!-- Applied filters list-->
  <h4>Applied filters</h4>

  <!-- Bookmarkable link-->
  <element class='icon icon-generic' data-icon='L'><a id="bookmarkable-link" style="font-size:10px;text-align:right"
                                                      ng-href="{{bookmarkableLink}}">Bookmarkable link</a></element>
  <div>
    <em ng-if="appliedFilters.length==0">
      No filters applied
    </em>
    <ul style="float: left">

        <li ng-repeat="filter in appliedFilters">
          <div class="appliedValue" ng-if="filter">
            {{filter.type}} : {{filter.value}}
          <span style="float:right"> <img src="images/cross.png" ng-click="removeFilter(filter)"/></span>
          </div>
        </li>

    </ul>
  </div>

  <div style="float: left"><button ng-click="clearFilters()">Clear All Filters</button></div>

    <!-- Selectable Filter list-->
  <br/>
      <h4>Quick Filters</h4>

      <h5>Taxon</h5>

        <ul ng-repeat="taxon in mostCommonTaxonomies" class="tooltipped" title='{{taxon.name}}'>
          <input type="checkbox" ng-click="quickTax(taxon.taxId)">[{{taxon.taxId}}] {{taxon.title}}</input>


        </ul>

      <!-- Enter filter area-->
      <!-- Form for quick submission of the filter parameters-->
      <form ng-submit="submit(advancedFilters)">

      <h5>GO ID</h5>
        <fieldset><textarea ng-model="advancedFilters.text.goID"></textarea></fieldset>


      <h5>Gene Product ID</h5>
        <fieldset><textarea ng-model="advancedFilters.text.dbObjectID"></textarea></fieldset>


        <div>
          <input type="submit" id="submit" value="Submit Quick Filter" />
        </div>


      <div>
        <button class="btn btn-default" ng-click="showAdvancedFilters()">Advanced Filters</button>
      </div>
      </form>

    <!-- Select view by-->
    <h5>View by</h5>

    <p class="builder">

    <div>
      <ul>
        <li id="resultsTableView"><a class="viewBy" href="#/annotations" rel="nofollow">Results table</a></li>
        <li id="statisticsView"><a class="viewBy" href="#/statistics" rel="nofollow">Statistics</a></li>
      </ul>
    </div>
</div>
