<div class="quickgo-modal">

    <div ng-repeat="orItems in withList">
      <p ng-repeat="element in orItems.connectedXrefs" class="text-center">
        <a ng-click="followLinkToGeneric(element.database)" target="_blank">{{element.database}}</a>:<a ng-click="followLinkToEntry(element.database, element.signature)" target="_blank">{{element.signature}}</a>
        <strong ng-show="!$last">AND</strong>
      </p>
      <p class="text-center" ng-show="!$last">
        <strong>OR</strong>
      </p>
    </div>

  <div class="modal-footer">
    <button class="btn quickgo-btn" type="button" ng-click="ok()">OK</button>
  </div>

</div>
