<div class="quickgo-modal">

    <div ng-repeat="orItems in withList">
      <p ng-repeat="element in orItems.connectedXrefs" class="text-center">
      <a ng-click="followLinkToEntry(element.db, element.id)" target="_blank">{{element.db}}:{{element.id}}</a>
        <strong ng-show="!$last">AND</strong>
      </p>
      <p class="text-center" ng-show="!$last">
        <strong>OR</strong>
      </p>
    </div>

  <div class="modal-footer">
    <button class="btn quickgo-btn" type="button" ng-click="ok()">OK</button>
  </div>

</div>
