<div class="mainContent grid_24">
  <!-- Bot-friendly
  <div style="display:none">
  <a href="terms/P">Biological Process</a>
  <a href="terms/F">Molecular Function</a>
  <a href="terms/C">Cellular Component</a>
</div>
-->




<div class="clearfix"></div>





  <div id="searchTerms" class="panel homePageBox grid_20 push_2">
    <span class="helpIcon pull-right icon-generic" data-icon="i" uib-tooltip-html="termsTooltip" tooltip-placement="left"></span>
    <h2>Search for Terms</h2>
    <div id="search-area" class="typeaheadsearch" ng-controller="TypeaheadCtrl">
        <form ng-submit="showSearchResults(searchText)">
          <megasearch limit="5"></megasearch>
        </form>
    </div>
    <span>e.g <a href="#/search/apoptosis">apoptosis</a>; <a href="#/term/GO:0006915">GO:0006915</a>; <a href="#/term/ECO:0000314">ECO:0000314</a>; <a href="#/search/tropomyosin">tropomyosin</a></span>
  </div>


<a ng-href="#/slimming">
  <div id="investigateGoSlims" class="panel homePageBox grid_10 push_2">
    <span class="helpIcon pull-right icon-generic" data-icon="i" uib-tooltip-html="slimsTooltip" tooltip-placement="left"></span>
    <h2>Explore biology</h2>
    <span>Use sets of GO terms (<strong>slims</strong>) that describe your area of interest</span><br />
      <img src="images/slims1.png" />
  </div>
</a>



<div id="goAnnotations" class="grid_10 panel push_2 homePageBox" ng-click="annotationList()">
  <span class="helpIcon pull-right icon-generic" data-icon="i" tooltip-placement="left" uib-tooltip-html="annoTooltip"></span>
  <h2>View GO Annotations</h2>
  <span>&nbsp;</span><br />
  <img src="images/goannotations1.png" />
</div>


<div class="grid_24 push_2 intro_text panel homepageInfo">

  <p class="grid_10">QuickGO is provided by the UniProt-GOA project at the EBI and incorporates annotations from the GO consortium and other specialist annotation groups

  <p class="grid_10">
    <strong>Annotations updated:</strong> XX/XX/XXXX
    <br /><strong>Latest statistics:</strong> Terms: 12345,  Annotations: 12345
    <!-- <a href="">Source Ontology</a>-->
    <br /><a class="toolBoxLink" href="http://purl.obolibrary.org/obo/go/releases/2015-11-25/go.owl" target="_blank"><span class="icon icon-generic" style="font-size:18px;" data-icon=":" uib-tooltip-html="toolboxTooltip" tooltip-close-popup-delay="8000"></span></a>
  </p>


  </p>

</div>





<!--
<div class="grid_10">

<p><a id="start" class="closed icon icon-generic button main_button selectable" data-icon="D"
ng-click="annotationList()">
<span style="font-size:20px">Start here</span><br/><span style="font-size:13px">Use filters to retrieve sets of GO annotations</span></a>
</p>
<p>
<a id="slims" class="closed icon icon-functional button main_button selectable" data-icon="h" ng-href="#/slimming">
<span style="font-size:20px">Investigate GO slims</span>
<br/>
<span style="font-size:13px">Create a broad functional overview for a set of gene products</span>
</a>
</p>
<p>
<a id="history" class="closed icon icon-functional button main_button selectable" data-icon="b"
href="#" onclick="alert('This feature is not yet implemented')">
<span style="font-size:20px">History</span><br/><span style="font-size:13px">View changes to the GO</span></a>
</p>
</div>


</div>
<div class="clearfix"></div>
</div>
