<div class="text-container">
  <h3>GO SLIMS :: Select Gene Products</h3>

  <!--<div id="slimming">-->
  <h4>Enter gene product identifiers:</h4>

  <form>

    <div>
      <textarea class="default"></textarea>
    </div>


    <h4>Or select a list of gene products:</h4>

    <table class="two-colours">

      <thead>
      <tr>
        <th></th>
        <th>Identifier</th>
        <th>Project</th>
        <th>URL</th>
      </tr>
      </thead>

      <!--BHF-UCL -->
      <tr>
        <td>
          <input id="bhfucl" type="checkbox" ng-model="advancedFilters.boolean.targetSet.bhfucl"
                 ng-true-value="'BHF-UCL'">
        </td>
        <td><label for="bhfucl">
          BHF-UCL
        </label>
        </td>
        <td>
          <label for="bhfucl">
            The set of Cardiovascular-associated proteins being prioritised for annotation by the Cardiovascular Gene
            Ontology
            Annotation Initiative located at University College London
          </label>
        </td>
        <td>
          <a href="http://www.ucl.ac.uk/cardiovasculargeneontology"
             target="_blank"/>http://www.ucl.ac.uk/cardiovasculargeneontology</a>
        </td>
      </tr>


      <!-- Kruk -->
      <tr>
        <td>
          <input id="kruk" type="checkbox" ng-model="advancedFilters.boolean.targetSet.kruk" ng-true-value="'KRUK'">
        </td>
        <td><label for="kruk">KRUK</label>
        </td>
        <td><label for="kruk">
          The set of proteins associated with renal processes being prioritised for annotation by the EBI's Renal
          Gene Ontology
          Annotation Initiative</label>
        </td>
        <td><a href="http://www.ebi.ac.uk/GOA/kidney" target="_blank">http://www.ebi.ac.uk/GOA/kidney</a></td>
      </tr>

      <!-- Reference Genome -->
      <tr>
        <td><input id="parkinsons" type="checkbox" ng-model="refgenome.Selected" value="ReferenceGenome"
                   name="sliming-proteinset-filter"/></td>
        <td><label for="parkinsons">Parkinsons</label></td>
        <td><label for="parkinsons">Parkinsons</label>
        </td>
        <td></td>
      </tr>
    </table>

    <div>
      <button class="btn quickgo-btn" ng-click="viewAnnotations(advancedFilters)">View annotations</button>
      <button class="btn quickgo-btn" ng-click="back()">Back</button>
    </div>
  </form>

</div>
