<div class="text-container">
  <h2>Explore Biology</h2>

  <p>Make a selection of terms below and submit to see their associated annotations

    <div class="slimsSelector grid_14 ">

      <uib-tabset>
        <uib-tab heading="Predefined">
          <div class="selectContainer">
            <select ng-model="$parent.$parent.selectedPreDefinedSlimSet" ng-options="predefinedSet.subset for predefinedSet in predefinedSlimSets"
            ng-change="showSlimSet()"></select>
            <ul>
              <li ng-class="{'sectionEmpty': !slimTermBp.length}"><input ng-show="slimTermBp.length" type="checkbox" value="biologicalProcess" checked /> Biological Process terms <span ng-if="slimTermBp.length">({{slimTermBp.length}})</span></li>
              <li ng-class="{'sectionEmpty': !slimTermMf.length}"><input ng-show="slimTermMf.length" type="checkbox" value="molecularFunction" checked /> Molecular Function terms <span ng-if="slimTermMf.length">({{slimTermMf.length}})</span></li>
              <li ng-class="{'sectionEmpty': !slimTermCc.length}"><input ng-show="slimTermCc.length" type="checkbox" value="cellularComponent" checked /> Cellular Component terms <span ng-if="slimTermCc.length">({{slimTermCc.length}})</span></li>
            </ul>
          </div>
        </uib-tab>

        <uib-tab heading="Input your own">
          <div class="selectContainer">
            <strong>Enter one or more GO terms:</strong><br />
            <textarea class="default" placeholder=" GO:0071555 etc" ng-model="slimOwnTerms"></textarea>
          </div>
        </uib-tab>

        <uib-tab heading="Select from Basket">
          <div class="selectContainer">
            <strong>Choose terms from your basket </strong>&nbsp;({{basketList.length}}&nbsp;available)

            <ul>
              <li ng-repeat="basketItem in basketList">
                <input type="checkbox" ng-model="advancedFilters.boolean.goID[[basketItem.termId]]"
                ng-true-value="'{{basketItem.termId}}'"/> {{basketItem.termId}}&nbsp;{{basketItem.name}}
              </li>
            </ul>
          </div>
        </uib-tab>

      </uib-tabset>
      <button class="btn quickgo-btn exploreBiologyButton" ng-click="addOwnTerms(slimOwnTerms)">Add to selection</button>
    </div>

    <div ng-class="{'additionalOptionsDeactivated': (!slimTermBp.length) || (!slimTermMf.length) || (!slimTermCc.length)}" class="slimsOptions grid_10">
      <h3>Additional Options</h3>
      <h5>Restrict by Species</h5>
      <ul >
        <li ng-repeat="taxon in species">
          <input ng-hide="(!slimTermBp.length) || (!slimTermMf.length) || (!slimTermCc.length)" type="checkbox"  checklist-value="{{taxon.id}}"> {{taxon.displayName}} ({{taxon.id}})<br />
        </li>
      </ul>
      <textarea ng-disabled="(!slimTermBp.length) || (!slimTermMf.length) || (!slimTermCc.length)" class="small" placeholder=" Add your own Taxon ID(s)" ng-model="slimOwnTaxonID"></textarea>
    </div>



<div id="selectionHeader" data-spy="affix" data-offset-top="700">
    <h3 class="grid_20 yourSelectionHeader">Your Selection: {{ (slimTermBp.length) + (slimTermMf.length) + (slimTermCc.length) }}  DEBUG:{{selectionTotal}}</h3>
    <div class="slimsActionButtons grid_4 push 10">
      <button class="btn quickgo-btn" ng-click="showGraph()">View Chart</button>
      <!--  <button class="btn quickgo-btn" ng-click="nextSlimming(advancedFilters)">Submit</button> -->
      <button class="btn quickgo-btn" ng-click="viewAnnotations(advancedFilters)">Submit</button>
    </div>
</div>


    <div class="yourSelectionContainer grid_24 ">
      <div>
        <h5 ng-class="{'sectionEmpty': !slimTermBp.length}">Biological Process Terms <span ng-if="slimTermBp.length">({{slimTermBp.length}})</span></h5>
        <!--        <button class="btn quickgo-btn" ng-click="selectAllBp()">Select All</button>
        <button class="btn quickgo-btn" ng-click="clearAllBp()">Clear All</button>
        -->

      <ul>
        <!--<span ng-if="aTerm.aspectDescription=='Biological Process'">-->
        <li ng-if="slimTermBp.length">
          <input type="checkbox" ng-click="selectAllBp()" checked> All
        </li>
        <li ng-repeat="aTerm in slimTermBp">
          <input type="checkbox" ng-model="advancedFilters.boolean.goID[[aTerm.termId]]"
          ng-true-value="'{{aTerm.termId}}'"> {{aTerm.termId}} <basket-button termid="{{aTerm.termId}}"></basket-button> <span class="icon icon-functional chart-btn" data-icon="h"></span> {{aTerm.name}}
        </li>
        <!--</span>-->
      </ul>

      <h5 ng-class="{'sectionEmpty': !slimTermMf.length}">Molecular Function Terms <span ng-if="slimTermMf.length">({{slimTermMf.length}})</span></h5>
      <!--
      <button class="btn quickgo-btn" ng-click="selectAllMf()">Select All</button>
      <button class="btn quickgo-btn" ng-click="clearAllMf()">Clear All</button>
      -->
    <ul>
      <!--<span ng-if="aTerm.aspectDescription=='Molecular Function'">-->
      <li ng-if="slimTermMf.length">
        <input type="checkbox" ng-click="selectAllMf()" checked> All
      </li>
      <li ng-repeat="aTerm in slimTermMf">
        <input type="checkbox" ng-model="advancedFilters.boolean.goID[[aTerm.termId]]"
        ng-true-value="'{{aTerm.termId}}'"> {{aTerm.termId}} <basket-button termid="{{aTerm.termId}}"></basket-button> <span class="icon icon-functional chart-btn" data-icon="h"></span> {{aTerm.name}}
      </li>
      <!--</span>-->
    </ul>

    <h5 ng-class="{'sectionEmpty': !slimTermCc.length}">Cellular component Terms <span ng-if="slimTermCc.length">({{slimTermCc.length}})</span></h5>
    <!--
    <button class="btn quickgo-btn" ng-click="selectAllCc()">Select All</button>
    <button class="btn quickgo-btn" ng-click="clearAllCc()">Clear All</button>
    -->
  <ul>
    <!--<span ng-if="aTerm.aspectDescription=='Cellular Component'">-->
    <li ng-if="slimTermCc.length">
      <input type="checkbox" ng-click="selectAllCc()" checked> All
    </li>
    <li ng-repeat="aTerm in slimTermCc">
      <input type="checkbox" ng-model="advancedFilters.boolean.goID[[aTerm.termId]]"
      ng-true-value="'{{aTerm.termId}}'"> {{aTerm.termId}} <basket-button termid="{{aTerm.termId}}"></basket-button> <span class="icon icon-functional chart-btn" data-icon="h"></span> {{aTerm.name}}
    </li>
    <!--</span>-->
  </ul>

</div>

</div>
