<div id="wrap">
    <h2>GO SLIMS</h2>

    <div id="slimming">
      <h3>Step 1: Add terms to your list</h3>
      <h4>Add predefined slim sets</h4>

      <select ng-model="selectedPreDefinedSlimSet"  ng-options="predefinedSet.subset for predefinedSet in predefinedSlimSets" ng-change="showSlimSet()"></select>

      <!-- I guess its important to have the form begin under the select so it doesn't get included in the returned actions-->
      <form>

      <p></p>
      <accordion>

          <accordion-group heading="Biological Process Terms">
            <button type="button" ng-click="selectClearAll('Biological Process')" >Select/Clear All</button>
            <ul ng-repeat="aTerm in availablePredefinedTerms">
            <span ng-if="aTerm.aspectDescription=='Biological Process'">
             <label>
                <input type="checkbox" ng-model="advancedFilters.boolean.goID[[aTerm.termId]]" ng-true-value="'{{aTerm.termId}}'" >
                {{aTerm.termId}}&nbsp;{{aTerm.name}}
              </label>
              </span>
            </ul>
          </accordion-group>

          <accordion-group heading="Molecular Function Terms">
            <button type="button" ng-click="selectClearAll('Molecular Function')">Select/Clear All</button>
            <ul ng-repeat="aTerm in availablePredefinedTerms">
              <span ng-if="aTerm.aspectDescription=='Molecular Function'">
                <input type="checkbox" ng-model="advancedFilters.boolean.goID[[aTerm.termId]]"  ng-true-value="'{{aTerm.termId}}'">
                {{aTerm.termId}}&nbsp;{{aTerm.name}}
              </span>
            </ul>
          </accordion-group>

          <accordion-group heading="Cellular component Terms">
            <button type="button" ng-click="selectClearAll('Cellular Component')">Select/Clear All</button>
            <ul ng-repeat="aTerm in availablePredefinedTerms">
              <span ng-if="aTerm.aspectDescription=='Cellular Component'">
                <input type="checkbox" ng-model="advancedFilters.boolean.goID[[aTerm.termId]]"  ng-true-value="'{{aTerm.termId}}'">
                {{aTerm.termId}}&nbsp;{{aTerm.name}}
              </span>
            </ul>
          </accordion-group>

      </accordion>


      <h4>Add your own terms</h4>
      <ul ng-repeat="aTerm in ownTerms">
        <input type="checkbox" ng-model="aTerm.Selected" />
        {{aTerm.termId}}&nbsp;{{aTerm.name}}
      </ul>
      <form>
      <textarea ng-model="slimOwnTerms"></textarea>
        <p></p>
        <button ng-click="addOwnTerms(slimOwnTerms)">Add</button>
      </form>

      <p/><p/>
      <h4>Add terms from your basket&nbsp;({{basketList.length}}&nbsp;Available)</h4>
      <ul ng-repeat="basketItem in basketList">
        <input type="checkbox" ng-model="advancedFilters.boolean.goID[[basketItem.termId]]"  ng-true-value="'{{basketItem.termId}}'"/>
        {{basketItem.termId}}&nbsp;{{basketItem.name}}
      </ul>


        <div>
          <!--<button type="button" ng-click="cancel()">Cancel</button>-->
          <!--<button type="reset" ng-click="reset()">Reset</button>-->
          <button type="button" ng-click="viewAnnotations(advancedFilters)">View annotations</button>
          <button type="button" ng-click="nextSlimming(advancedFilters)">Next</button>
          <button type="button" ng-click="showGraph()">Show Graph</button>
        </div>

      </form>

    </div> <!-- slimming div -->


    </div> <!-- wrap div -->
