<div class="row">
  <div class="column medium-12">
    <h2>Explore Biology</h2>
    <p>Make a selection of terms below and submit to see their associated annotations</p>
  </div>
</div>
<div class="row">
  <div class="medium-6 column">
    <h3>Select terms</h3>
    <tabset>
      <tab heading="Predefined GO slims">
        <div class="select-container">
          <label>Select:</label>
          <select ng-model="$parent.$parent.selectedPreDefinedSlimSet" ng-options="predefinedSet.name for predefinedSet in predefinedSlimSets">
            <option value=""></option>
          </select>
          <div>
            <!-- TODO We need to ask backend if they can break down the associations list by aspect -->
            <!-- <label ng-repeat="(aspectId, aspect) in selection"><input ng-model="predefined[aspectId]" type="checkbox"/>
                {{aspect.name}} terms
              </label> -->
            <label><input type="checkbox" ng-model="$parent.$parent.includeRootTerms">
              Include root terms</label>
          </div>
          <hr>
          <button class="button" ng-disabled="!selectedPreDefinedSlimSet" ng-click="addPredefined()">Add
            {{selectedPreDefinedSlimSet.associations.length | number}}
            terms to selection</button>
        </div>
      </tab>
      <tab heading="Input your own">
        <div class="select-container">
          <strong>Enter one or more GO terms:</strong><br/>
          <textarea class="default" placeholder="e.g. GO:0008150, GO:0055085, GO:0006811, GO:0006520" ng-model="$parent.$parent.slimOwnTerms" cg-busy="ownTermPromise"></textarea>
          <hr>
          <button class="button" ng-disabled="!slimOwnTerms" ng-click="addOwnTerms()">Add terms to selection</button>
        </div>
      </tab>
      <tab heading="Select from Basket">
        <div class="select-container">
          <strong>Choose terms from your basket
          </strong>&nbsp;({{basketList.length | number}}&nbsp;available)
          <label ng-repeat="basketItem in basketList"><input type="checkbox" ng-model="basketItem.selected"/>
            <strong>{{basketItem.id}}</strong>&nbsp;{{basketItem.name | limitTo : 40}}</label>
          <hr>
          <button class="button" ng-disabled="!basketItemsSelected()" ng-click="addBasketTerms()">Add terms to selection</button>
        </div>
      </tab>
    </tabset>
    <br/>
  </div>

  <div ng-class="{'inactive': selectedItems.length <= 0}" class="slims-options medium-6 column">
    <h3>Additional Options</h3>
    <accordion close-others="true">
      <accordion-group heading="Gene Product ID">
          <textarea ng-disabled="count.total <= 0" class="default" placeholder="A0A000,A0A001,..." ng-model="$parent.$parent.$parent.geneProductID"></textarea>
          <button class="button" ng-click="addGPIds()" ng-disabled="count.total <= 0">Add to selection</button>
      </accordion-group>
      <accordion-group heading="Restrict by Species">
          <ul>
            <li ng-repeat="taxon in species" class="no-bullet">
              <label><input ng-disabled="count.total <= 0" type="checkbox" ng-model="taxon.checked" checklist-value="{{taxon.taxId}}">
              {{taxon.title}}
              ({{taxon.taxId}})</label>
            </li>
          </ul>
          <div class="row">
            <div class="column medium-10">
              <textarea ng-disabled="count.total <= 0" class="small" placeholder="9606,7955,..." ng-model="$parent.$parent.$parent.taxonTextArea"></textarea>
            </div>
            <div class="column medium-2">
              <button class="small button" ng-click="addNewTaxon()" ng-disabled="!$parent.$parent.$parent.taxonTextArea">Add</button>
            </div>
          </div>
          <hr>
          <button class="button" ng-click="addTaxons()" ng-disabled="count.total <= 0">Add to selection</button>
      </accordion-group>
    </accordion>
    <p ng-if="additionalSelection.taxa.length > 0">
      <strong>{{additionalSelection.taxa.length | number}}</strong> species.
    </p>
    <p ng-if="additionalSelection.gpIds.length > 0">
      <strong>{{additionalSelection.gpIds.length | number}}</strong> gene product(s).
    </p>
  </div>
</div>



<div class="row" ng-if="count.total > 0">
  <hr>
  <div id="selectionHeader" class="column medium-12 clearfix">
    <span class="float-right">
      <button class="button" ng-disabled="count.total <= 0" ng-click="clearSelection()">Clear</button>
      <button class="button" ng-disabled="count.total <= 0" ng-click="viewAnnotations()">Apply</button>
    </span>
    <h3 ng-class="{'inactive': count.totalCount <= 0}" class="your-selectionHeader">
      Your Selection:{{count.total | number}} terms
      <small><chart-icon ids="{{getSelectedIds().toString()}}"></chart-icon></small>
    </h3>
  </div>

  <div class="your-selection-container column medium-7">
    <div class="selectionContainer" ng-if="count.total > 0">
      <div ng-repeat="(aspectId,aspect) in selection">
        <h4>{{aspect.name}}
          <span ng-if="count[aspect.name] > 0">({{count[aspect.name]}})</span>
          <small><chart-icon ids="{{getSelectedIdsForAspect(aspectId).toString()}}"></chart-icon></small>
        </h4>
        <p ng-repeat="aTerm in aspect.terms">
          <term-line id="aTerm.id" aspect="aTerm.aspect" obsolete="aTerm.obsolete" name="aTerm.name"></term-line>
          <a class="icon icon-functional" data-icon="x" title="Remove from selection" ng-click="removeFromSelection(aTerm)"></a>
        </p>
      </div>
    </div>
  </div>

  <div class="column medium-5">
  <div class="selectionContainer removedTerms" id="removedTerms" ng-if="deSelectedItems.length >= 1">
    <h4>Excluded Terms
      <span>({{deSelectedItems.length | number}})</span>
    </h4>
    <p ng-repeat="aTerm in deSelectedItems">
      <i>
        <term-line id="aTerm.id" aspect="aTerm.aspect" obsolete="aTerm.isObsolete" name="aTerm.name"></term-line>
        <a class="icon icon-functional" data-icon="+" title="Add back into Your Selection" ng-click="addBackIntoSelection(aTerm)"></a>
      </i>
    </p>
  </div>

</div>

</div>
