<div id="wrap">
  <h2>GO SLIMS</h2>

  <!--<div id="slimming">-->
    <h3>Step 2: Add proteins</h3>
    <h4>Add protein IDs</h4>

    <form>

      <div>
        <textarea id="slimming-proteinbox"></textarea>
      </div>
      <h4>OR select a list of proteins</h4>
      <table>

        <!--BHF-UCL -->
        <tr>
          <td>
            <input type="checkbox" ng-model="advancedFilters.boolean.targetSet.bhfucl" ng-true-value="'BHF-UCL'">
          </td>
          <td>
            BHF-UCL
          </td>
          <td>
            The set of Cardiovascular-associated proteins being prioritised for annotation by the Cardiovascular Gene
            Ontology
            Annotation Initiative located at University College London
          </td>
          <td>
            <a href="http://www.ucl.ac.uk/cardiovasculargeneontology"
                 target="_blank"/>http://www.ucl.ac.uk/cardiovasculargeneontology</a>
          </td>
        </tr>


        <!-- Kruk -->
        <tr>
          <td>
            <input type="checkbox" ng-model="advancedFilters.boolean.targetSet.kruk" ng-true-value="'KRUK'">
          </td>
          <td>
            KRUK
          </td>
          <td>
            The set of proteins associated with renal processes being prioritised for annotation by the EBI's Renal
            Gene Ontology
            Annotation Initiative
          </td>
          <td><a href="http://www.ebi.ac.uk/GOA/kidney" target="_blank">http://www.ebi.ac.uk/GOA/kidney</a></td>
        </tr>

        <!-- Reference Genome -->
        <tr>
          <td><input type="checkbox" ng-model="refgenome.Selected" value="ReferenceGenome"
                     name="sliming-proteinset-filter"/></td>
          <td>ReferenceGenome</td>
          <td>The set of human proteins being comprehensively curated by the UniProt-GOA project as part of the GO
            Consortium's Reference Genome initiative
          </td>
          <td><a href="http://www.geneontology.org/GO.refgenome.shtml"
                 target="_blank">http://www.geneontology.org/GO.refgenome.shtml</a></td>
        </tr>
      </table>

      <div>
        <button type="button" ng-click="viewAnnotations(advancedFilters)">View annotations</button>
        <button type="button" ng-click="back()">Back</button>
        <!--<button type="button" ng-click="showGraph()">Show Graph</button>-->
      </div>
    </form>

  </div>

