<div id="content">
    <uib-alert ng-repeat="alert in succesAlerts" type="{{alert.type}}" close="hideAlert = true" ng-hide="hideAlert" class="ng-hide" dismiss-on-timeout="3000">{{alert.msg}}</uib-alert>
    <uib-alert ng-repeat="alert in otherAlerts" type="{{alert.type}}" close="hideAlert = true" ng-hide="hideAlert" class="ng-hide">{{alert.msg}}</uib-alert>
  <h2>Explore Biology</h2>
  <p>Make a selection of terms below and submit to see their associated annotations</p>

    <div class="slimsSelector grid_14 ">

      <uib-tabset>
      <uib-tab heading="Predefined GO slims">
      <div class="selectContainer">
        <select ng-model="$parent.$parent.selectedPreDefinedSlimSet" ng-options="predefinedSet.subset for predefinedSet in predefinedSlimSets"
        ng-change="updatePredefinedSets()"></select>
        <ul>
          {{predefinedSets['Biological Process'].length}}
          <li ng-class="{'sectionEmpty': !predefinedMF.length}">
            <input id="mf-checkbox" ng-model="predefinedCheckboxes.MFcheckbox" ng-show="predefinedMF.length" type="checkbox" />
            <label for="mf-checkbox">Molecular Function terms <span ng-if="predefinedMF.length">({{predefinedMF.length}})</span></label>
          </li>
          <li ng-class="{'sectionEmpty': !predefinedBP.length}">
            <input id="bp-checkbox" ng-model="predefinedCheckboxes.BPcheckbox" ng-show="predefinedBP.length" type="checkbox" />
            <label for="bp-checkbox">Biological Process terms <span ng-if="predefinedBP.length">({{predefinedBP.length}})</span></label>
          </li>
            <li ng-class="{'sectionEmpty': !predefinedCC.length}">
            <input id="cc-checkbox" ng-model="predefinedCheckboxes.CCcheckbox" ng-show="predefinedCC.length" type="checkbox" />
            <label for="cc-checkbox">Cellular Component terms <span ng-if="predefinedCC.length">({{predefinedCC.length}})</span></label>
          </li>
        </ul>
        <button class="btn quickgo-btn pull-right" ng-click="addPredefined();addAlert()">Add to selection</button>
        <div class="clearfix"></div>
        </div>
    </uib-tab>

    <uib-tab heading="Input your own">
    <div class="selectContainer">
      <strong>Enter one or more GO terms:</strong><br />
      <textarea class="default" placeholder="e.g. GO:0008150, GO:0055085, GO:0006811, GO:0006520" ng-model="$parent.$parent.slimOwnTerms" cg-busy="ownTermPromise"></textarea>
      <button class="btn quickgo-btn pull-right" ng-click="addOwnTerms()">Add your Terms</button>
      <div class="clearfix"></div>
    </div>
  </uib-tab>

  <uib-tab heading="Select from Basket">
  <div class="selectContainer">
    <strong>Choose terms from your basket </strong>&nbsp;({{basketList.length}}&nbsp;available)

    <ul>
      <li ng-repeat="basketItem in basketList">
        <input id="basket-{{basketItem.termId}}" type="checkbox" ng-model="basketSelection[basketItem.termId]"/>
        <label for="basket-{{basketItem.termId}}">{{basketItem.termId}}&nbsp;{{basketItem.name}}</label>
      </li>
    </ul>
    <button class="btn quickgo-btn pull-right" ng-click="addBasketTerms()">Add to selection</button>
    <div class="clearfix"></div>
  </div>
</uib-tab>

</uib-tabset>
</div>


<div ng-class="{'additionalOptionsDeactivated': selectedItems.length <= 0}" class="slimsOptions grid_10">
  <h3>Additional Options</h3>
  <h5>Restrict by Species</h5>
  <ul >
    <li ng-repeat="taxon in species">
      <input ng-hide="selectedItems.length <= 0" type="checkbox"  checklist-value="{{taxon.id}}"> {{taxon.displayName}} ({{taxon.id}})<br />
    </li>
  </ul>
  <textarea ng-disabled="selectedItems.length <= 0" class="small" placeholder=" Add your own Taxon ID(s)" ng-model="slimOwnTaxonID"></textarea>
</div>



<div id="selectionHeader" data-spy="affix" data-offset-top="700">
  <h3 class="grid_16 yourSelectionHeader">Your Selection: {{selectedItems.length}}</h3>
  <div class="slimsActionButtons grid_8">
    <button class="btn quickgo-btn icon-functional" ng-click="showGraph()" data-icon="h">View Chart</button>
    <button class="btn quickgo-btn" ng-click="viewAnnotations(advancedFilters)">Submit</button>
  </div>
</div>


<div class="yourSelectionContainer grid_24 ">
  <div ng-if="selectedItems.length >= 1">
    <h5 ng-class="{'sectionEmpty': !getSelectedMFTerms().length}">Molecular Function Terms <span ng-if="getSelectedMFTerms().length">({{getSelectedMFTerms().length}})</span> <span class="icon icon-functional chart-btn" data-icon="h"></span></h5>
    <ul>
      <li ng-if="getSelectedMFTerms().length">
        <input type="checkbox" ng-click="selectAllMf()" checked> All
      </li>
      <li ng-repeat="aTerm in getSelectedMFTerms()">
        <input type="checkbox" ng-model="advancedFilters.boolean.goID[[aTerm.termId]]"
        ng-true-value="'{{aTerm.termId}}'"> {{aTerm.termId}} <basket-button termid="{{aTerm.termId}}"></basket-button> <span class="icon icon-functional chart-btn" data-icon="h"></span> {{aTerm.name}}
      </li>
    </ul>

    <h5 ng-class="{'sectionEmpty': !getSelectedBPTerms().length}">Biological Process Terms <span ng-if="getSelectedBPTerms().length">({{getSelectedBPTerms().length}})</span> <span class="icon icon-functional chart-btn" data-icon="h"></span></h5>
    <ul>
      <li ng-if="getSelectedBPTerms().length">
        <input type="checkbox" ng-click="selectAllBp()" checked> All
      </li>
      <li ng-repeat="aTerm in getSelectedBPTerms()">
        <input type="checkbox" ng-model="advancedFilters.boolean.goID[[aTerm.termId]]"
        ng-true-value="'{{aTerm.termId}}'"> {{aTerm.termId}} <basket-button termid="{{aTerm.termId}}"></basket-button> <span class="icon icon-functional chart-btn" data-icon="h"></span> {{aTerm.name}}
      </li>
    </ul>

    <h5 ng-class="{'sectionEmpty': !getSelectedCCTerms().length}">Cellular component Terms <span ng-if="getSelectedCCTerms().length">({{getSelectedCCTerms().length}})</span> <span class="icon icon-functional chart-btn" data-icon="h"></span></h5>
    <ul>
      <li ng-if="getSelectedCCTerms().length">
        <input type="checkbox" ng-click="selectAllCc()" checked> All
      </li>
      <li ng-repeat="aTerm in getSelectedCCTerms()">
        <input type="checkbox" ng-model="advancedFilters.boolean.goID[[aTerm.termId]]"
        ng-true-value="'{{aTerm.termId}}'"> {{aTerm.termId}} <basket-button termid="{{aTerm.termId}}"></basket-button> <span class="icon icon-functional chart-btn" data-icon="h"></span> {{aTerm.name}}
      </li>
    </ul>

  </div>
  <div ng-if="selectedItems.length <= 0" id="nothingYetSelected">
<h4>Choose or input GO terms above to view your selection here</h4>


  </div>
</div>
