<h3>Advanced filters</h3>

<form ng-submit="submit(advancedFilters)">

<!-- Tabs-->
<tabset type="pills">

  <tab heading="Gene Product ID">

    <div  style="padding: 15px">
      <h4>Gene Product ID</h4>
      <section>
      <h5>Find annotations for a defined set of gene or protein identifiers</h5>

      <p>To restrict the annotations to a set of gene or protein identifiers, enter a list of IDs in the text box below,
        separated by commas, spaces or newlines. <br>
        There is no limit on the number of identifiers that can be entered into
        this box.</p>

      <textarea ng-model="advancedFilters.dbObjectID" style="width:50%"></textarea>
      </section>

      <section>
      <h5>OR select a list of proteins</h5>

      <div class="wrapper">
        <input type="checkbox" ng-model="advancedFilters.targetSet.bhfucl" ng-true-value="BHF-UCL">BHF-UCL  <a href="http://www.ucl.ac.uk/cardiovasculargeneontology" target="_blank">Website</a>
        <div class="tooltip">The set of Cardiovascular-associated proteins being prioritised for annotation by the Cardiovascular
          Gene Ontology Annotation Initiative located at University College London.
        </div>
      </div>

      <br>

      <input type="checkbox" ng-model="advancedFilters.targetSet.kruk"/>
      KRUK
      The set of proteins associated with renal processes being prioritised for annotation by the EBI's Renal
      Gene Ontology Annotation Initiative

      <a href="http://www.ebi.ac.uk/GOA/kidney" target="_blank">http://www.ebi.ac.uk/GOA/kidney</a>
      <br><input type="checkbox" ng-model="advancedFilters.targetSet.refGenome"/>
      ReferenceGenome
      The set of human proteins being comprehensively curated by the UniProt-GOA project as part of the GO
      Consortium's Reference Genome initiative

      <a href="http://www.geneontology.org/GO.refgenome.shtml" target="_blank">http://www.geneontology.org/GO.refgenome.shtml</a>
        </section>
    </div>

  </tab>

  <tab heading="Taxon">
    <p>To filter by species/taxonomic group, list taxon identifiers in the text box or select one or more of the
      pre-defined taxonomic groups below</p>

    <div id="taxonomiesArea">
      <table id="taxonomyIdAdvancedFilter" style="width:70%">
        <!--<c:forEach var="taxon" items="${sessionScope.mostCommonTaxonomies}">-->
        <!--<c:set var="taxChecked" value=""/>-->
        <!--<c:forEach var="taxSelected" items="${sessionScope.appliedFilters.parameters['taxonomyClosure']}">-->
        <!--<c:if test="${taxSelected == taxon.id}">-->
        <!--<c:set var="taxChecked" value="checked"/>-->
        <!--</c:if>-->
        <!--</c:forEach>-->
        <tr>
          <td><input type="checkbox" value="${taxon.id}" ${taxChecked} class="advanced-filter-taxonomyId"/></td>
          <td>${taxon.id}</td>
          <td>${taxon.name}</td>
        </tr>
        <!--</c:forEach>-->
      </table>
    </div>
    <div class="clearfix"><p/></div>
    <textarea class="advanced-filter-taxonomyId" style="width:50%"></textarea>

    <div class="clearfix"><p/></div>
    Visit <a href="http://www.uniprot.org/taxonomy/" target="_blank">UniProt Taxonomy</a> to find identifiers for other
    taxonomic groups
  </tab>

  <tab heading="Qualifier">
    <p>The Qualifier column in a GO annotation is used for flags that modify the interpretation of an annotation.
      Allowable values are NOT, contributes_to, and colocalizes_with.</p>

    <p>Further details on the usage of the qualifier column can be found <a
      href="http://www.geneontology.org/page/go-annotation-conventions#qual" target="_blank">here</a>.</p>

    <div id="qualifierArea">
      <table>
        <!--<c:set var="enablesChecked" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], 'enables')}">-->
        <!--<c:set var="enablesChecked" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${enablesChecked} value="enables" class="advanced-filter-qualifier"/></td>
          <td>enables</td>
          <td></td>
        </tr>
        <!--<c:set var="notEnablesChecked" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], '\"-->
        <!--NOT\-->
        <!--" AND enables')}">-->
        <!--<c:set var="notEnablesChecked" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${notEnablesChecked} value="NOT AND enables" class="advanced-filter-qualifier"/>
          </td>
          <td>NOT | enables</td>
          <td></td>
        </tr>
        <!--<c:set var="involvedInChecked" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], 'involved_in')}">-->
        <!--<c:set var="involvedInChecked" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${involvedInChecked} value="involved_in" class="advanced-filter-qualifier"/></td>
          <td>involved_in</td>
          <td></td>
        </tr>
        <!--<c:set var="notInvolvedInChecked" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], '\"-->
        <!--NOT\-->
        <!--" AND involved_in')}">-->
        <!--<c:set var="notInvolvedInChecked" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${notInvolvedInChecked} value="NOT AND involved_in"
                     class="advanced-filter-qualifier"/></td>
          <td>NOT | involved_in</td>
          <td></td>
        </tr>
        <!--<c:set var="partOfChecked" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], 'part_of')}">-->
        <!--<c:set var="partOfChecked" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${partOfChecked} value="part_of" class="advanced-filter-qualifier"/></td>
          <td>part_of</td>
          <td></td>
        </tr>
        <!--<c:set var="notPartOfChecked" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], '\"-->
        <!--NOT\-->
        <!--" AND part_of')}">-->
        <!--<c:set var="notPartOfChecked" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${notPartOfChecked} value="NOT AND part_of" class="advanced-filter-qualifier"/>
          </td>
          <td>NOT | part_of</td>
          <td></td>
        </tr>
        <!--<c:set var="contributesTo" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], 'contributes_to')}">-->
        <!--<c:set var="contributesTo" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${contributesTo} value="contributes_to" class="advanced-filter-qualifier"/></td>
          <td>contributes_to</td>
          <td></td>
        </tr>
        <!--<c:set var="notContributesTo" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], '\"-->
        <!--NOT\-->
        <!--" AND contributes_to')}">-->
        <!--<c:set var="notContributesTo" value="checked"/>-->
        <!--</c:if>-->
        <!--<c:set var="notContributesTo" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], '\"-->
        <!--NOT\-->
        <!--" AND contributes_to')}">-->
        <!--<c:set var="notContributesTo" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${notContributesTo} value="NOT AND contributes_to"
                     class="advanced-filter-qualifier"/></td>
          <td>NOT | contributes_to</td>
          <td></td>
        </tr>
        <!--<c:set var="colocalizesWithChecked" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], 'colocalizes_with')}">-->
        <!--<c:set var="colocalizesWithChecked" value="checked"/>-->
        <!--</c:if>-->
        <!--<tr>-->
        <td><input type="checkbox" ${colocalizesWithChecked} value="colocalizes_with"
                   class="advanced-filter-qualifier"/></td>
        <td>colocalizes_with</td>
        <td></td>
        </tr>
        <!--<c:set var="notColocalizesWithChecked" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], '\"-->
        <!--NOT\-->
        <!--" AND colocalizes_with')}">-->
        <!--<c:set var="notColocalizesWithChecked" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${notColocalizesWithChecked} value="NOT AND colocalizes_with"
                     class="advanced-filter-qualifier"/></td>
          <td>NOT | colocalizes_with</td>
          <td></td>
        </tr>
        <!--<c:set var="notChecked" value=""/>-->
        <!--<c:if-->
        <!--test="${sessionScope.appliedFilters.containsIgnoreCase(sessionScope.appliedFilters.parameters['qualifier'], '\"-->
        <!--NOT\-->
        <!--"')}">-->
        <!--<c:set var="notChecked" value="checked"/>-->
        <!--</c:if>-->
        <tr>
          <td><input type="checkbox" ${notChecked} value="NOT" class="advanced-filter-qualifier"/></td>
          <td>NOT</td>
          <td></td>
        </tr>
      </table>
    </div>
  </tab>

  <tab heading="Go Identifier">

    <div class="content-margin-10">
      <section>
        <h4>1. Select the terms that you wish to use:</h4>
        <h5>Select Go terms from your basket:</h5>
        <ul ng-repeat="basketItem in basketItems">
          <input type="checkbox" id="{{basketItem.termId}}" ng-model="basketItem.Selected"/>
          <label for="{{basketItem.termId}}">{{basketItem.termId}} {{basketItem.name}}</label>
        </ul>

        <!-- Enter predefined classes-->
        <h5>Predefined GO term sets:</h5>
        <ul>
          <select class="advanced-filter-subSet">
            <option value="">None</option>
            <!--<c:forEach var="count" items="${sessionScope.allSubsetsCounts}">-->
            <option value="${count.subset}">${count.subset}(${count.subsetCount})</option>
            <!--</c:forEach>-->
          </select>
        </ul>

        <!-- Enter list of go identifiers-->
        <h5>Enter a list of GO identifiers (GO:nnnnnnn), separated by space, comma or newline characters:</h5>
        <ul>
          <textarea class="advanced-filter-goID" style="width:50%;height:50px"></textarea>
        </ul>

      </section>

      <!-- How use-->
      <section>
        <h4>2. Select how you want to use the terms that you have chosen:</h4>

        <fieldset>
          <div class="choiceA" style="display:block">
            <input type="radio" id="slim-filtering" name="slim" value="slim-filtering" ng-model="ancestors">
            Use these terms as a GO slim
          </div>
        </fieldset>
        <div class="choiceB" style="display:block">
          <fieldset>
            <input type="radio" id="descendants-filtering" name="slim" value="descendants-filtering"
                   ng-model="ancestors"/>
            Find annotations to descendants of these terms (annotations will display the original GO terms applied)
            Select which relationship an annotated term should have to the terms above:

            <div class="indent1" ng-show="ancestors == 'descendants-filtering'">
              <div style="display:block"><input type="radio" name="closure" value="ancestorsI"/>is_a only</div>
              <div style="display:block"><input type="radio" name="closure" value="ancestorsIPO"/>is_a, part_of</div>
              <div style="display:block"><input type="radio" name="closure" value="ancestorsIPOR"/>is_a, part_of,
                regulates
              </div>

            </div>
          </fieldset>
        </div>

        <!--Alternatively-->
        <p>Use these terms as a GO slim, <strong>or</strong> find annotations to descendants of these terms
          (annotations will display the original GO terms applied)
          Select which relationship an annotated term should have to the terms above</p>

        <select>
          <optgroup label="Use these terms as a GO slim">
            <option value="GoSlim">GoSlim</option>
          </optgroup>
          <optgroup label="Find annotations to descendants">
            <option value="ancestorsI">is_a only</option>
            <option value="ancestorsIPO">is_a, part_of</option>
            <option value="ancestorsIPOR">is_a, part_of, regulates</option>
          </optgroup>
        </select>

      </section>

    </div>
  </tab>

  <tab heading="Aspect">
    <div class="content-margin-10">
      You can use the check boxes below to limit the scope of the returned annotation set to terms from one or more
      specific ontologies:

      <div id="aspectsArea">
        <div style="display:block"><input type="checkbox" value="Function"/> Molecular Function</div>
        <div style="display:block"><input type="checkbox" value="Process"/> Biological Process</div>
        <div style="display:block"><input type="checkbox" value="Component"/>Cellular Component</div>
      </div>
    </div>
  </tab>

  <tab heading="Evidence">
    <div class="content-margin-10">
      <p>A full description of evidence codes and their usage can be found <a
        href="http://www.geneontology.org/page/guide-go-evidence-codes" target="_blank">here</a>.</p>

      <ul>
        <li>
          <input type="checkbox" id="ECO:0000352" value="ECO:0000352">
          <label for="ECO:0000352">ECO:0000352
            (IMP,IGI,IPI,IDA,IEP,EXP,ISS,TAS,NAS,ND,IC,RCA,IBA,IBD,IKR,IRD,ISA,ISM,ISO,IGC) Manual All</label>
        </li>
        <li>
          <input type="checkbox" id="ECO:0000269" value="ECO:0000269">
          <label for="ECO:0000269">ECO:0000269 (IDA,IMP,IPI,IGI,IEP,EXP) Manual Experimental</label>
        </li>
        <li ng-repeat="evidenceType in evidenceTypes">
          <input type="checkbox" id="{{evidenceType.ecoTerm}}" value="{{evidenceType.ecoTerm}}"/>
          <label for="{{evidenceType.ecoTerm}}">{{evidenceType.value}}</label>
        </li>

      </ul>
      <br>
      Enter a list of ECO <strong>names</strong> separated by comma:<br/>
      <textarea class="advanced-filter-ecoName" style="width:50%;height:50px"></textarea>

      <br>
      Enter a list of ECO <strong>identifiers</strong> (ECO:nnnnnnn), separated by space, comma or newline characters:
      <textarea class="advanced-filter-ecoID" style="width:50%;height:50px"></textarea>


      <br><input type="radio" name="evidence-match" value="" class="advanced-filter-ecoAncestorsI" checked/>Include
      Child Terms
      <br><input type="radio" name="evidence-match" value=""/>Exact match
    </div>
  </tab>

  <tab heading="With">
    <ul>
      <li ng-repeat="withDB in withDBs"><input type="checkbox" id="{{withDB.dbId}}">
        <label for="{{withDB.dbId}}">{{withDB.dbId}} <em>{{withDB.xrefDatabase}}</em></label></li>
    </ul>
  </tab>

  <tab heading="Assigned by">

    <!--<div id="assignedByTab" class="grid_9">-->
    <h4>Assigned by</h4>
    Select annotation from:
    <ul>
      <li ng-repeat="assignDB in assignDBs"><input type="checkbox" id="{{assignDB.dbId}}">
        <label for="{{assignDB.dbId}}">{{assignDB.dbId}} <em>{{assignDB.xrefDatabase}}</em></label></li>
    </ul>
  </tab>

</tabset>

<div>
  <button type="button" ng-click="cancel()">Cancel</button>
  <button type="reset" ng-click="reset()">Reset</button>
  <input type="submit" id="submit" value="Submit" />
</div>

</form>



