<div class="Modal-box">
  <div id="basket-contents-show" style="top: 34px;">
    <strong>Max 400 entries</strong>
    <img ng-show="isLoading" src="images/ajax-loader.gif">
    <div id="filledBasketContents" style="display: block;">

      <!--Show message if the basket is empty-->
      <div ng-show="basketItems.length==0">
        <h3> Your basket is currently empty.</h3>
        <p>You can add a GO term to the Term Basket by clicking on the <element class="icon icon-static" data-icon="b"></element> icon that appears next to its identifier in QuickGO.</p>
      </div>

      <!--List GO Terms in the basket-->
      <div id="basketTableDiv">
        <table id="basketTermsTable">
          <thead>
          <tr>
            <th>Term ID</th>
            <th>Term name</th>
            <th>Remove</th>
          </tr>
          </thead>
          <tbody id="basketTermsRows" class="basket-rows">
          <tr ng-repeat="basketItem in basketItems">
            <td><a><span ng-click="term('{{basketItem.termId}}')">{{basketItem.termId}}</span></a></td>
            <td>{{basketItem.name}}</td>
            <td><img src="images/cross.png" ng-click="removeItem(basketItem)"/></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="clearfix"><p/></div>
    </div>
      <!-- Enter GO Terms Directly-->
      Enter a list of terms to be added to your basket:
      <form ng-submit="submit(basketModal)">
      <textarea id="termsListToAdd" style="width:80%;height:55px" ng-model="basketModal.text"></textarea>

        <div>

          <input type="submit" id="submit" value="Submit" />
          <button  ng-click="ok()">Close</button>
          <button ng-click="showAncestorGraph()">Display terms in Ancestor Chart</button>
        </div>

      </form>

  </div><!--End of basket-->

</div>
