<div class="Modal-box">
  <div id="basket-contents-show" style="top: 34px;">
    <h5 style="text-align:center"><strong>{{graphModel.id}}&nbsp{{graphModel.name}}</strong></h5>
    <img ng-show="isLoading" src="images/ajax-loader.gif">
    <!--<img src="data:image/png;base64, {{graphImageRaw}}" id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap"  >-->
    <img class="displayed" src="http://localhost:9080/ws/chart?ids={{graphModel.id}}&scope={{graphModel.scope}}" id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap"  >
    <!--<img class="displayed" src="{{imageSource}}" id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap"  >-->


      <map name="ontologygraphmap">
        <!--<c:if test="${not fn:containsIgnoreCase(termGraphTitle, 'ECO:')}">-->
        <!-- ng-hide="graphImage.termGraphTitle.contains('ECO')"-->
        <span  ng-repeat="layoutNode in graphImage.layoutNodes">
            <area shape="rect"
                  coords="{{layoutNode.left}},{{layoutNode.top}},{{layoutNode.right}},{{layoutNode.bottom}}"
                  href="/#/term/{{layoutNode.id}}"
                  alt="Term {{layoutNode.id}}"
                  title="{{layoutNode.id}} - Click for more information"
                  target="_blank">
          </span>
        <span ng-repeat="legendNode in graphImage.legendNodes">
          <div ng-mouseover="formattedTooltip(legendNode.topic)">
          <area shape="rect"
                id="{{legendNode.topic}}"
                class="relationHelp"
                coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                tooltip-html-unsafe="{{tooltip}}" tooltip-placement="left">
          </div>
          </span>

        <!--<script>-->
          <!--// Create help tooltip for each relation-->
          <!--console.log("In the tool tip help script");-->
          <!--$('.relationHelp').each(function() {-->
            <!--var id = $(this).attr('id');-->
            <!--formattedTooltip(id);-->
          <!--});-->
        <!--</script>-->
      </map>

  </div><!--End of modal for ontology hierarchy-->
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</div>
