<div class="Modal-box">
  <div id="basket-contents-show" style="top: 34px;">
    <h5 style="text-align:center"><strong>{{goModel.id}}&nbsp{{goModel.name}}</strong></h5>
    <!--<c:if test="${graphImageSrc != '' && graphImageSrc != null}">-->
      <!--<input type="hidden" id="graphImageWidth" value="${graphImageWidth}" />-->
      <!--<input type="hidden" id="graphImageHeight" value="${graphImageHeight}" />-->
    <!--<img src="http://localhost:9080/ws/chart?ids=GO:0003824">-->
    <!--src="http://localhost:9080/ws/chart?ids={{goModel.id}}"-->

    <!--<img src="data:image/png;base64, {{graphImageRaw}}" id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap"  >-->
    <img src="http://localhost:9080/ws/chart?ids={{goModel.id}}" id="ontologyGraphImage" class="ancestorsGraphImage" alt="Graph image" usemap="#ontologygraphmap"  >
    <!--<script>-->
        <!--getGraphImage('<c:url value="/"/>${graphImageSrc}',false);-->
      <!--</script>-->

      <map name="ontologygraphmap">
        <!--<c:if test="${not fn:containsIgnoreCase(termGraphTitle, 'ECO:')}">-->
          <!--<c:forEach var="termNode" items="${termsNodes}">-->
        <!-- ng-hide="graphImage.termGraphTitle.contains('ECO')"-->
        <span  ng-repeat="layoutNode in graphImage.layoutNodes">
            <area shape="rect"
                  coords="{{layoutNode.left}},{{layoutNode.top}},{{layoutNode.right}},{{layoutNode.bottom}}"
                  href="/term/{{layoutNode.id}}"
                  alt="Term {{layoutNode.id}}"
                  title="{{layoutNode.id}} - Click for more information"
                  target="_blank">
          </span>
          <!--</c:forEach>-->
        <!--</c:if>-->
        <!--<c:forEach var="legendNode" items="${legendNodes}">-->
        <span ng-repeat="legendNode in graphImage.legendNodes">
          <area shape="rect"
                class="relationHelp"
                coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                ng-if="legendNode.topic == 'is_a'"
                popover-placement="right"
                popover="Term A is_a term B means that term A is a subtype of term B.For example, 'transcription' is a
                 type of 'nucleic acid metabolic process'."
                popover-trigger="mouseenter">
          <area shape="rect"
                class="relationHelp"
                coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                ng-if="legendNode.topic == 'part_of'"
                popover-placement="right"
                popover="Term A part_of term B means that term A is always a part of term B. For example,
                 'transcription' is always a part of 'gene expression'."
                popover-trigger="mouseenter">
          <area shape="rect"
                class="relationHelp"
                coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                ng-if="legendNode.topic == 'regulates'"
                popover-placement="right"
                popover="Term A regulates term B means that term A regulates term B, but term B may not always be
                 regulated by term A." popover-trigger="mouseenter">
           <area shape="rect"
                 class="relationHelp"
                 coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                 ng-if="legendNode.topic == 'positively_regulates'"
                 popover-placement="right"
                 popover="A sub-relation of the 'regulates' relationship. Term A positively_regulates term B means
                  that term B is positively regulated by term A."
                 popover-trigger="mouseenter" >
           <area shape="rect"
                 class="relationHelp"
                 coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                 ng-if="legendNode.topic == 'negatively_regulates'"
                 popover-placement="right"
                 popover="A sub-relation of the 'regulates' relationship. Term A negatively_regulates term B means
                  that term B is negatively regulated by term A."
                 popover-trigger="mouseenter">
           <area shape="rect"
                 class="relationHelp"
                 coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                 ng-if="legendNode.topic == 'has_part'"
                 popover-placement="right"
                 popover="has_part means that term B always has as part of it term A, but term A may exist
                 independently of term B. For example, 'protein binding trancription factor activity' always has
                 as a part of it 'protein binding' but 'protein binding' may occur independently of transcription
                 factor activity. Note that has_part is not a transitive relationship, meaning there is NO
                 implication that gene products annotated to term A could also be correctly associated with term
                 B or any of its parent terms. Has_part should be read in the opposite direction to the other
                 relationships."
                 popover-trigger="mouseenter">
           <area shape="rect"
                 class="relationHelp"
                 coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                 ng-if="legendNode.topic == 'occurs_in'"
                 popover-placement="right"
                 popover="This relation is used for inter-ontology links between the Biological Process ontology
                  and the Cellular Component ontology, for example 'mitochondrial translation' occurs_in 'mitochondrion'."
                 popover-trigger="mouseenter">
           <area shape="rect"
                 class="relationHelp"
                 coords="{{legendNode.left}},{{legendNode.top}},{{legendNode.right}},{{legendNode.bottom}}"
                 ng-if="legendNode.topic == 'used_in'"
                 popover-placement="right"
                 popover="Documentation coming shortly..."
                 popover-trigger="mouseenter">
                  <!--<script>-->
                    <!--// Create help tooltip for each relation-->
                    <!--$('.relationHelp').each(function() {-->
                      <!--var id = $(this).attr('id');-->
                      <!--formattedTooltip(id);-->
                    <!--});-->

                    <!--function formattedTooltip(element) {-->
                      <!--var content = element;-->
                      <!--if (element == 'is_a') {-->
                        <!--content = "Term A <strong>is_a</strong> term B means that term A is a subtype of term B.<br/>For example, 'transcription' is a type of 'nucleic acid metabolic process'.";-->
                      <!--} else if (element == 'part_of') {-->
                        <!--content = "Term A <strong>part_of</strong> term B means that term A is always a part of term B.<br/>For example, 'transcription' is always a part of 'gene expression'.";-->
                      <!--} else if (element == 'regulates') {-->
                        <!--content = "Term A <strong>regulates</strong> term B means that term A regulates term B, but term B may not always be regulated by term A.";-->
                      <!--} else if (element == 'positively_regulates') {-->
                        <!--content = "A sub-relation of the 'regulates' relationship.<br/>Term A <strong>positively_regulates</strong> term B means that term B is positively regulated by term A.";-->
                      <!--} else if (element == 'negatively_regulates') {-->
                        <!--content = "A sub-relation of the 'regulates' relationship.<br/>Term A <strong>negatively_regulates</strong> term B means that term B is negatively regulated by term A.";-->
                      <!--} else if (element == 'has_part') {-->
                        <!--content = "<strong>has_part</strong> means that term B always has as part of it term A, but term A may exist independently of term B.<br/>For example, 'protein binding trancription factor activity' always has as a part of it 'protein binding' but 'protein binding' may occur independently of transcription factor activity.<br/>Note that has_part is not a transitive relationship, meaning there is NO implication that gene products annotated to term A could also be correctly associated with term B or any of its parent terms.<br/>Has_part should be read in the opposite direction to the other relationships.";-->
                      <!--} else if (element == 'occurs_in') {-->
                        <!--content = "This relation is used for inter-ontology links between the Biological Process ontology and the Cellular Component ontology, for example 'mitochondrial translation' occurs_in 'mitochondrion'.";-->
                      <!--} else if (element == 'used_in') {-->
                        <!--content = "Documentation coming shortly...";-->
                      <!--}-->

                      <!--$("#" + element).tooltipsy({-->
                        <!--alignTo: 'cursor',-->
                        <!--className: 'helpgraphstooltip_tip',-->
                        <!--delay: 500,-->
                        <!--show: function (e, $el) {-->
                          <!--$el.slideDown(300);-->
                        <!--},-->
                        <!--hide: function (e, $el) {-->
                          <!--$el.slideUp(300);-->
                        <!--},-->
                        <!--content: content-->
                      <!--});-->
                    <!--}-->

                  <!--</script>-->
          </span>
        <!--</c:forEach>-->

      </map>
    <!--</c:if>-->

  </div><!--End of basket-->

</div>
