<div id="content" class="container_24" cg-busy="queryPromise">
  <h2>Contents of the {{gpSetName}} protein set</h2>

  <!-- Main Content -->
  <div id="searchResultsMainContent" class="grid_20">
    <div>
      <h3>
        Description
      </h3>
      <p>{{gProteinSet.description}}</p>
      <p><a ng-click="gProteinSet.url" target="_blank">{{gProteinSet.url}}</a></p>
      <br/>
      <p>
        <strong>{{data.numberOfHits}}</strong> results</strong>
      </p>
      <table id="searchResults" class="two-colours">
        <tr>
          <th>Symbol</th>
          <th>ID</th>
          <th>Name</th>
          <th>Taxon</th>
          <th>Taxon Name</th>
        </tr>
        <tr>
          <th colspan="5" style="text-align: center;">
            <span ng-repeat="(key, elements) in data.hits">
              {{key}} |
            </span>
          </th>
        </tr>
        <tr ng-repeat="(key, elements) in data.hits">
          <td colspan="5">
            <table class="two-colours">
             <th colspan="5" style="text-align: center;">{{key}} (Top)</th>
             <tr ng-repeat="item in elements">
               <td>{{item.symbol}}</td>
               <td>{{item.id}}</td>
               <td>{{item.name}}</td>
               <td>{{item.taxonId}}</td>
               <td>{{taxaMapping[item.taxonId].scientificName}}</td>
               <td></td>
             </tr>
           </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
