<div id="bookmarkable-link-menu" class="lightbox" style="display: none;">
	<div id="bookmarkable-link-content">
		<a style="float: right" href="#" class="closeBox" id="closeLinkMenu">x</a>
		<h4>Bookmarkable link</h4>
		<p id="link-value"></p>
	</div>
</div>
<div class="sidebar grid_2">
	<div id="appliedFilters" class="filterBy sidebarsubsection">
		<h3 class="first">
			Applied filters
			<div class="sidebar-h-links"><a href="#" id="clearAllFilters">Clear</a></div>
		</h3>
			<div id="appliedFiltersValuesDiv">

        <span ng-if="appliedFilters.length==0">
          <div class="clearfix"><p></p></div>
          No filters applied
        </span>


        <span ng-repeat="filter in appliedFilters">
          <div class="appliedValue" ng-if="filter">
            <p style="float: left">
              {{filter.key}} : {{filter.id}}</p><span style="float:right"> <img src="images/cross.png" ng-click="removeFilter(filter)"/></span>
            <div class="clearfix"> </div>
          </div>
      </span>


				<!--<c:set var="req" value="${pageContext.request}" />-->
				<!--<c:set var="baseURL" value="${req.scheme}://${req.serverName}:${req.serverPort}${req.contextPath}" />-->
				<!--<c:set var="filters" value="${sessionScope.appliedFilters.URL}" />-->
				<!--<input type="hidden" name="filtersURL" id="filtersURL" value="${baseURL}/annotation?q=${filters}" />-->
				<!--<script>-->
					<!--$("#link-value").html($("#filtersURL").val());-->
					<!--$("#bookmarkable-link").attr("href", $("#filtersURL").val())-->
				<!--</script>-->
			</div>
			<element class='icon icon-generic' data-icon='L'><a id="bookmarkable-link" style="font-size:10px;text-align:right" href="#">Bookmarkable link</a>
	</div>
	<div id="quickFiltersMenu" class="quickFilters sidebarsubsection">
		<h3>
			<strong>Quick Filters</strong>
		</h3>
		<p class="builder">
			<div class="suggestionOrganism">
				<h4 class="filter-title">Taxon</h4>
				<ul id="taxonomyId" class="filter-value">

          <li ng-repeat="taxon in mostCommonTaxonomies" class="tooltipped" title='{{taxon.name}}' ng-show="showCommonTaxon(taxon, $scope.showMore)">
            <a href="#">{{taxon.taxId}} {{taxon.title}}</a>
          </li>

					<div id="moreOrganisms" style="padding: 5px;">
						<a href="#" id="showMoreTaxonomies" style="color:#B9772E"><label for="showMoreTaxonomies">+Show more</label></a>
					</div>
				</ul>
			</div>

		</p>
		<p class="builder">
			<div>
				<h4 class="filter-title">GO ID</h4>
				<fieldset><textarea id="goID" class="filter-value"></textarea></fieldset>
			</div>
		</p>
		<p class="builder">
			<div>
				<h4 class="filter-title">Gene Product ID</h4>
				<fieldset><textarea id="dbObjectID" class="filter-value"></textarea></fieldset>
			</div>
		</p>
		<a style="float: right" href="#" id="submit_quick_filtering" title=""
								class="icon icon-functional button tooltipped" data-icon="1">Filter</a>
			<div class="clearfix"><p></p></div>
			<div><a style="float: right" id="advanced-filters" title=""
								class="icon icon-functional button tooltipped" data-icon="f">Advanced filters</a>
			</div>

	</div>

	<div class="viewBy sidebarsubsection">
		<h3>
			<strong>View by</strong>
		</h3>
		<p class="builder">
			<div class="viewBy">
				<ul class="viewByList">
					<li class="viewByParent" id="resultsTableView"><a class="viewBy" href="#" rel="nofollow">Results table</a></li>
					<li class="viewByParent" id="statisticsView"><a class="viewBy" href="#" rel="nofollow">Statistics</a></li>
				</ul>
			</div>
		</p>
	</div>

</div>
