<!-- header templates -->
<div id="content" class="container_12">

  <div class="clearfix"></div>

  <!-- Sidebar -->
  <div ng-include src="'views/annotation-sidebar.html'"></div>

  <!-- Main Content -->
  <div id="annotationsMainContent" class="mainContent grid_10">

    <div id="list-control-area">

      <!-- Left column-->
      <div id="left-control-col">

        <img ng-show="isLoading" src="images/ajax-loader.gif">

        <!--Show current page number and total annotations-->
        <p>Page <strong>{{currentPage}}</strong> of <strong>{{totalAnnotations}}</strong> annotations</strong></p>

        <!-- Pagination https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination  -->
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
      </div>

      <!-- Right Hand column -->
      <div id="right-control-col">

        <!-- Download and column reorganization buttons-->
        <div style="float:right">
          <ul id="resultActionButtons">
            <li class="action-buttons-grouped"><a id="customize-columns-button" title="Add or remove columns from the results table"
                                                  class="icon icon-functional button tooltipped" data-icon="e">Columns</a></li>
            <li class="action-buttons-grouped" > <button type="button"  ng-click="download()">Download</button>
            </li>
          </ul>
        </div>

        <br/>
        <br/>
        <br/>


        <!--Basket start -->
        <div style="float:right">
          Basket:&nbsp;<span id="basket-count" style="display: inline;">{{countBasket}}</span>&nbsp;&nbsp;
          <button class="btn btn-default" ng-click="showBasket()">Show Basket</button>
        </div>
        <!--Basket end -->

      </div>

      <!-- Download button -->
      <!--<div ng-include src="'views/download.html'"></div>-->
    </div>

    <!-- Results Header-->
    <table id="results" class="grid">
      <tr>
        <th ng-repeat="colHeading in annotationColumns">
          {{colHeading.value}}
        </th>
        <th ng-show="isSlim">Original Go Identifier</th>
        <th ng-show="isSlim">Original Go Term Name</th>
      </tr>

      <!-- Results Repeat -->
      <tr dir-paginate="goTuple in goList.annotationsList | itemsPerPage: 35" total-items="goList.numberAnnotations">

        <td><a ng-href="http://www.uniprot.org/uniprot/{{goTuple.protein}}" target="_blank">{{goTuple.protein}}</a>
        </td>
        <td>{{goTuple.symbol}}</td>
        <td>{{goTuple.qualifier}}</td>
        <td style="white-space: nowrap;"><element class="icon icon-static" data-icon="b"  ng-click="addItem('{{goTuple.goId}}','{{goTuple.termName}}')"></element>
          <span class="pseudo-link" ng-click="showOntologyGraph('{{goTuple.goId}}','{{goTuple.termName}}')">{{goTuple.goId}}</span>
        </td>
        <td>{{goTuple.termName}}</td>
        <td>{{goTuple.aspect}}</td>
        <td>
          <span class="pseudo-link" ng-click="showEvidenceCodeOntologyGraph('{{goTuple.evidenceEco}}')">{{goTuple.evidenceEco}}</span>
          o&nbsp;<a href="http://geneontology.org/page/guide-go-evidence-codes#iea" target="_blank">({{goTuple.evidenceGo}})</a>
        </td>
        <td><a
          ng-href="http://www.geneontology.org/cgi-bin/references.cgi#{{goTuple.reference}}">{{goTuple.reference}}</a>
        </td>

        <!-- "reference":"GO_REF:0000002", -->
        <!-- http://www.geneontology.org/cgi-bin/references.cgi#GO_REF:0000002  -->
        <td><span class="pseudo-link" ng-repeat="ref in goTuple.withList">
                                  <a ng-href="{{ref | withUrlFilter}}" target="_blank">{{ref}}</a>
                                  </span>
        </td>
        <td>{{goTuple.taxon}}</td>
        <td>{{goTuple.assignedBy}}</td>
        <td></td>  <!-- Annotation Extension -->
        <td ng-show="isSlim">{{goTuple.originalTermId}}</td>
        <td ng-show="isSlim">{{goTuple.originalTermName}}</td>
      </tr>
    </table>

    <!-- if there are no results tell the user explicitly -->
    <div ng-show="goList.numberAnnotations==0">
      <h5>No matching annotations have been found</h5>
    </div>

  </div>
  <div class="clearfix"></div>
</div>

<!-- Column display popup -->
<div ng-include src="'views/annotation/columnDisplay.html'"></div>

<!-- Column display popup -->
<!--<%@include file="extension.jsp"%>-->

<!-- JavaScript at the bottom for fast page loading -->


<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload', function () {
  CFInstall.check({mode: 'overlay'})
})</script>
<![endif]-->
