<div class="sidebar grid_2" ng-controller="AnnotationSidebarCtrl">
  <!-- Applied filters list-->
  <h4>Applied filters</h4>

  <div style="float:right"><a href="#" id="clearAllFilters">Clear</a></div>

  <div>
    <em ng-if="appliedFilters.length==0">
      No filters applied
    </em>
    <ul style="float: left">

        <li ng-repeat="filter in appliedFilters">
          <div class="appliedValue" ng-if="filter">
            {{filter.type}} : {{filter.value}}
          <span style="float:right"> <img src="images/cross.png" ng-click="removeFilter(filter)"/></span>
          </div>
        </li>

    </ul>
  </div>

  <!-- Bookmarkable link-->
  <element class='icon icon-generic' data-icon='L'><a id="bookmarkable-link" style="font-size:10px;text-align:right"
                                                      href="#">Bookmarkable link</a></element>

    <!-- Selectable Filter list-->
    <div id="quickFiltersMenu" class="quickFilters sidebarsubsection">
      <h4>Quick Filters</h4>

      <h5>Taxon</h5>

      <!-- Form for quick submission of the filter parameters-->
      <form ng-submit="submit(advancedFilters)">

        <!--<table id="taxonomyIdAdvancedFilter" style="width:70%">-->
          <!--<tr ng-repeat="taxon in mostCommonTaxonomies">-->
            <!--<td><input type="checkbox" ng-model="advancedFilters.boolean.taxonomyId[taxon.taxId]" ng-true-value="{{taxon.taxId}}"></td>-->
            <!--<td>{{taxon.taxId}}</td>-->
            <!--<td>{{taxon.title}}</td>-->
          <!--</tr>-->
        <!--</table>-->


        <ul ng-repeat="taxon in mostCommonTaxonomies" class="tooltipped" title='{{taxon.name}}'>
        <!--<input type="checkbox" ng-model="quickFilters.taxon.Selected" ng-change="filterByTaxon()"/>[{{taxon.taxId}}] {{taxon.title}}-->
            <input type="checkbox" ng-model="advancedFilters.boolean.taxonomyId[taxon.taxId]" ng-true-value="{{taxon.taxId}}" ng-false-value="false">[{{taxon.taxId}}] {{taxon.title}}
      </ul>

      <!-- Enter filter area-->


      <h5>GO ID</h5>
        <fieldset><textarea ng-model="advancedFilters.text.goID"></textarea></fieldset>


      <h5>Gene Product ID</h5>
        <fieldset><textarea ng-model="advancedFilters.text.dbObjectID"></textarea></fieldset>


        <div>
          <input type="submit" id="submit" value="Submit Quick Filter" />
        </div>


      <div>
        <!--<a style="float: right" id="advanced-filters" title=""-->
        <!--class="icon icon-functional button tooltipped" data-icon="f">Advanced filters</a>-->
        <button class="btn btn-default" ng-click="showAdvancedFilters()">Advanced Filters</button>
      </div>
      </form>
    </div>

    <!-- Select view by-->
    <h5>View by</h5>

    <p class="builder">

    <div>
      <ul>
        <li id="resultsTableView"><a class="viewBy" href="#/annotations" rel="nofollow">Results table</a></li>
        <li id="statisticsView"><a class="viewBy" href="#/statistics" rel="nofollow">Statistics</a></li>
      </ul>
    </div>
</div>
