<div>
</div>
<div class="sidebar grid_2">
  <div>

    <!-- Applied filters list-->
    <h4>Applied filters</h4>
    <div style="float:right"><a href="#" id="clearAllFilters">Clear</a></div>

    <div>
        <span ng-if="appliedFilters.length==0">
          <div class="clearfix"><p></p></div>
          No filters applied
        </span>
        <span ng-repeat="filter in appliedFilters">
          <div class="appliedValue" ng-if="filter">
            <p style="float: left">
              {{filter.key}} : {{filter.id}}</p><span style="float:right"> <img src="images/cross.png"
                                                                                ng-click="removeFilter(filter)"/></span>

            <div class="clearfix"></div>
          </div>
      </span>
    </div>

    <!-- Bookmarkable link-->
    <element class='icon icon-generic' data-icon='L'><a id="bookmarkable-link" style="font-size:10px;text-align:right"
                                                        href="#">Bookmarkable link</a>

      <!-- Selectable Filter list-->
      <div id="quickFiltersMenu" class="quickFilters sidebarsubsection">
        <h4>Quick Filters</h4>

        <p>

        <div>
          <h5>Taxon</h5>
          <ul>
            <li ng-repeat="taxon in mostCommonTaxonomies" class="tooltipped" title='{{taxon.name}}'
                ng-show="showCommonTaxon(taxon, $scope.showMore)">
              <a href="#">{{taxon.taxId}} {{taxon.title}}</a>
            </li>

            <div style="padding: 5px;">
              <a href="#" id="showMoreTaxonomies" style="color:#B9772E"><label for="showMoreTaxonomies">+Show
                more</label></a>
            </div>
          </ul>
        </div>

        </p>

        <!-- Enter filter area-->
        <p>
        <div>
          <h5>GO ID</h5>
          <fieldset><textarea id="goID" class="filter-value"></textarea></fieldset>
        </div>
        </p>

        <p class="builder">
        <div>
          <h5>Gene Product ID</h5>
          <fieldset><textarea id="dbObjectID" class="filter-value"></textarea></fieldset>
        </div>
        </p>

        <a style="float: right" href="#" id="submit_quick_filtering" title=""
           class="icon icon-functional button tooltipped" data-icon="1">Filter</a>

        <div class="clearfix"><p></p></div>

        <div><a style="float: right" id="advanced-filters" title=""
                class="icon icon-functional button tooltipped" data-icon="f">Advanced filters</a>
        </div>

      </div>

      <!-- Select view by-->
      <div>
        <h5>View by</h5>

        <p class="builder">

        <div>
          <ul>
            <li id="resultsTableView"><a class="viewBy" href="#" rel="nofollow">Results table</a></li>
            <li id="statisticsView"><a class="viewBy" href="#" rel="nofollow">Statistics</a></li>
          </ul>
        </div>
      </div>
