<div id="content" class="container_12">
  <!--Header -->

  <div class="sidebar grid_8">
    <h2 class="page-title">Annotation Extension Relations</h2>
  </div>

  <div class="mainContent grid_8">
    <p></p>
  </div>

  <div class="grid_2"></div>

  <div class="clearfix"></div>
  <!-- Main Content -->
  <div id="annotationExtensionRelationsContent" class="mainContent grid_12">

    <div id="annExtRelGraphArea" style="display: block;">
      <go-annotext-graph/>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
