<body>
	<div id="content" class="container_12">

		<div class="sidebar grid_2">
			<h2 class="page-title">
        <!--Results <img id="loading-image" src="images/ajax-loader.gif" alt="Loading..." height="42" width="42" />-->
      </h2>
		</div>
		<div class="mainContent grid_8">
			<p></p>
		</div>
		<div class="grid_2">
			<div id="basket">
				<!--<a id="basket-list"-->
					<!--class="closed basket-empty icon icon-static caret_white button"-->
					<!--data-icon="b" href="#/annotations">Basket <span id="basket-count" style="display: inline;">{{basketList.length}}</span></a>-->
        Basket:&nbsp;<span id="basket-count" style="display: inline;">{{basketList.length}}</span><img src="images/shopping2.png" ng-click="showBasket()"/>
			</div>
      <!-- Basket -->
      <!--<%@include file="/templates/basket.jsp"%>-->
        <!--<div ng-include src="'views/basket.html'"></div>-->
      <!--<div id="basket-contents" style="z-index: 3; top: 34px; display: none;">-->
      <div ng-show="isBasketShow" id="basket-contents-show" style="z-index: 3000; top: 34px; ">
        <div id="closeBasket">
          <span class="basketText">(max 400 entries)</span><img src="images/shopping2.png" ng-click="showBasket()"/>
        </div>
        <div id="filledBasketContents" style="display: block;">
          <!--<c:choose>-->
          <!--<c:when test="${empty sessionScope.basketTerms}">-->
          <!--<h3>Your basket is currently empty.</h3>-->
          <!--<p>-->
          <!--You can add a GO term to the Term Basket by clicking on the <element class="icon icon-static" data-icon="b"></element> icon that appears next to its identifier in QuickGO.<br>-->
          <!--</p>-->
          <!--</c:when>-->
          <!--<c:otherwise>-->
          <div id="basketTableDiv">
            <table id="basketTermsTable">
              <thead>
              <tr>
                <th><span id="idHeader"><span class="expanderHeading"><span
                  title="Term ID"
                  class="tooltipped">Term ID</span></span><span class="expander"></span></span></th>
                <th><span id="entry_nameHeader"><span
                  class="expanderHeading"><span
                  title="Term name"
                  class="tooltipped">Term name</span></span><span class="expander"></span></span></th>
                <th>Remove</th>
              </tr>
              </thead>
              <tbody id="basketTermsRows" class="basket-rows">
              <!--<c:forEach var="basketItem" items="${sessionScope.basketTerms}">-->
              <!--<tr><td><a href="<c:url value="/"/>term/${basketItem.key}">${basketItem.key}</a></td><td>${basketItem.value}</td><td><element id="remove_term_${basketItem.key}" class='remove-term enabled icon icon-functional' data-icon='d' title="Remove"></element></td></tr>-->
              <!--</c:forEach>-->
              <tr ng-repeat="basketItem in basketList ">
                <td>{{basketItem.goId}}</td>
                <td>{{basketItem.termName}}</td>
                <td><img src="images/cross.png" ng-click="removeBasketItem(basketItem)"/></td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--</c:otherwise>-->
          <!--</c:choose>-->
          <div class="clearfix"><p/></div>
          Enter a list of terms to be added to your basket:
          <textarea id="termsListToAdd"style="width:80%;height:55px"></textarea>
          <a title="Add terms" class="button add-terms" href="#" id="add-list-terms-button">Add terms</a>
          <script>
            removeTermFromBasketFunctionality();
            addListTermsToBasketFunctionality();
          </script>
        </div>

        <div id="basket-actions" style="display: block;">
          <!--<c:set var="display" value="" />	-->
          <!--<c:if test="${empty sessionScope.basketTerms}">-->
          <!--<c:set var="display" value="disabled" />-->
          <!--</c:if>-->
          <ul class="action-buttons-grouped">
            <!-- <li><a id="basket-download-button" href="#"
                      class="${display} button icon icon-functional download"
                      title="Download results" data-icon="=">Download</a></li>
                  <li id="view-basket-annotations" style="float: right"><a href="" class="button ${display} fullView"
                      title="View annotations">View annotations</a></li>-->
            <li id="clear-basket-button" style="float: right"><a href="#" class="button ${display} clear"
                                                                 title="Clear basket">Clear</a></li>
            <li id="display-terms-graph-basket" style="float: right"><a href="#" class="button ${display}"
                                                                        title="Display terms in Ancestor Chart">Display terms in Ancestor Chart</a></li>

          </ul>
          <script>
            setBasketButtonsFunctionality();
            generateTermsBasketOntologyGraphFunctionality();
          </script>
        </div>
      </div>

		</div>

		<div class="clearfix"></div>

    <!-- Sidebar -->
		<!--<%@include file="/templates/annotation-sidebar.jsp"%>-->
        <div ng-include src="'views/annotation-sidebar.html'"></div>

    <!-- Statistics panel -->
    <!--<%@include file="statistics.jsp"%>-->
        <div ng-include src="'views/statistics.html'"></div>

    <!-- Main Content -->
		<div id="annotationsMainContent" class="mainContent grid_10">
			<ul class="action-buttons-grouped decorated" id="resultActionButtons">
				<li><a id="customize-columns-button" title="Add or remove columns from the results table"
					class="icon icon-functional button tooltipped" data-icon="e">Columns</a></li>
				<li><a id="download-button" title="Download results"
						class="icon icon-functional button tooltipped" data-icon="=">Download</a>
				</li>
			</ul>

      <!-- Download menu -->
			<!--<%@include file="/templates/download.jsp"%>-->
      <div ng-include src="'views/download.html'"></div>

			<span class="status">
				<div class="pagination light-theme simple-pagination" id="light-pagination"></div></span>
			<span class="status">
				<div id="pageCount">Page <strong>{{page}}</strong> of <strong>
                    <!--<fmt:formatNumber value="${totalNumberAnnotations}" type="number"/>-->
                    {{totalAnnotations.total}}
                </strong> annotations</div>
			</span>
			<div id="resultsArea" style="display: block;">
				<!--<input type="hidden" name="current_page" value="${currentPage}" />-->
				<!--<input type="hidden" name="total_number_annotations" value="${totalNumberAnnotations}" />-->
				<!--<c:choose>-->
					<!--<c:when test="${fn:length(sessionScope.annotationsList) == 0}">-->
						<!--<h4>No matching annotations</h4>-->
					<!--</c:when>-->
					<!--<c:otherwise>-->
						<table id="results" class="grid">
						<!--<script>-->
							<!--quickFilteringButtons();-->
							<!--refreshBasketTerms();-->
							<!--addTermsToBasketFunctionality();-->
							<!--addListTermsToBasketFunctionality();-->
							<!--generateOntologyGraphFunctionality();-->
						<!--</script>-->
							<tr>
								<!--<c:forEach var="annotationColumn" items="${sessionScope.annotationsColumns}">-->
									<!--<c:set var="display" value="display:none" />-->
									<!--<c:forEach var="visible" items="${sessionScope.visibleAnnotationsColumns}">-->
										<!--<c:if test="${visible eq annotationColumn}">-->
											<!--<c:set var="display" value="" />-->
										<!--</c:if>-->
									<!--</c:forEach>-->
									<!--<th class="${annotationColumn.name}" style="${display}">${annotationColumn.description}</th>-->
                                <th ng-repeat="colHeading in annotationColumns">
                                    {{colHeading.value}}
                                </th>
								<!--</c:forEach>-->
							</tr>

                            <tr ng-repeat="goTuple in goList">
                                <!--<p>1 + 2 = {{ 1 + 2 }}</p>-->
                                <!--<p>Total number of annotations is {{annotations.length}}-->
                                <!--gene_product_id' : 'A0A001',-->
                                <!--'Symbol' : 'moeA5',-->
                                <!--'Qualifier' : 'enables',-->
                                <!--'GO Identifier' : 'GO:0003824',-->
                                <!--'GO Term Name' : 'catalytic activity ',-->
                                <!--'Aspect':'F',-->
                                <!--'Evidence':'ECO:0000256',-->
                                <!--'Reference':'GO_REF:0000002',-->
                                <!--'With':'InterPro:IPR015421| InterPro:IPR015422',-->
                                <!--'Taxon':'35758',-->
                                <!--'Assigned By' : 'InterPro',-->
                                <!--'Annotation Extension' : ''},-->

                              <!--//{"protein":"A0A000",
                              // "symbol":null,
                              // "qualifier":"enables",
                              // "goId":"GO:0003824",
                              // "termName":null,
                              // "aspect":null,
                              // "evidenceGo":"IEA",
                              // "evidenceEco":"ECO:0000256",
                              // "reference":"GO_REF:0000002",
                              // "with":"InterPro:IPR015421|InterPro:IPR015422",
                              // "taxon":0,
                              // "assignedBy":"InterPro",
                              // "database":"UniProtKB",
                              // "date":"20141025",
                              // "name":null,
                              // "synonym":null,
                              // "type":null,
                              // "taxonName":null,
                              // "sequence":0,
                              // "originalTermId":null,
                              // "originalTermName":null}    -->

                              <!--{"protein":"A0A000","symbol":null,"qualifier":"enables","goId":"GO:0003824","termName":null,"aspect":null,"evidenceGo":"IEA","evidenceEco":"ECO:0000256","reference":"GO_REF:0000002","withList":["InterPro:IPR015421","InterPro:IPR015422"],"taxon":0,"assignedBy":"InterPro","database":"UniProtKB","date":"20141025","name":null,"synonym":null,"type":null,"taxonName":null,"sequence":0,"originalTermId":null,"originalTermName":null}-->


                                <td><a ng-href="http://www.uniprot.org/uniprot/{{goTuple.protein}}" target="_blank">{{goTuple.protein}}</a></td>
                                <td>{{goTuple.symbol}}</td>
                                <td>{{goTuple.qualifier}}</td>
                                <td>
                                  <!--<element id="term_{{goTuple.goId}}"-->
                                           <!--class="add-basket-item icon icon-static enabled"-->
                                           <!--data-icon="b" title="Add term to basket"></element>&nbsp;{{goTuple.goId}}-->


                                  <img src="images/shopping2.png" ng-click="addItem('{{goTuple.goId}}','{{goTuple.termName}}')"/>&nbsp;{{goTuple.goId}}
                                </td>
                                <td>{{goTuple.termName}}</td>
                                <td>{{goTuple.aspect}}</td>
                                <td><a class="ontologygraph" id="ontologygraph_{{goTuple.evidenceEco}}">{{goTuple.evidenceEco}}</a>&nbsp;<a href="http://geneontology.org/page/guide-go-evidence-codes#iea" target="_blank">(IEA)</a></td>
                                <td><a ng-href="http://www.geneontology.org/cgi-bin/references.cgi#{{goTuple.reference}}">{{goTuple.reference}}</a></td>      <!-- "reference":"GO_REF:0000002", --> <!-- http://www.geneontology.org/cgi-bin/references.cgi#GO_REF:0000002  -->
                                <td><span ng-repeat="ref in goTuple.withList">
                                  <a ng-href="{{ref | withUrlFilter}}" target="_blank">{{ref}}</a>
                                  </span>
                                </td>
                                <td>{{goTuple.taxon}}</td>
                                <td>{{goTuple.assignedBy}}</td>
                                <td></td>
                            </tr>
            </table>
							<!--<c:forEach var="annotation" items="${sessionScope.annotationsList}">-->
								<!--<tr>-->
									<!--<c:forEach var="annotationColumn" items="${annotationsColumns}">-->
										<!--<c:set var="display" value="display:none" />-->
										<!--<c:forEach items="${sessionScope.visibleAnnotationsColumns}" var="visible">-->
											<!--<c:if test="${visible eq annotationColumn}">-->
												<!--<c:set var="display" value="" />-->
											<!--</c:if>-->
										<!--</c:forEach>-->

										<!--<td class="${annotationColumn.name}" style="${display}">-->
										<!--<c:if test="${annotationColumn.name == 'goId' || annotationColumn.name == 'originaltermid'}">-->
											<!--<c:set var="clicked" value="enabled" />-->
											<!--<c:if test="${sessionScope.basketTerms[annotation[annotationColumn.id].name] != null}">-->
												<!--<c:set var="clicked" value="disabled" />-->
											<!--</c:if>-->
											<!--<element id="term_${annotation[annotationColumn.id].name}"-->
												<!--class="add-basket-item icon icon-static ${clicked}"-->
													<!--data-icon="b" title="Add term to basket"></element>-->
										<!--</c:if>-->
										<!--<c:choose>-->
											<!--<c:when test="${annotationColumn.showURL}">-->
												<!--<c:choose>-->
													<!--<c:when test="${annotationColumn.name == 'with'}">-->
														<!--<c:forEach items="${annotation[annotationColumn.id]}" var="withElement">-->
															<!--<a href="${withElement.url}" target="_blank">${withElement.name}</a>-->
														<!--</c:forEach>-->
													<!--</c:when>-->
													<!--<c:when test="${annotationColumn.name == 'goId'}">-->
														<!--<a class="ontologygraph" id="ontologygraph_${annotation[annotationColumn.id].name}">${annotation[annotationColumn.id].name}</a>-->
													<!--</c:when>-->
													<!--<c:when test="${annotationColumn.name == 'evidence'}">-->
														<!--<a class="ontologygraph" id="ontologygraph_${annotation.ecoID}">${annotation.ecoID}</a> <a href="${annotation.goEvidence.url}" target="_blank">(${annotation.goEvidence.name})</a>-->
													<!--</c:when>-->
													<!--<c:otherwise>-->
														<!--<a href="${annotation[annotationColumn.id].url}" target="_blank">${annotation[annotationColumn.id].name}</a>-->
													<!--</c:otherwise>-->
												<!--</c:choose>-->
											<!--</c:when>-->
											<!--<c:otherwise>-->
												<!--<c:choose>-->
													<!--<c:when test="${annotationColumn.name == 'extension'}">-->
														<!--<c:choose>-->
															<!--<c:when test="${fn:length(annotation[annotationColumn.id]) != 0}">-->
																<!--<element class='icon icon-functional enabled' data-icon='3' onclick="showExtension('${annotation[annotationColumn.id]}')"/> ${fn:substring(annotation[annotationColumn.id], 0, 30)}...-->
															<!--</c:when>-->
														<!--</c:choose>-->
													<!--</c:when>-->
													<!--<c:otherwise>-->
														<!--${annotation[annotationColumn.id]}-->
													<!--</c:otherwise>-->
												<!--</c:choose>-->
											<!--</c:otherwise>-->
										<!--</c:choose>-->
										<!--</td>-->
									<!--</c:forEach>-->
								<!--</tr>-->
							<!--</c:forEach>-->
						<!--</table>-->
					<!--</c:otherwise>-->
				<!--</c:choose>-->
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<!-- Column display popup -->
	<!--<%@include file="columnDisplay.jsp"%>-->
  <div ng-include src="'views/annotation/columnDisplay.html'"></div>

	<!-- Advanced filters popup -->
	<!--<%@include file="advancedFilters.jsp"%>-->

	<!-- Ontology graphs -->
	<!--<%@include file="/templates/ontologygraph.jsp"%>-->

	<!-- Column display popup -->
	<!--<%@include file="extension.jsp"%>-->

	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  -->


	<!-- Your custom JavaScript file scan go here... change names accordingly -->
	<!--
  <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/plugins.js"></script>
  <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/script.js"></script>
  -->

	<!-- end scripts-->

	<!-- Google Analytics details... -->
	<!-- Change UA-XXXXX-X to be your site's ID -->
	<!--
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
  -->


	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
