<!-- header templates -->
<div id="content" class="container_12" ng-controller="AnnotationListCtrl">
  <!--<div ng-include src="'views/header.html'"></div>-->

  <div class="sidebar grid_2">
    <h2 class="page-title">
      <!--Results <img id="loading-image" src="images/ajax-loader.gif" alt="Loading..." height="42" width="42" />-->
    </h2>
  </div>

  <div class="clearfix"></div>

  <!-- Sidebar -->
  <div ng-include src="'views/annotation-sidebar.html'"></div>

  <!-- Statistics panel -->
  <div ng-include src="'views/statistics.html'"></div>

  <!-- Main Content -->
  <div id="annotationsMainContent" class="mainContent grid_10">
    <ul class="action-buttons-grouped decorated" id="resultActionButtons">
      <li><a id="customize-columns-button" title="Add or remove columns from the results table"
             class="icon icon-functional button tooltipped" data-icon="e">Columns</a></li>
      <li><a id="download-button" title="Download results"
             class="icon icon-functional button tooltipped" data-icon="=">Download</a>
      </li>
    </ul>

    <div ng-include src="'views/download.html'"></div>


    <!--Basket start -->

    <!--<span id="basket">-->
      <!--Basket:&nbsp;<span id="basket-count" style="display: inline;">{{countBasket}}</span><img src="images/shopping2.png" ng-click="showBasket()"/>-->
      <!--Basket:&nbsp;<span id="basket-count" style="display: inline;">{{countBasket}}</span>-->
      <!--<button ui-sref="Modal.basket">Show Basket</button>-->
      <!--<div ui-view="modal" autoscroll="false"></div>-->
      Basket:&nbsp;<span id="basket-count" style="display: inline;">{{countBasket}}</span>&nbsp;&nbsp;<button class="btn btn-default" ng-click="showBasket()">Show Basket</button>
    <!--</span>-->

    <!--<div ng-include src="'views/basket.html'"></div>-->

    <!--Basket end -->


        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>


      <table id="results" class="grid">
        <tr>
          <th ng-repeat="colHeading in annotationColumns">
            {{colHeading.value}}
          </th>

        </tr>
        <tr dir-paginate="goTuple in goList | itemsPerPage: 25" total-items="totalAnnotations">

          <td><a ng-href="http://www.uniprot.org/uniprot/{{goTuple.protein}}" target="_blank">{{goTuple.protein}}</a>
          </td>
          <td>{{goTuple.symbol}}</td>
          <td>{{goTuple.qualifier}}</td>
          <td style="white-space: nowrap;"><img src="images/shopping2.png" ng-click="addItem('{{goTuple.goId}}','{{goTuple.termName}}')"/>{{goTuple.goId}}</td>
          <td>{{goTuple.termName}}</td>
          <td>{{goTuple.aspect}}</td>
          <td><a class="ontologygraph" id="ontologygraph_{{goTuple.evidenceEco}}">{{goTuple.evidenceEco}}</a>&nbsp;<a
            href="http://geneontology.org/page/guide-go-evidence-codes#iea" target="_blank">(IEA)</a></td>
          <td><a ng-href="http://www.geneontology.org/cgi-bin/references.cgi#{{goTuple.reference}}">{{goTuple.reference}}</a>
          </td>

          <!-- "reference":"GO_REF:0000002", -->
          <!-- http://www.geneontology.org/cgi-bin/references.cgi#GO_REF:0000002  -->
          <td><span ng-repeat="ref in goTuple.withList">
                                  <a ng-href="{{ref | withUrlFilter}}" target="_blank">{{ref}}</a>
                                  </span>
          </td>
          <td>{{goTuple.taxon}}</td>
          <td>{{goTuple.assignedBy}}</td>
          <td></td>
        </tr>
      </table>

  </div>
  <div class="clearfix"></div>
</div>

<!-- Column display popup -->
<!--<%@include file="columnDisplay.jsp"%>-->
<div ng-include src="'views/annotation/columnDisplay.html'"></div>

<!-- Advanced filters popup -->
<!--<%@include file="advancedFilters.jsp"%>-->

<!-- Ontology graphs -->
<!--<%@include file="/templates/ontologygraph.jsp"%>-->

<!-- Column display popup -->
<!--<%@include file="extension.jsp"%>-->

<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../js/libs/jquery-1.6.2.min.js"><\/script>')</script>
-->


<!-- Your custom JavaScript file scan go here... change names accordingly -->
<!--
<script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/plugins.js"></script>
<script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/script.js"></script>
-->

<!-- end scripts-->

<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your site's ID -->
<!--
<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
-->


<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload', function () {
  CFInstall.check({mode: 'overlay'})
})</script>
<![endif]-->
