<span ng-click="openBasket()"> Basket &nbsp;
<span id="basket" class="pop-basket" ng-show="countBasket>0"><strong>{{countBasket}}</strong></span></span>

<script type="text/ng-template" id="basketModalContent.html">
  <div class="quickgo-modal" cg-busy="basketPromises">
    <div id="basket-contents-show" cg-busy="basketPromise">
      <div class="row column small-12">
        <h2>Basket <small>(maximum 400 entries)</small></h2>
        <button ng-click="ok()" class="close-button" aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Show message if the basket is empty-->
      <div ng-show="basketItems.length <= 0" class="row column small-12">
        <h3> Your basket is currently empty.</h3>
        <p>You can add a GO term to the Term Basket by clicking on the
          <element class="icon icon-static" data-icon="b"></element> icon that appears next to its identifier in QuickGO.</p>
      </div>
      <!--List GO Terms in the basket-->
      <div ng-show="basketItems.length > 0" class="row">
        <div class="column small-12 overflow-pane">
          <table id="basketTermsTable">
            <thead>
              <tr>
                <th>Term ID</th>
                <th>Term name</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody id="basketTermsRows" class="basket-rows">
              <tr ng-repeat="basketItem in basketItems">
                <td><a href="term/{{basketItem.id}}" class="quickgo-link selectable" ng-click="ok()">{{basketItem.id}}</a></td>
                <td>{{basketItem.name}}</td>
                <td><a ng-click="removeItem(basketItem)" class="icon icon-functional basket-remove" data-icon="d"></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row column small-12">
          <div class="float-right">
            <chart-icon ids="{{basketIds}}"></chart-icon>
            <button class="button" ng-click="filterUsingBasketTerms()">Filter With Terms</button>
            <a class="button" ng-href="{{getJsonBasket()}}" target="_blank">JSON</a>
            <button class="button" ng-click="exportBasket()">Export</button>
            <button class="button" ng-click="emptyBasket()">Clear</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="row columns small-12">
        <!-- Enter GO Terms Directly-->
        <div>
          <label>Enter a list of terms to be added to your basket:
            <textarea ng-model="form.inputTerms" placeholder="e.g. GO:0016887,GO:0000166, ..."></textarea>
          </label>
        </div>
        <button class="button float-right" ng-click="submit()">Add Terms</button>
      </div>
    </div>
    <!--End of basket-->
  </div>
</script>
