<div id="content" class="container_24" cg-busy="queryPromise">
  <h2>Results gene produc "{{searchTerm}}"</h2>

  <div class="grid_4">

      <div ng-repeat="facet in results.facet.facetFields">
        <h4 class="capitalize">{{facet.field}}</h4>
        <ul>
          <li ng-repeat="category in facet.categories" ng-click="applyFacet(facet.field.categories, category.key)" ng-switch="isSelected(facet.field, category.name)">
            <strong ng-switch-when="true">{{category.name}} ({{category.count}})</strong>
            <a ng-switch-when="false" ng-href="#/searchterms/{{searchTerm}}?filters={{getFilterUrl(facet.field, category.name)}}">{{category.name}} ({{category.count}})</a>
          </li>
        </ul>
      </div>
  </div>

  <!-- Main Content -->
  <div id="searchResultsMainContent" class="grid_20">
    <div>
      <p>
        <strong>{{results.numberOfHits}}</strong> results</strong>
      </p>
      <table id="searchResults" class="two-colours">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Taxon</th>
          <th>Source</th>
          <th>Annotations</th>
        </tr>
        <tr ng-repeat="searchResult in results.results">
          <td><a href="http://www.uniprot.org/uniprot/{{searchResult.dbObjectId}}" target="_blank">{{searchResult.dbObjectId}}</td>
          <td ng-bind-html="highlight(searchResult.dbObjectName)"></td>
          <td>{{searchResult.dbObjectType}}</td>
          <td>{{searchResult.taxonName}}</td>
          <td>{{searchResult.db}}</td>
          <td><a href="#/annotations/filter?gpID={{searchResult.dbObjectId}}" class="annotations-link"><annotations-link productid="{{searchResult.dbObjectId}}"></annotations-link></a></td>
        </tr>
      </table>
      <uib-pagination total-items="results.numberOfHits" max-size="5" items-per-page="maxSize" rotate="false" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
